﻿@model Ecom.ViewModels.HomeVM

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@section Banners{

    @*<div id="Banners">
        <img src="~/images/Banners/b1.jpg" alt="" />
    </div>*@
      


    <div id="slides">
        <input checked type="radio" name="slider" id="slide1" class="set" />
        <input type="radio" name="slider" id="slide2" class="set" />
        <input type="radio" name="slider" id="slide3" class="set" />

        <div class="mask">

            <div class="overflow">

                <div class="slide slide1">
                    <div class="SlideHeader">
                        YOU JUST FOCUS<br />
                        ON YOUR SHIPPINGS
                    </div>
                    <p>
                        Rest of it will be handled<br />
                        <b>SHOPIX.IO</b>, an ecommerce platform which is<br />
                        focused on customer convertion<br />
                    </p>
                    <a href="#ShopDetails" class="SlideButton">SEE HOW IT WORKS</a>
                </div>

                <div class="slide slide2">
                    <div class="SlideHeader">
                        YOUR TEAM CAN FOCUS<br />
                        OTHER THINGS
                    </div>
                    <p>
                        <b>SHOPIX.IO</b> provides site-In UX, fast performaing web pages<br />
                        rich SEO features<br />
                        integration with many services.<br />
                    </p>
                    <a href="#Pricing" class="SlideButton">SEE OUR PLANS</a>

                </div>
              

            </div>

        </div>

        <div id="controls" onclick="">
            <label for="slide1">
                <img src="~/images/arrow-left.svg" alt=""/>
            </label>
            <label for="slide2">
                <img src="~/images/arrow-left.svg" alt="" />
            </label>
        </div>

    </div>
}

<div class="row" id="ShopFeatures">
    <div class="four columns">
        <div class="FeatureItem">

            <img src="~/images/shop-icon.svg" alt="shop" />
            <h2>
                YOUR STORE
            </h2>
            <p>
                Buil your online<br />store in minutes.
            </p>
        </div>
    </div>

    <div class="four columns">
        <div class="FeatureItem">

            <img src="~/images/cash-icon.svg" alt="shop" />
            <h2>
                WE CONVERT
            </h2>
            <p>
                We wil be taking care<br />of your convertions.
            </p>
        </div>
    </div>

    <div class="four columns">
        <div class="FeatureItem">

            <img src="~/images/manage-icon.svg" alt="shop" />
            <h2>
               MANAGE EASILY
            </h2>
            <p>
                We provide a management<br />area with rich features
            </p>
        </div>
    </div>

</div>

<div id="Pricing">
    <h2>
        PRICING
    </h2>
    <p>
        We have flexiable pricing options, for every shop,
        start with 3 month free & see what happens.
    </p>
    <div id="PricingItems" class="container">

        <div class="row">

            <div class="four columns">
                <div class="PricingItem">
                    <h2>
                        SMALL
                    </h2>

                    <p>
                        Max 1000 Product<br />
                        Use your own domain<br />
                        Only 1 Language Support<br />
                        Only 1 Currency Support<br />
                        Up to 2 GB storage<br />
                        Up to 100 GB Bandwidth<br />
                        No CDN support<br />

                    </p>

                    <div class="price row">
                        <div class="four columns first offset-by-two">
                            $49.90
                        </div>
                        <div class="four columns second">
                            Month
                        </div>
                    </div>
                </div>
            </div>

            <div class="four columns">
                <div class="PricingItem">
                    <h2>
                        PROFESSIONAL
                    </h2>

                    <p>
                        Max 20.000 Product<br />
                        Use your own domain<br />
                        Language Support<br />
                        Currency Support<br />
                        Up to 20 GB storage<br />
                        Up to 500 GB Bandwidth<br />
                        CDN support<br />


                    </p>

                    <div class="price row">
                        <div class="four columns first offset-by-two">
                            $149.90
                        </div>
                        <div class="four columns second">
                            Month
                        </div>
                    </div>
                </div>
            </div>

            <div class="four columns">
                <div class="PricingItem">
                    <h2>
                        ENTERPRISE
                    </h2>

                    <p>
                        Unlimited Product<br />
                        Use your own domain<br />
                        Language Support<br />
                        Currency Support<br />
                        Unlimited storage<br />
                        Unlimited Bandwidth<br />
                        CDN support<br />

                    </p>

                    <div class="price row">
                        <div class="four columns first offset-by-two">
                            $449.90
                        </div>
                        <div class="four columns second">
                            Month
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>   
</div>

<div id="ShopDetails">

    <h1>
        HOW DO WE INCREASE YOUR SHOPIX?
    </h1>
    <p>
        Have you bored of over loaded e-commerce platforms,<br />which are trouble for your clients? Here you can find what do we do differently!
    </p>

    <div class="row" id="DetailItems">

        <div class="six columns">

            <div class="DetailItem">

                <img src="~/images/icon-performance.svg" />
                <h2>
                    PERFORMANCE !
                </h2>
                <p>
                    We believe that performance is the key
                    for customer convertion. Eventough it seems to be easy,
                    it cannot be achieved by many of the ecommerce
                    platforms. See your demos we also believe that
                    we convince you by the experience.
                    We do a lot of tweaks on client and server side
                    to achieve such a good experience for your customers.
                </p>
            </div>

            <div class="DetailItem">

                <img src="~/images/icon-integration.svg" />
                <h2>
                    INTEGRATION
                </h2>
                <p>
                    We create integrations for famous markets like
                    amazon, ebay, etc. You can send your products to markets.
                    You can recieve your orders from markets on our management area.
                    You can change visibility of products for each markets. 
                    See our plan details for supported markets by default.
                </p>
            </div>

            <div class="DetailItem">

                <img src="~/images/icon-language.svg" />
                <h2>
                    LANGUAGE SUPPORT
                </h2>
                <p>
                   We provide rich language support by simple lang code on the urls. It also fits for google optimization.
                    To increase your visibility on search engines or to provide more localized services for your customer
                    You can customize each products, can manage meta description rules for each language. See our plans for more.
                </p>
            </div>

            <div class="DetailItem">

                <img src="~/images/icon-domains.svg" />
                <h2>
                    DOMAINS
                </h2>
                <p>
                   When it comes to domains we provide single management for all of your domains. You can manage multiple domains from our management console.
                   You can have different campaigns, banners, catalogs and listings, language support for domains. 
                </p>
            </div>

        </div>


        <div class="six columns">
            <div class="DetailItem">

                <img src="~/images/icon-seo.svg" />
                <h2>
                    SEO COMPABILITY
                </h2>
                <p>
                   Discover our semantic server rendered pages for good seo integration. We provide fast server response time,
                   fast client loading time, correct tagging for h1, titles, article, product etc. rich snippest support.
                   We provide good templates which is compatible with google page speed. In terms in site-in SEO we create best architechture.
                </p>
            </div>

            <div class="DetailItem">

                <img src="~/images/icon-admin.svg" />
                <h2>
                    MANAGEMENT
                </h2>
                <p>
                   Reports, Sales, Campaigns, Domains, Language, Currencies can be managed easily via our management console. Discover the fastest console on the market.
                   We also care about you alongside with your customers. We are always trying to reduce complexity, and trying to increase your experince on the management console.
                </p>
            </div>

            <div class="DetailItem">

                <img src="~/images/icon-currency.svg" />
                <h2>
                    CURRENCY SUPPORT
                </h2>
                <p>
                  You can declare and manage multiple currencies on the system. You can choose default currency for language or domain.
                  You can provide product prices in different currencies or you can choose to automate price convertion.
                </p>
            </div>


            <div class="DetailItem">

                <img src="~/images/icon-payments.svg" />
                <h2>
                    PAYMENTS
                </h2>
                <p>
                  We provide payment integration with PayU, IyziCo, many banks, check our plans for the full list.
                  You can declare any of supported payments on management console.
                </p>
            </div>


        </div>


    </div>
</div>



<div id="About">
    <h2>
        ABOUT US
    </h2>
    <p>
       As SHOPIX.IO be provide a powerfull platform which targets customer convertion by it's unqieue architechture. Our founder has worked with many
       e-commerce company alongside with SEO agencies and marketing agencies for many years. We truly believe that technology of used platform affects customers' exprience.
       Therefore we always target good UX and fast infrastructure to complete process easily. We provide long trying periods before for you to try and convince.
       We help our customers to increase their convertions, user satisfaction and achieve best seo compability. Check our references for the details.
    </p>

</div>

 
<div id="Contact">
    <h2>
        CONTACT US
    </h2>
    <p>
       Contact us to get detailed information about our platform. 
       Callus on : +1 0000 00000 000
    </p>

</div>