﻿@model AccountPageVM

@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

<div id="Account">

    <div class="row">
        <div class="col-md-6">
            @Html.Partial("UserLeftMenus")
        </div>

        <div class="col-md-17 offset-sm-1">
            @if (Model.orderDetail != null)
            {
                var ord = Model.orderDetail;

            <div id="OrderDetails">



                <table class="table">
                    <tbody>
                        <tr>
                            <td>@localizer["SiparisKodu"]</td>
                            <td>@localizer["SiparisTarihi"]</td>
                            <td>@localizer["SiparisDurumu"]</td>
                        </tr>
                        <tr class="topLine">
                            <td>@ord.TrackCode</td>
                            <td>@ord.CreatedOn</td>
                            <td>@ord.PaymentStatus</td>
                        </tr>
                    </tbody>
                </table>


                <table class="table">
                    <thead>
                        <tr>
                            <td>@localizer["Urun"]</td>
                            <td>@localizer["UrunAdi"]</td>
                            <td>@localizer["Fiyat"]</td>
                            <td style="text-align: center">@localizer["Adet"]</td>
                            <td style="text-align: center">@localizer["ToplamTutar"]</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ord.OrderedItems)
                        {

                            <tr class="topLine">
                                <td>
                                    <img style="width:60px;" alt="@item.ProductName" class="PrImg" src="@item.ImagePath" />
                                </td>

                                <td>
                                    <span>@item.ProductName</span><br />
                                    <span>@item.ProductCode</span><br />
                                    <span>
                                        <text>  @item.ColorName /  @item.SizeName</text>
                                    </span>
                                    <br />
                                </td>
                                <td><span>@Html.Raw(Model.CurrencySymbol) @item.Amount.ToString("n2")</span></td>
                                <td class="BasketDetails" style="text-align: center">
                                    @item.Quantity
                                </td>
                                <td><span class="sepetAraToplam" style="text-align: center">@Html.Raw(Model.CurrencySymbol) <span>@item.SubTotal.ToString("n2")</span></span></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <td class="SepetTutarBaslik"><span>@localizer["KargoTutari"] :</span></td>
                            <td class="SepetTutar"><span id="SepetToplamKargoTutar">@Html.Raw(Model.CurrencySymbol) @ord.CargoAmount</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td class="SepetTutarBaslik"><span>@localizer["ToplamTutar"] :</span></td>
                            <td class="SepetTutar ozet"><span id="SepetToplamTutar">@Html.Raw(String.Format("{0} {1}", Model.CurrencySymbol, ord.TotalAmount.ToString("n2")))</span></td>
                        </tr>
                    </tfoot>
                </table>

                @if (ord.BillingAddress != null && ord.DeliveryAddress != null)
                {
                    <table id="Address" class="table">
                        <tbody>
                            <tr>
                                <td colspan="3">@localizer["TeslimatAdresi"]</td>
                            </tr>
                            <tr class="topLine">
                                <td>@ord.BillingAddress.Detail @ord.BillingAddress.TownName / @ord.BillingAddress.CityName</td>
                                <td>@ord.BillingAddress.Phone</td>
                            </tr>
                            <tr>
                                <td colspan="3">@localizer["FaturaAdresi"]</td>
                            </tr>
                            <tr class="topLine">
                                <td>@ord.DeliveryAddress.Detail @ord.DeliveryAddress.TownName/ @ord.DeliveryAddress.CityName</td>
                                <td>@ord.DeliveryAddress.Phone</td>
                            </tr>

                        </tbody>
                    </table>
                }


            </div>
            }
            else
            {
                <div class="BlankContent">
                    order cannot found
                </div>
            }
        </div>
    </div>

</div>
