﻿@model AccountPageVM

@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

<div id="Account">

    <div class="row">
        <div class="col-md-6">
            @Html.Partial("UserLeftMenus")
        </div>

        <div class="col-md-17 offset-sm-1">
            @if (Model.orders.Any())
            {
                <div id="OrderList">

                    <table class="table" id="OrderListTbl">
                        <thead>
                            <tr>
                                <th class="ListTrackCode">@localizer["TrackCode"]</th>
                                <th class="hidden-xs FollowTd">@localizer["Date"]</th>
                                <th class="PaymentStatusTd">@localizer["SiparisDurumu"]</th>
                                <th class="OperationTd">@localizer["Islemler"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.orders)
                            {
                                <tr>
                                    <td class="ListTrackCode">

                                        <a class="TrackCodeLink hidden-xs" href="@Href("~/" + Model.LangCode+ "/orders/details/" + item.ID)">
                                            @item.TrackCode
                                        </a>



                                    </td>
                                    <td class="hidden-xs FollowTd">
                                        <span class="FollowDate">
                                            @((item.CreatedOn != null) ? item.CreatedOn.ToString("dd MMMM yyyy HH:mm") : "")
                                        </span>

                                    </td>
                                    <td class="PaymentStatusTd">@Utils.GetEnumDescription(item.PaymentType)</td>
                                    <td class="OperationTd">

                                        @if (item.PaymentStatus == SiparisOdemeDurumu.OdemeBekliyor && item.PaymentType == PaymentType.Havale)
                                        {
                                            <a data-target="#UserOrderModal" class="btn TransferDetailModal"
                                               href="@Href("~/" + Model.LangCode + "/Orders/MoneyTransferInfo?TrackCode=" + item.TrackCode)"
                                               data-toggle="modal">
                                                @localizer["HavalaBildirimi"]
                                            </a>
                                        }

                                        <a href="#long"
                                           class="blueButton btn btn-success"
                                           data-trackfile="@Href("~/" + Model.LangCode+ "/orders/cargo?TrackCode=" + item.TrackCode+"&OrderID="+ item.ID)"
                                           data-toggle="modal"
                                           data-target="">
                                            @localizer["KargoTakibi"]
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>



                </div>
            }
            else
            {
                <div class="BlankContent">
                    There is no order currently
                </div>
            }
        </div>
    </div>

</div>
