﻿@*@section CssFiles
    {
        <link href="~/Content/css/LoginRegisterModalAllSite.css" rel="stylesheet" />
    }*@

@model Ecom.ViewModels.LoginPageVM

 
    <div class="Big container Login" id="LoginRegisterCon">

        <div class="row">

            <div class="col-md-12">
                <h1>SIGN IN</h1>
                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @id = "LoginRegisterForm" }))
                {

                    @Html.AntiForgeryToken()
                    <input type="hidden" name="PriceCurrencyID" value="@Model.CurrencyId" />
                    @*<input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />*@

                    if (!String.IsNullOrEmpty(ViewBag.LoginErrors))
                    {
                        <div class="alert alert-danger alert-block">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <span>@ViewBag.LoginErrors</span>
                        </div>
                    }

                    @Html.TextBox("UserName", Model.loginVM?.UserName, new { @class = "block-level", @placeholder = "Username / Email", @required = "required" })
                    @Html.Password("PassWord", null, new { @class = "block-level", @placeholder = "Password", @required = "required" })

                    <div class="checkbox">
                        <label><input type="checkbox" name="RememberMe" value="true">Remember me</label>
                    </div>

                    <button type="submit" id="LoginButton">LOGIN</button>

                    <p>
                        Having trouble? <a href="/PasswordReset">Reset your password</a>
                    </p>
                }


            </div>
            <div class="col-md-12 text-center">

                <a href="/Register" id="RegisterLoginNow">
                    REGISTER NOW
                </a>
            </div>
        </div>
    </div>

 