﻿@*@section CssFiles
    {
        <link href="~/Content/css/LoginRegisterModalAllSite.css" rel="stylesheet" />
    }*@

@model Ecom.ViewModels.LoginPageVM


<div class="Big container" id="LoginRegisterCon">

    <div class="row">

        <div class="col-md-12 text-center">

            <a href="/Login" id="RegisterLoginNow" class="LoginNow">
                LOGIN NOW
            </a>
        </div>

        <div class="col-md-12">
            <h1>SIGN UP</h1>
            @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @id = "LoginRegisterForm" }))
            {

                @Html.AntiForgeryToken()

                if (!String.IsNullOrEmpty(ViewBag.RegisterErrors))
                {
                    <div class="alert alert-danger alert-block">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span>@ViewBag.RegisterErrors</span>
                    </div>
                }

                @Html.TextBox("Name", Model.registerVM?.Name, new { @class = "UserNameInput", @placeholder = "Name Surname", @autocomplete = "off", @required = "required" })

                @Html.TextBox("UserName", Model.registerVM?.UserName, new { @class = "", @placeholder = "Email", @autocomplete = "off", @required = "required" })

                @Html.Password("Password", "", new { @class = "", placeholder = "Password", @autocomplete = "off", @required = "required" })

                <div class="checkbox">
                    <label>
                    @Html.CheckBox("AllowTerms", Model.registerVM?.AllowTerms ?? false)I accepts Terms &amp; Conditions</label>
                </div>

                <button type="submit" id="LoginButton">REGISTER</button>

                <p>
                    Already registered ? <a href="/Login">Login</a>
                </p>
            }


        </div>

    </div>
</div>


 