﻿@model Ecom.ViewModels.Pages.CartVM
@{
    Layout = null;
}
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

<div id="Cart">
    @if (Model != null)
    {
        var cart = Model;

        @if (Model.OperationResult !=null && !Model.OperationResult.Status && Model.OperationResult.ResultDescription.Any())
        {
            <p class="alert alert-danger">
                @foreach (var item in Model.OperationResult.ResultDescription)
                {
                    @item <br />
                }
            </p>
        }

        @if (cart != null && cart.Products.Any())
        {
            @*<div id="CartHeader">
                    SEPET @cart.TotalItem
                </div>*@
            <div id="CartProducts">

                @foreach (var item in cart.Products)
                {
                    <div class="row CartItem">
                        <div class="col-sm-4">
                            <a href="@item.Url"><img src="@item.ImagePath" alt="" /></a>
                        </div>
                        <div class="col-sm-10 offset-sm-1">

                            <a href="@item.Url" class="Name">@item.ProductName</a>
                            <a href="@item.Url" class="Code">@item.ProductCode</a>
                            <p class="SizeAndColor">
                                <span title="@localizer["DecreaseQuantityBy1"]" class="quantity-btn minus">-</span><span class="Quantity">@item.Quantity</span><span title="@localizer["IncreaseQuantityBy1"]" class="quantity-btn plus">+</span>
                                <span class="Cros">@localizer["Quantity"]</span> <span class="Size">@item.SizeName</span> <span class="Slash">/</span> <span class="Color">@item.ColorName</span>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div id="Price">

                                @if (item.Amount != item.SubTotal)
                                {
                                    @if (item.AmountOld.HasValue && item.AmountOld > item.Amount)
                                    {
                                        <span class="old">@item.CurrencySymbol @item.SubTotalOld</span>
                                    }
                                    <p> @item.Quantity X  @item.Amount  <span class="bold">@item.CurrencySymbol @item.SubTotal</span> </p>
                                }
                                else
                                {
                                    @if (item.AmountOld.HasValue && item.AmountOld > item.Amount)
                                    {
                                        <span class="old">@item.CurrencySymbol @item.AmountOld</span>
                                    }
                                    <p class="bold">@item.CurrencySymbol @item.Amount</p>
                                }
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button data-id="@item.ID" class="DeleteCartItem btn btn-sm btn-danger">@localizer["Delete"]</button>
                        </div>
                    </div>
                }

            </div>
            <div id="CartBottom">
                <div id="Total" class="row">
                    <div class="col-sm-12">
                        <p class="TotalAmount">@localizer["GeneralTotal"]</p>
                        <p class="ItemsCount"><span id="ItemCount">@cart.TotalItem</span> @localizer["Items"]</p>
                    </div>
                    <div class="col-sm-12">
                        <p class="TotalAmountValue">
                            @(cart.CurrencySymbol ?? cart.CurrencyCode) @cart.TotalAmount
                        </p>
                        <p class="Vat">@localizer["VATIncluded"]</p>
                    </div>
                </div>
                <a href="/@(cart.LangCode!=cart.Domain?.LangCode?cart.LangCode+"/":"")checkout" class="btn btn-primary btn-block">@localizer["GoToCheckOut"]</a>
            </div>
        }
        else
        {
            <div id="BlankCartBody">@localizer["CartIsBlank"]</div>
        }

    }

</div>