﻿@*@section CssFiles
    {
        <link href="~/Content/css/LoginRegisterModalAllSite.css" rel="stylesheet" />
    }*@

@model Ecom.ViewModels.LoginViewModel

 
    <div class="Big Login" id="LoginRegisterCon">

        <div class="row">

            <div class="eight columns">
                @*<h1>SIGN IN</h1>*@
                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @id = "LoginRegisterForm" }))
                {

                    @Html.AntiForgeryToken()
                    @*<input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />*@

                    if (!String.IsNullOrEmpty(ViewBag.LoginErrors))
                    {
                        <div class="dang">
                            <span>@ViewBag.LoginErrors</span>
                        </div>
                    }
 
                    @Html.TextBoxFor(m => m.UserName, new { @class = "block-level", @placeholder = "Username / Email", @required="required" , max_length=25})
                    @Html.PasswordFor(m => m.PassWord, new { @class = "block-level", @placeholder = "Password", @required = "required", max_length=25 })

                    <div class="checkbox">
                        <label><input type="checkbox" name="RememberMe" value="true">Remember me</label>
                    </div>

                    <button type="submit" id="LoginButton">LOGIN</button>

                    <p>
                        Having trouble? <a href="/PasswordReset">Reset your password</a>
                    </p>
                }


            </div>
            <div class="four columns text-center">

                <a href="/Register" id="RegisterLoginNow">
                    CREATE A STORE
                </a>
            </div>
        </div>
    </div>

 