﻿@*@section CssFiles
    {
        <link href="~/Content/css/LoginRegisterModalAllSite.css" rel="stylesheet" />
    }*@

@model Ecom.ViewModels.RegisterStoreStoreVM


<div class="Big" id="LoginRegisterCon">

    <div class="row">

        @if (ViewBag.RegisterSucceed != null)
        {
        <div class="suc">
            Your details will be reviewed and you will get confirmation mail soon. 
            You can login after we've confirmed your account.
            <br />
            You will also need to confirm your email. contact us if you don't get the email.

        </div>
        }
        else
        {

            <div class="four columns text-center">

                <a href="/Login" id="RegisterLoginNow" class="LoginNow">
                    LOGIN NOW
                </a>
            </div>

            <div class="eight columns">
                @*<h1>CREATE AN ACCOUNT REQUEST</h1>*@



                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @id = "LoginRegisterForm" }))
                {

                    @*<div class="warn">
                Your details will be reviewed and you will get confirmation mail soon.
                Please do not forget to confirm your email.
            </div>*@

                    @Html.AntiForgeryToken()
                    @*<input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />*@

                    if (!String.IsNullOrEmpty(ViewBag.RegisterErrors))
                    {
                        <div class="dang">
                            <span>@ViewBag.RegisterErrors</span>
                        </div>
                    }

                    <h2>Your user details</h2>


                    @Html.TextBoxFor(m => m.Name, new { @class = "UserNameInput", @placeholder = "Name Surname", @required = "required", maxlength=30 })

                    @Html.TextBoxFor(m => m.UserName, new { @class = "", @placeholder = "Email / Username", @required = "required" , maxlength=25, type="email"})

                    @Html.Password("Password", "", new { @class = "", placeholder = "Password", @autocomplete = "off", @required = "required" , maxlength=25})

                    <h2>Your store details</h2>


                    @Html.TextBoxFor(m => m.StoreName, new { @class = "", @placeholder = "Your Store Name", @required = "required", maxlength=25 })

                    <div id="StoreNamePreview">
                        https://<b>@ViewBag.StoreUrl</b>.convertion.io <span>(you can add domain later on.)</span>
                    </div>

                    @*@Html.TextBoxFor(m => m.CompanyName, new { @class = "", @placeholder = "Company Name", @required = "required" })*@
                    @*@Html.TextBoxFor(m => m.CompanyTaxInfo, new { @class = "", @placeholder = "Company Tax Information", @required = "required" })*@

                    @Html.DropDownList("CountryId", ViewBag.CountryId as List<SelectListItem>, new { @placeholder = "Country", @required = "required" });

                    @*@Html.TextBoxFor(m => m.CompanyEMail, new { @class = "", @placeholder = "Company Email", @required = "required" })
                    @Html.TextBoxFor(m => m.CompanyPhone, new { @class = "", @placeholder = "Company Phone", @required = "required" })
                    @Html.TextBoxFor(m => m.CompanyAddress, new { @class = "", @placeholder = "Company Address", @required = "required" })*@


                    //[Required]
                    //[StringLength(100)]
                    //public string CompanyName { get; set; }

                    //public string CompanyTaxInfo { get; set; }

                    //[StringLength(100)]
                    //public string CompanyEMail { get; set; }

                    //[Required]
                    //[StringLength(100)]
                    //public string CompanyAddress { get; set; }

                    //[Required]
                    //[StringLength(100)]
                    //public string CompanyPhone { get; set; }

                    //public int? CountryId { get; set; }

                    //public int? CityId { get; set; }

                    //public int? TownId { get; set; }


                    @*@Html.TextBoxFor(m => m.Telephone, new { @class = "", @placeholder = "Mobile Phone Number", @autocomplete = "off", @required = "required" })*@


                    <div class="checkbox">

                        <label>
                            @Html.CheckBoxFor(m => m.AllowTerms, new { @required = "required" }) I accepts Terms &amp; Conditions
                        </label>

                        <a href="/terms" target="_blank">Click here to read terms</a>
                    </div>


                    <button type="submit" id="LoginButton">REGISTER</button>

                    <p>
                        Already registered ? <a href="/Login">Login</a>
                    </p>
                }


            </div>

        }
    </div>
</div>


 