﻿@model AccountPageVM
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
@{ 
    var yenisifre = localizer["YeniSifre"].Value;
    var eskiSifre = localizer["EskiSifre"].Value;
    var yeniSifreTekrar = localizer["YeniSifreTekrar"].Value;
}
<div id="Account">

    <div class="row">
        <div class="col-md-6">
            @Html.Partial("UserLeftMenus")
        </div>

        <div class="col-md-17 offset-md-1">

            <fieldset>
                <legend class="form-title">
                    @localizer["SifreDegistir"]
                </legend>

                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", @id="ChangePassForm", @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()

                    if (Model.ChangePasswordResult!=null && !Model.ChangePasswordResult.Status)
                    {
                        <div class="alert alert-danger alert-block">
                            <span>@Html.Raw(Model.ChangePasswordResult.GetErrors())</span>
                        </div>
                    }
                    else if (Model.ChangePasswordResult!=null && Model.ChangePasswordResult.Status)
                    {
                        <div class="alert alert-success alert-block">
                            <span>@Html.Raw(Model.ChangePasswordResult.GetErrors())</span>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-14 col-md-offset-5 FormFields">

                            <div class="form-group TopSpace">
                                <label class="control-label">@localizer["EskiSifre"]</label>
                                <div class="controls">
                                    @Html.Password("OldPassword", null, new { @required="required",  @class = "form-control", @placeholder = eskiSifre, @autocomplete = "off" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">@localizer["YeniSifre"] <span class="SmallText">(@localizer["MinAltiKarakter"])</span></label>
                                <div class="controls">
                                    @Html.Password("NewPassword", null, new {  @required="required", @class = "form-control", @placeholder = yenisifre, @autocomplete = "off" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">@localizer["YeniSifreTekrar"] <span class="SmallText">(@localizer["MinAltiKarakter"])</span></label>
                                <div class="controls">
                                    @Html.Password("ConfirmPassword",null, new {  @required="required", @class = "form-control", @placeholder = yeniSifreTekrar , @autocomplete = "off" })
                                </div>
                            </div>

                            <div class="FormButtons form-group">

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-ok"></i>@localizer["Degistir"]</button>
                                </div>

                            </div>

                        </div>
                    </div>
                }
            </fieldset>




        </div>
    </div>

</div>
