﻿@model AccountPageVM

<div id="Account">

    <div class="row">
        <div class="col-md-6">
            @Html.Partial("UserLeftMenus")
        </div>

        <div class="col-md-17 offset-md-1 text-center">
            <br /><br />
            <h4>
                Welcome to your account page.
            </h4>
            <h5>
                Use left menu to navigate
            </h5>
        </div>
    </div>

</div>
