﻿@model AccountPageVM
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
@{ 
    var yenisifre = localizer["YeniSifre"].Value;
    var eskiSifre = localizer["EskiSifre"].Value;
    var yeniSifreTekrar = localizer["YeniSifreTekrar"].Value;
}
<div id="Account">

    <div class="row">
        <div class="col-md-6">
            @Html.Partial("UserLeftMenus")
        </div>

        <div class="col-md-17 offset-md-1">

            <fieldset>
                <legend class="form-title">
                    @localizer["Profile"]
                </legend>

                @using (Html.BeginForm("Update", "Account", FormMethod.Post, new { @class = "form-horizontal", @id="ChangePassForm", @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()

                    if (Model.UpdateUserResult!=null && !Model.UpdateUserResult.Status)
                    {
                        <div class="alert alert-danger alert-block">
                            <span>@Html.Raw(Model.UpdateUserResult.GetErrors())</span>
                        </div>
                    }
                    else if (Model.UpdateUserResult!=null && Model.UpdateUserResult.Status)
                    {
                        <div class="alert alert-success alert-block">
                            <span>@Html.Raw(Model.UpdateUserResult.GetErrors())</span>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-14 col-md-offset-5 FormFields">

                            <div class="form-group TopSpace">
                                <label class="control-label">@localizer["Name"]</label>
                                <div class="controls">
                                    @Html.TextBox("Name", Model.UserToUpdate?.Name, new { @required = "required", @class = "form-control", @placeholder = localizer["Name"].Value, @autocomplete = "off" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">@localizer["Telephone"] </label>
                                <div class="controls">
                                    @Html.TextBox("Phone", Model.UserToUpdate?.Telephone, new { @required = "required", @class = "form-control", @placeholder = localizer["Phone"].Value, @autocomplete = "off" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">@localizer["BirthDate"] </label>
                                <div class="controls">

                                    <input type="date" asp-for="@Model.UserToUpdate.BirthDate" id="BirthDate" class="form-control" name="BirthDate"><br>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="form-check">
                                    @Html.CheckBox("AllowMail", Model.UserToUpdate?.AllowMail, new { @placeholder = localizer["AllowMail"].Value, @autocomplete = "off" })
                                    <label class="form-check-label" for="AllowMail">@localizer["AllowMail"]</label>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    @Html.CheckBox("AllowSMS", Model.UserToUpdate?.AllowSMS, new { @placeholder = localizer["AllowSMS"].Value, @autocomplete = "off" })
                                    <label class="form-check-label" for="AllowSMS">@localizer["AllowSMS"]</label>
                                </div>
                            </div>

                            <div class="FormButtons form-group">

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-ok"></i>@localizer["SaveChanges"]</button>
                                </div>

                            </div>

                        </div>
                    </div>
                }
            </fieldset>




        </div>
    </div>

</div>
