﻿@model  SwEcomApp.ViewModels.CheckOut.CheckoutPaymentPageViewModel
@using SwEcomApp.Models
@{
    Layout = null;
} 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script>

        $(document).ready(function () {

            $(".3DForm").submit();

        });

    </script>

</head>
<body>
    @if (Model != null && Model.CreatedOrder != null)
    {

        String clientId = Model.CreatedOrder.MagazaNo; //Banka tarafından mağazaya verilen iş yeri numarası
        String oid = Model.CreatedOrder.TrackCode;                //Sipariş numarası

        string protokol = Utils.GetHttpProtokol();

        //String okUrl = protokol + "://" + Request.Url.Authority + "/" + ViewBag.SmallLangCode + "/p/CheckOutPayment/"+ Model.CreatedOrder.PaymentType.ToString() + "Result";   //İşlem başarılıysa dönülecek işyeri sayfası  (3D işleminin sonucu ödeme işleminin değil)
        //String failUrl = protokol + "://" + Request.Url.Authority + "/" + ViewBag.SmallLangCode + "/p/CheckOutPayment/" + Model.CreatedOrder.PaymentType.ToString() + "Result";    //İşlem başarısızsa dönülecek işyeri sayfası  (3D işleminin sonucu ödeme işleminin değil)

        String okUrl = Utils.GetHttpProtokol() + "://" + Request.Url.Authority + "/tr/p/CheckoutPayment/Pay" + Model.PosPaymentType.ToString() + "Result";
        String failUrl = Utils.GetHttpProtokol() + "://" + Request.Url.Authority + "/tr/p/CheckoutPayment/Pay" + Model.PosPaymentType.ToString() + "Result";
         
        String rnd = DateTime.Now.ToString();  //Kontrol ve güvenlik amaçlı sürekli değişen bir değer tarih gibi

        String taksit = (Model.CreatedOrder.PaymentType != OdemeTuru.DebitCard && Model.CreatedOrder.InstallmentQuantity != null && Model.CreatedOrder.InstallmentQuantity > 1) ? Model.CreatedOrder.InstallmentQuantity.ToString() : "";      //Taksit sayısı

        String islemtipi = "PreAuth";           //Auth PreAuth PostAuth Credit Void olabilir.

        if (!String.IsNullOrWhiteSpace(Model.CreatedOrder.ProvType))
        {
            islemtipi = Model.CreatedOrder.ProvType;
        }

        if (Model.CreatedOrder.PaymentType == OdemeTuru.DebitCard)
        {
            islemtipi = "Auth";
        }

        String storekey = Model.CreatedOrder.SecureKey3D;  //İş yeri anahtarı

        String amount = Model.CreatedOrder.TotalAmount.ToString("00.00", System.Globalization.CultureInfo.InvariantCulture);

        String hashstr = clientId + oid + amount + okUrl + failUrl + islemtipi + taksit + rnd + storekey;

        System.Security.Cryptography.SHA1 sha = new System.Security.Cryptography.SHA1CryptoServiceProvider();

        byte[] hashbytes = System.Text.Encoding.GetEncoding("ISO-8859-9").GetBytes(hashstr);

        byte[] inputbytes = sha.ComputeHash(hashbytes);

        String hash = Convert.ToBase64String(inputbytes);  //Güvenlik amaçlı hash değeri

        <form method="post" action="@Model.CreatedOrder.PostUrl" class="3DForm">
            <table style="display:none;">
                <tr>
                    <td>Kredi Kart Sahibi:</td>
                    <td>
                        @*<input type="text" name="pan" size="20" value="@Session["CardOwner"]" />*@
                    </td>
                </tr>

                <tr>
                    <td>Kredi Kart Numarasi:</td>
                    <td>
                        <input type="hidden" name="pan" size="20" value="@Model.CreditCart.CardNumbersFull" />
                    </td>
                </tr>
                <tr>
                    <td>Güvenlik Kodu:</td>
                    <td>
                        <input type="hidden" name="cv2" size="4" value="@Model.CreditCart.CardCvc" />
                    </td>
                </tr>
                <tr>
                    <td>Son Kullanma Yili:</td>
                    <td>
                        <input type="hidden" name="Ecom_Payment_Card_ExpDate_Year" value="@Model.CreditCart.ExpiresYear" />
                    </td>
                </tr>
                <tr>
                    <td>Son Kullanma Ayi:</td>
                    <td>
                        <input type="hidden" name="Ecom_Payment_Card_ExpDate_Month" value="@Model.CreditCart.ExpiresMonth" />
                    </td>
                </tr>
                <tr>
                    <td>Visa/MC secimi</td>
                    <td>
                        <input type="hidden" name="cardType" value="1" />
                    </td>
                </tr>

            </table>

            <input type="hidden" name="clientid" value="@clientId">
            <input type="hidden" name="amount" value="@amount">
            <input type="hidden" name="oid" value="@oid">
            <input type="hidden" name="okUrl" value="@okUrl">
            <input type="hidden" name="failUrl" value="@failUrl">
            <input type="hidden" name="rnd" value="@rnd">
            <input type="hidden" name="hash" value="@hash">
            <input type="hidden" name="islemtipi" value="@islemtipi" />
            <input type="hidden" name="taksit" value="@taksit" />
            <input type="hidden" name="storetype" value="3d">
            <input type="hidden" name="lang" value="tr">
            <input type="hidden" name="currency" value="949">
            <input type="hidden" name="firmaadi" value="">

            @*     <input type="hidden" name="Fismi" value="is">

                <input type="hidden" name="faturaFirma" value="faturaFirma">
                 <input type="hidden" name="Fadres" value="XXX">
                 <input type="hidden" name="Fadres2" value="XXX">
                 <input type="hidden" name="Fil" value="XXX">
                 <input type="hidden" name="Filce" value="XXX">
                 <input type="hidden" name="Fpostakodu" value="postakod93013">

                 <input type="hidden" name="tel" value="XXX">
                 <input type="hidden" name="fulkekod" value="tr">

                 <input type="hidden" name="nakliyeFirma" value="na fi">
                 <input type="hidden" name="tismi" value="XXX">
                 <input type="hidden" name="tadres" value="XXX">
                 <input type="hidden" name="tadres2" value="XXX">
                 <input type="hidden" name="til" value="XXX">
                 <input type="hidden" name="tilce" value="XXX">

                 <input type="hidden" name="tpostakodu" value="ttt postakod93013">
                 <input type="hidden" name="tulkekod" value="usa">

                 <input type="hidden" name="itemnumber1" value="a1">
                 <input type="hidden" name="productcode1" value="a2">
                 <input type="hidden" name="qty1" value="3">
                 <input type="hidden" name="desc1" value="a4 desc">
                 <input type="hidden" name="id1" value="a5">
                 <input type="hidden" name="price1" value="6.25">
                 <input type="hidden" name="total1" value="7.50" />*@

             <input type="submit" value="gonder" style="display:none;" />
        </form>
    }
    else
    {
        <p>Ödeme İçin Sipariş Bulunamadı</p>
        <a href="/tr/p/CheckOut/sepet?rf=sepet">Siparişe tekrar başla</a>
    }

</body>
</html>