﻿@model CheckoutVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('[name="GarantiForm"]').submit();
        });
    </script>

</head>
<body>
    @if (Model != null && Model.CreatedOrder != null)
    {

    <form method="post" action="@Model.CreatedOrder.WebPosInstallment.PostUrl" name="GarantiForm">

        @{
            var chargeService = new Ecom.Services.CheckoutServices.PaymentChargeServiceBase();

            string UserName = "";

            if (Model.User != null && !String.IsNullOrWhiteSpace(Model.User.UserName))
            {
                UserName = Model.User.UserName;
            }
            else if (Model.CheckoutAsGuest && Model.CreatedOrder.DeliveryAddress != null && !String.IsNullOrWhiteSpace(Model.CreatedOrder.DeliveryAddress.Email))
            {
                UserName = Model.CreatedOrder.DeliveryAddress.Email;
            }

            string toplamtahsilat = Convert.ToDouble(Model.CreatedOrder.TotalAmount).ToString("n2").Replace(",", ".");

            string strMode = "PROD"; //"PROD"; // TEST
            string strApiVersion = "v0.01";
            string strTerminalProvUserID = Model.CreatedOrder.WebPosInstallment.ApiUser;
            string strType = "sales";

            if (!String.IsNullOrWhiteSpace(Model.CreatedOrder.WebPosInstallment.ProvType))
            {
                strType = Model.CreatedOrder.WebPosInstallment.ProvType;
            }

            if (Model.CreatedOrder.PaymentType == Ecom.Core.PaymentType.DebitCard)
            {
                strType = "sales";
            }

            string strAmount = toplamtahsilat.Replace(".", "");

            //TODO change for other currencies
            string strCurrencyCode = null;

            switch (Model.CreatedOrder.CurrencyCode)
            {
                case "TRY": strCurrencyCode = "949"; break;
                case "TL": strCurrencyCode = "949"; break;
                case "EUR": strCurrencyCode = "978"; break;
                case "GBP": strCurrencyCode = "826"; break;
                case "USD": strCurrencyCode = "998"; break;
                default:
                    break;
            }

            @if (Model.CreatedOrder.CurrencyCode==null)
            {
                throw new Exception($"There is no service for this currency on ({Model.CreatedOrder.PosName}):" + Model.CreatedOrder.CurrencyCode);
            }


            string strInstallmentCount = "";

            if (Model.CreatedOrder.WebPosInstallment.Quantity > 1)
            {
                strInstallmentCount = Model.CreatedOrder.WebPosInstallment.Quantity.ToString();
            }

            string strTerminalUserID = "PROVAUT"; //rasgele bir deger kabul ediyor
            string strOrderID = Model.CreatedOrder.TrackCode;
            string strCustomeripaddress = Model.IP; //Kullanıcının IP adresini alır

            string strcustomeremailaddress = UserName;
            string strTerminalID = Model.CreatedOrder.WebPosInstallment.TerminalID;//TerminalID yazılmalı.
            string _strTerminalID = "0" + strTerminalID;
            string strTerminalMerchantID = Model.CreatedOrder.WebPosInstallment.MagazaNo; //uye işyeri no
            string strStoreKey = Model.CreatedOrder.WebPosInstallment.SecureKey3D; //3D Secure şifresi
            string strProvisionPassword = Model.CreatedOrder.WebPosInstallment.ApiPassword; //TerminalProvUserID şifresi
            string strSuccessURL = Model.Protokol + "://" + Model.UrlAuthority + "/payment/" + Model.CreatedOrder.WebPosInstallment.PosPaymentType.ToString() + "Result";
            string strErrorURL = Model.Protokol + "://" + Model.UrlAuthority + "/payment/" + Model.CreatedOrder.WebPosInstallment.PosPaymentType.ToString() + "Result";
            string SecurityData = chargeService.GetSHA1(strProvisionPassword + _strTerminalID).ToUpper();
            string HashData = chargeService.GetSHA1(strTerminalID + strOrderID + strAmount + strSuccessURL + strErrorURL + strType + strInstallmentCount + strStoreKey + SecurityData).ToUpper();
            string CardNumber = Model.CreditCard.CardNumber;
            string CardOwner = Model.CreditCard.CardOwner;
            string ExpiresMonth = Model.CreditCard.ExpiresMonth;
            string ExpiresYear = Model.CreditCard.ExpiresYear;
            string CardCvc = Model.CreditCard.CardCvc.ToString();
            string CardType = Model.CreditCard.CardType;  //1 visa 2 master



        }

        <input type="hidden" name="secure3dsecuritylevel" id="secure3dsecuritylevel" value='3D' />
        <input type="hidden" name="mode" id="mode" value="@strMode" />
        <input type="hidden" name="apiversion" id="apiversion" value='@strApiVersion' />
        <input type="hidden" name="terminalprovuserid" id="terminalprovuserid" value="@strTerminalProvUserID" />
        <input type="hidden" name="txntype" id="txntype" value="@strType" />
        <input type="hidden" name="txnamount" id="txnamount" value="@strAmount" />
        <input type="hidden" name="txncurrencycode" id="txncurrencycode" value="@strCurrencyCode" />
        <input type="hidden" name="txninstallmentcount" id="txninstallmentcount" value="@strInstallmentCount" />
        <input type="hidden" name="terminaluserid" id="terminaluserid" value="@strTerminalUserID" />
        <input type="hidden" name="orderid" id="orderid" value="@strOrderID" />
        <input type="hidden" name="customeripaddress" id="customeripaddress" value="@strCustomeripaddress" />
        <input type="hidden" name="customeremailaddress" id="customeremailaddress" value="@strcustomeremailaddress" />
        <input type="hidden" name="terminalid" id="terminalid" value="@strTerminalID" />
        <input type="hidden" name="terminalmerchantid" id="terminalmerchantid" value="@strTerminalMerchantID" />
        <input type="hidden" name="storekey" id="storekey" value="@strStoreKey" />
        <input type="hidden" name="provisionpassword" id="provisionpassword" value="@strProvisionPassword" />
        <input type="hidden" name="successurl" id="successurl" value="@strSuccessURL" />
        <input type="hidden" name="errorurl" id="errorurl" value="@strErrorURL" />
        <input type="hidden" name="secure3dhash" id="secure3dhash" value="@HashData" />
        <input type="hidden" name="cardnumber" id="cardnumber" value="@CardNumber" />
        <input type="hidden" name="cardexpiredatemonth" id="cardexpiredatemonth" value="@ExpiresMonth" />
        <input type="hidden" name="cardexpiredateyear" id="cardexpiredateyear" value="@ExpiresYear" />
        <input type="hidden" name="cardcvv2" id="cardcvv2" value="@CardCvc" />

    </form>


    }
    else
    {
        <p>Ödeme İçin Sipariş Bulunamadı</p>
        <a href="/@Model.LangCode/checkout/cart">Siparişe tekrar başla</a>
    }

</body>
</html>