﻿@model  CheckoutVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>

        $(document).ready(function () {

            $('[name="YkbForm"]').submit();
        });

    </script>


</head>
<body>
 
  @if (Model != null && Model.CreatedOrder != null)
  {

        <form method="post" action="@Model.CreatedOrder.WebPosInstallment.PostUrl" name="YkbForm">

            <input name="posnetData" value="@ViewBag.posnetData" />
            <input name="posnetData2" value="@ViewBag.posnetData2" />
            <input name="digest" value="@ViewBag.Digest" />
            <input name="mid" value="@ViewBag.MID" />
            <input name="posnetID" value="@ViewBag.PosnetID" />
            <input name="vftCode" value="@ViewBag.VftCode" />
            <input name="merchantReturnURL" value="@ViewBag.MerchantReturnURL" />

            <!-- Static Parameters -->
            <input name="lang" value="tr" />
            <input name="url" value="@(Model.Url)" />
            @*<input name="openANewWindow" value="false" />*@

        </form>

    }



</body>

</html>

