﻿@model Ecom.ViewModels.HomeVM

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div id="Home">&nbsp; HOME </div>
<script>
        if (!document.getElementById('Header')) { window.location.reload(); }
</script>
@section Banners{


    @if (Model.MainBanners.Any() && false)
    {
        int i = 0;
        <div class="Banners">

            <div id="MainBanner" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var item in Model.MainBanners)
                    {

                        <div class="carousel-item  @(i==0?"active":"passive")">
                            <img src="@item.ImagePath" alt="@item.Name" />
                        </div>
                        i++;
                    }

                </div>

                @if (Model.MainBanners.Count > 1)
                {
                    <a class="carousel-control-prev" href="#MainBanner" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only"> @Localizer["Previous"] </span>
                    </a>
                    <a class="carousel-control-next" href="#MainBanner" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">@Localizer["Next"] </span>
                    </a>
                }

            </div>

        </div>
    }


}


<div id="MiddleBanners" class="row">
    <div class="col-sm-12">
        @if (Model.MiddleBanners1.Any())
        {
            int i = 0;
            <div class="Banners">

                <div id="MiddleBanners1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var item in Model.MiddleBanners1)
                        {

                            <div class="carousel-item  @(i==0?"active":"passive")">
                                <img src="@item.ImagePath" alt="@item.Name" />
                            </div>
                            i++;
                        }

                    </div>

                    @if (Model.MiddleBanners1.Count > 1)
                    {
                        <a class="carousel-control-prev" href="#MiddleBanners1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only"> @Localizer["Previous"] </span>
                        </a>
                        <a class="carousel-control-next" href="#MiddleBanners1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">@Localizer["Next"] </span>
                        </a>
                    }

                </div>

            </div>
        }
    </div>

    <div class="col-sm-12">
        @if (Model.MiddleBanners2.Any())
        {
            int i = 0;
            <div class="Banners">

                <div id="MiddleBanners2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var item in Model.MiddleBanners2)
                        {

                            <div class="carousel-item  @(i==0?"active":"passive")">
                                <img src="@item.ImagePath" alt="@item.Name" />
                            </div>
                            i++;
                        }

                    </div>

                    @if (Model.MiddleBanners2.Count > 1)
                    {
                        <a class="carousel-control-prev" href="#MiddleBanners2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only"> @Localizer["Previous"] </span>
                        </a>
                        <a class="carousel-control-next" href="#MiddleBanners2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">@Localizer["Next"] </span>
                        </a>
                    }

                </div>

            </div>
        }
    </div>
</div>
