﻿@model CheckoutVM
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
@{
    if (Model != null && Model.isPartial)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_CheckoutLayout.cshtml";

    }
}
<script>
    if (!document.getElementById('Checkout')) { window.location.reload(); }
</script>
@if (Model != null)
{

    <div id="AddressFormArea">
        @if (!Model.Addresses.Any())
        {
            @Html.Partial("_AddressPartial", Model)
        }
    </div>

    <button class="btn btn-dark" id="NewAddress" data-id="0">+ @localizer["AddNewAddress"]</button>

    if (Model.Addresses != null && Model.Addresses.Any())
    {


        <div class="row AddresOperations">
            <div class="col-sm-16">

            </div>
            <div class="col-sm-3 text-center">@localizer["Billing"]</div>
            <div class="col-sm-3 text-center">@localizer["Shipping"]</div>
        </div>
        @foreach (var item in Model.Addresses)
        {
            <div class="row AddressItem">
                <div class="col-sm-12 offset-sm-1">
                    @item.Name<br />
                    @item.Detail <br />
                    @item.TownName /  @item.CityName / @item.CountryName<br />
                    @item.Phone
                </div>
                <div class="col-sm-4">
                    <button data-id="@item.Id" class="btn btn-primary btn-xs btn-sm EditAddress">@localizer["Edit"]</button>
                    <button data-id="@item.Id" class="btn btn-danger btn-xs btn-sm DeleteAddress">@localizer["Delete"]</button>
                </div>
                <div class="col-sm-3">
                    <input data-adrtype="bill" @((item.Id == Model.BillingAddressId) ? "checked" : "") type="radio" id="@("bill"+item.Id)" name="BillingAddressId" value="@item.Id" />
                    <label for="@("bill"+item.Id)"></label>
                </div>
                <div class="col-sm-3">
                    <input data-adrtype="ship" @((item.Id == Model.ShippingAddressId) ? "checked" : "") type="radio" id="@("ship"+item.Id)" name="ShippingAddressId" value="@item.Id" />
                    <label for="@("ship"+item.Id)"></label>
                </div>
            </div>
        }

    }
    else
    {
        <div id="BlankAddress">
            You don't have any address
        </div>
    }
    <div id="Cargo">
        @Html.Partial("_CargoPricesPartial", Model)
    </div>

}

