﻿@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
@model CheckoutVM
@{
    if (Model != null && Model.isPartial)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_CheckoutLayout.cshtml";

    }
}
<script>
    if (!document.getElementById('Checkout')) { window.location.reload(); }
</script>
<div id="Cart">
    @if (Model != null)
    {
        var cart = Model.Cart;

        @*@if (!Model.Status && Model.ResultDescription.Any())
            {
                <p class="alert alert-danger">
                    @foreach (var item in Model.ResultDescription)
                    {
                        @item <br />
                    }
                </p>
            }*@

        @if (cart != null && cart.Products.Any())
        {
            <div id="CartProducts">

                @foreach (var item in cart.Products)
                {
                    @item.DiscountRate

                    <div class="row CartItem">
                        <div class="col-sm-3">
                            <a href="@item.Url"><img src="@item.ImagePath" alt="" /></a>
                        </div>
                        <div class="col-sm-10 offset-sm-1">

                            <a href="@item.Url" class="Name">@item.ProductName</a>
                            <a href="@item.Url" class="Code">@item.ProductCode</a>
                            <p class="SizeAndColor">
                                <span class="Cros">@localizer["Quantity"]</span> <span title="@localizer["DecreaseQuantityBy1"]" class="quantity-btn minus">-</span><span class="Quantity">@item.Quantity</span><span title="@localizer["IncreaseQuantityBy1"]" class="quantity-btn plus">+</span>
                                <span class="Size">@item.SizeName</span> <span class="Slash">/</span> <span class="Color">@item.ColorName</span>
                            </p>
                        </div>
                        <div class="col-sm-7">
                            <div id="Price">

                                @if (item.Amount != item.SubTotal)
                                {
                                    @if (item.AmountOld.HasValue && item.AmountOld > item.Amount)
                                    {
                                        <span class="old">@item.CurrencySymbol @item.SubTotalOld</span>
                                    }
                                    <p> @item.Quantity X  @item.Amount  <span class="bold">@item.CurrencySymbol @item.SubTotal</span> </p>
                                }
                                else
                                {
                                    @if (item.AmountOld.HasValue && item.AmountOld > item.Amount)
                                    {
                                        <span class="old">@item.CurrencySymbol @item.AmountOld</span>
                                    }
                                    <p class="bold">@item.CurrencySymbol @item.Amount</p>
                                }
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button data-id="@item.ID" class="DeleteCartItem btn btn-sm btn-danger">@localizer["Delete"]</button>
                        </div>
                    </div>
                }

            </div>

            <div id="CouponAdd" class="row mt-20">
                <form id="CouponForm">
                   
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="@localizer["KuponKodu"]" id="CouponCode">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="UseCouponCode" type="submit">@localizer["Kullan"]</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="Coupons">
                @Html.Partial("_CouponsPartial", Model)
            </div>


            <div id="HiddenSummary">
                @Html.Partial("summary", Model)
            </div>
        }
        else
        {
            <div id="BlankCartBody">@localizer["CartIsBlank"]</div>
            <div id="HiddenSummary">
            </div>
        }

    }

</div>

