﻿@model CheckoutVM
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
@{
    if (Model != null && Model.isPartial)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_CheckoutLayout.cshtml";
    }

}

    <div id="Fail">
        @if (Model.FailResult != null && Model.FailResult.ResultDescription.Any())
        {
        <div class="alert alert-danger">
            @foreach (var item in Model.FailResult.ResultDescription)
            {
                <p>@item</p>
            }

                <a class="btn btn-lg btn-primary" href="/@Model.LangCode/checkout">Start Again</a>
        </div>
        }

      
    </div>