﻿@model CheckoutVM
@{
    if (Model != null && Model.isPartial)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_CheckoutLayout.cshtml";

    }

    var moneyTransferPayment = Model.Payments.FirstOrDefault(c => c.PaymentType == PaymentType.Havale);
}
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

<script>
    if (!document.getElementById('Checkout')) { window.location.reload(); }
</script>

@if (Model != null)
{
    if (Model.Payments.Any())
    {
        <div id="PaymentGroups">
            @foreach (var item in Model.Payments)
            {
                var firstInsId = item.WebPoseses.FirstOrDefault()?.Installments.Where(c => c.IsDefault == true).FirstOrDefault()?.ID ?? item.WebPoseses.FirstOrDefault()?.Installments.FirstOrDefault()?.ID ?? 0;

                <label data-paymenttype="@item.PaymentType" for="@("ins-"+firstInsId)" data-paymentid="@item.PaymentId" class="@(Model.SelectedWebPosInstallment != null && Model.SelectedWebPosInstallment.PaymentType ==  item.PaymentType ? "active":"")">
                    @item.PaymentName
                </label>
            }
        </div>
    }


    <div class="row">
        <div class="col-sm-11">
            <div class="PaymentDetail" data-paymenttype="@PaymentType.KrediKarti">

                @Html.Partial("CardForm")

            </div>


            <div id="MoneyTransfer" class="PaymentDetail" data-paymenttype="@PaymentType.Havale">

                @if (moneyTransferPayment != null && moneyTransferPayment.Banks.Any())
                {
                    <div id="Banks">
                        <div class="alert alert-warning">
                            Please select a bank for money transfer
                        </div>
                        @foreach (var item in moneyTransferPayment.Banks)
                        {
                            <div class="row BankItem @(item.ID==Model.BankId?"active":"")">

                                <div class="col-sm-24 text-left">

                                    <input class="hidden" @(item.ID == Model.BankId ? "checked" : "") name="bank" id="@("bank-"+item.ID)" value="@item.ID" type="radio" />
                                    <label for="@("bank-"+item.ID)"></label>

                                    <label for="@("bank-"+item.ID)">
                                        <img src="@item.LogoPath" alt="" />
                                        <span>@localizer["Name"]:</span>   @item.Name
                                        <span>@localizer["IBAN"]:</span>  @item.IBAN
                                        <span>@localizer["AccountName"]:</span>  @item.CorporateName
                                        <span>@localizer["AccountNo"]:</span>  @item.AccountNo
                                        <span>@localizer["SortCode"]:</span>  @item.SortCode
                                        <span>@localizer["DepartmentAndNo"]:</span>  @item.DepartmentAndNo
                                        <span>@localizer["City"]:</span>  @item.CityName
                                    </label>

                                </div>
                            </div>
                        }
                    </div>
                }
            </div>

        </div>

        <div class="@(Model.SelectedWebPosInstallment==null || Model.SelectedWebPosInstallment?.PaymentType== PaymentType.KrediKarti?"col-sm-12 offset-sm-1":"col-sm-24")">

            @if (Model.Payments.Any())
            {
                <div id="Poses">

                    @foreach (var payment in Model.Payments)
                    {
                        foreach (var webpos in payment.WebPoseses)
                        {
                            <div class="PosItem" data-bankcode="@webpos.BankCode" data-id="@webpos.WebPosID" data-paymentid="@payment.PaymentId">


                                <div class="row PosHeader">
                                    <div class="col-sm-8">
                                        <img src="@webpos.PosLogoPath" alt="" />
                                    </div>
                                    <div class="col-sm-16 text-left">
                                        <p>@webpos.PosName</p>
                                    </div>
                                </div>

                                @foreach (var installment in webpos.Installments)
                                {
                                    decimal curTahsilatMiktar = Model.TotalAmountWithoutInstallment() + (installment.Rate > 0 ? Model.TotalAmountWithoutInstallment() * (installment.Rate / 100) : 0);

                                    <div class="row ins @(installment.Quantity>1?"multiple":"single")" data-id="@installment.ID" data-paymentid="@payment.PaymentId" data-webposid="@webpos.WebPosID">

                                        <div class="col-sm-3">
                                            <input @(installment.ID == Model.WebPosIstallmentId ? "checked" : "") data-paymentid="@payment.PaymentId" name="ins" id="@("ins-"+installment.ID)" value="@installment.ID" type="radio" />
                                            <label for="@("ins-"+installment.ID)"></label>
                                        </div>

                                        <label for="@("ins-"+installment.ID)" class="col-sm-15">
                                            @installment.Quantity @(" x ") @(Convert.ToDecimal(curTahsilatMiktar / installment.Quantity).ToString("n2"))
                                        </label>


                                        <label for="@("ins-"+installment.ID)" class="col-sm-6">
                                            @Model.CurrencySymbol @curTahsilatMiktar.ToString("n2")
                                        </label>
                                    </div>
                                }

                            </div>
                        }

                    }
                </div>
            }

        </div>
    </div>





}

