﻿@model CheckoutVM
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
@{
    if (Model != null && Model.isPartial)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_CheckoutLayout.cshtml";

    }
}

<div id="Success">

    <h1>CONGRATS! SUCCESS</h1>
    @if (Model.CreatedOrder != null)
    {

        <h2>
            Your order number is : <a href="#">@Model.CreatedOrder.TrackCode</a>
        </h2>
    }
</div>