﻿@model CheckoutVM
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer


@if (Model.NewAddress == null || Model.NewAddress.Id == 0)
{
    <h5>@localizer["AddNewAddress"]</h5>

}
else
{
<h5>@localizer["Address"] @localizer["Edit"] </h5>
}

<form id="CheckAddressForm" asp-controller="CheckoutOperations" asp-route-lang="@Model.LangCode" asp-action="updateaddress" method="post" class="FormStandard">

    <input class="form-control" asp-for="NewAddress.Detail" required name="Detail" type="text" placeholder="@localizer["AddressDetail"]" />

    @if (Model.CheckoutAsGuest)
    {
        <input class="form-control" asp-for="NewAddress.Email" name="Email" placeholder="@localizer["Email : Because you are checking as guest"]" />

    }
    <input  asp-for="NewAddress.Id" name="ID" type="hidden" />
    <input class="form-control" asp-for="NewAddress.Phone" name="Phone" type="text" placeholder="@localizer["Phone"]" />
    <select class="form-control CountryID" required asp-for="NewAddress.CountryId" name="CountryId" asp-items="Model.Countries"></select>
    <select class="@(Model.NewAddress!=null && Model.NewAddress.CityId!=null ? "" : "hide") form-control CityID" asp-items="Model.Cities" asp-for="NewAddress.CityId" name="CityId"></select>
    <select class="@(Model.NewAddress!=null && Model.NewAddress.TownId!=null ?"":"hide") form-control TownID" asp-items="Model.Towns" asp-for="NewAddress.TownId" name="TownId"></select>

    <button class="btn btn-primary btn-toolong">@localizer["Save"]</button>
    <button class="btn btn-secondary"  type="reset" id="CancelAddress">@localizer["Cancel"]</button>
</form>