﻿@model List<Ecom.ViewModels.Banks.BankVM>
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

<div id="Banks">
    @if (Model == null || Model.Count <= 0)
    {
        <div class="BlankContent">
            There is no bank declartion, please contact us
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="row BankItem">

                <div class="col-sm-8 ">

                    <img src="@item.LogoPath" alt="" style="max-width:200px;" />


                </div>

                <div class="col-sm-8 ">

                    <p>@localizer["Name"]:   @item.Name</p>
                    <p>@localizer["IBAN"]:  @item.IBAN</p>
                    <p>@localizer["DepartmentAndNo"]:  @item.DepartmentAndNo</p>

                </div>

                <div class="col-sm-8">

                    <p>@localizer["AccountName"]: @item.CorporateName</p>
                    <p>@localizer["AccountNo"]:  @item.AccountNo</p>
                    <p>@localizer["SortCode"]:  @item.SortCode @localizer["City"]:  @item.CityName</p>

                </div>

            </div>
        }
    }

</div>