﻿@model CheckoutVM
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
@{

    Layout = null;
}


@if (Model != null && Model.CargoPrices != null && Model.CargoPrices.Any())
{

    @foreach (var item in Model.CargoPrices)
    {
    <div class="row CargoItem">
        <div class="col-sm-4 text-center">
            <img src="@item.LogoPath" alt=""/>
                 @*<img src="https://cdn.freebiesupply.com/logos/large/2x/ups-logo-png-transparent.png" alt="" />*@
        </div>

        <div class="col-sm-11">
            @item.CargoCompany<br />
            @if (item.FreeShippingLimit != null && item.FreeShippingLimit > 0)
            {
        <span>@localizer["FreeShippingFrom"] : </span>
                @Model.CurrencySymbol @item.FreeShippingLimit <br />
            }

            <span>To : </span>  <b>@item.CountryName</b> <br />
        </div>
        <div class="col-sm-5 CargoPrice text-center font-weight-bold">
            <p>
                @if (item.Amount <= 0)
                {
                    @localizer["Free Shipping"]
                }
                else
                {
                    @Model.CurrencySymbol @item.Amount
                }
            </p>
        </div>

        <div class="col-sm-3">
            <input data-adrtype="cargo" @((item.Id == Model.CargoPriceId) ? "checked" : "") type="radio" id="@("cargo"+item.Id)" name="CargoPriceId" value="@item.Id" />
            <label for="@("cargo"+item.Id)"></label>
        </div>
    </div>
    }

}
else
{
<div id="BlankAddress">
    @localizer["NoCargoError"]  <button class="btn btn-dark btn-xs" id="NewAddress" data-id="0">+ @localizer["AddNewAddress"]</button>

</div>
}
