﻿@model Ecom.ViewModels.CheckoutVM

@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(Model != null ? Model.PageTitle : "")</title>
    @if (Model != null && !String.IsNullOrWhiteSpace(Model.PageKeywords))
    {
        <meta name="keywords" content="@Model.PageKeywords" />
    }

    @if (Model != null && !String.IsNullOrWhiteSpace(Model.PageDescription))
    {
        <meta name="description" content="@Model.PageDescription" />
    }
    <environment include="Development">
        <link rel="stylesheet" href="~/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    </environment>
    @if (Model != null)
    {
        <script>
            var controller = "@Model.ControllerName";
            var action = "@Model.ActionName";
            var langId = @Model.LangId;
            var langCode = "@Model.LangCode";
        </script>
    }
</head>
<body id="Checkout" class="@Model.Step">

    <div id="Header">

        <div id="LangDropdown">
            <div class="dropdown" style="float:right;">
                <button class="dropbtn">@Model.LangCode</button>
                <div class="dropdown-content">
                    <a href="/tr/checkout">TR</a>
                    <a href="/en/checkout">EN</a>
                </div>
            </div>

        </div>

        <div class="container">
            <!-- just use a number and class 'column' or 'columns' -->
            <div class="row">
                <div class="col-sm-12">
                    <a id="Logo"
                       href="~/@(Model.LangCode!=Model.Domain.LangCode?Model.LangCode:"")">LOGO</a>
                </div>

                <div class="col-sm-12 @(Model.CheckoutAsGuest ?"Guest":"") @(Model.User!=null ? "LoggedIn":"")" id="LoginRegister">

                    <p id="LoggedInUser">@(Model.User?.Name)</p>
                    <a id="Guest" href="javascript:;">@localizer["ContinueAsGuest"]</a>
                    <a data-tab="pills-login-tab" href="javascript:;" id="Login">@localizer["Login"]</a>
                    <a data-tab="pills-register-tab" href="javascript:;" id="Register">@localizer["Register"]</a>

                </div>

            </div>
        </div>
    </div>
    @if (Model != null)
    {

        <div class="container">

            <div class="row">

                <div class="col-sm-16">

                    <div id="Steps" @(Model.FailResult!=null?"hidden":"")>
                        <div>
                            <div data-step="cart" class="@(Model.Step=="cart"?"active":"")">
                                 @localizer["Cart"]
                            </div>
                            <div data-step="address" class="@(Model.Step=="address"?"active":"")">
                                 @localizer["Address"]
                            </div>
                            <div data-step="payment" data-next="progress" class="@(Model.Step=="payment" ? "active":"")">
                                 @localizer["Payment"]
                            </div>
                        </div>
                    </div>


                    <div id="Errors">

                    </div>

                    <div id="Content">
                        @RenderBody()
                    </div>

                    <div id="Nav"  @(Model.FailResult!=null?"hidden":"")>
                        <button id="Prev" class="btn btn-light float-left">	&laquo; @localizer["PrevStep"]</button>
                        <button id="Next" class="btn btn-primary float-right">@localizer["NextStep"] 	&raquo;</button>
                    </div>
                </div>

                <div class="col-sm-8" id="Summary">
                    @Html.Partial("summary", Model)
                </div>

            </div>

        </div>

    }
    else
    {
        <p>Something went wrong please click <a href="/"> here to go homepage</a></p>
    }

    <div id="Footer">
        <div class="container text-center">
            @localizer["AllRights"] @DateTime.Now.Year
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="LoginRegisterModal">
        <div class="modal-dialog modal-" role="document">
            <div class="modal-content">
                @*<div class="modal-header">
                        <h5 class="modal-title">Login Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>*@
                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div id="FormTabs">

                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="true">@localizer["Login"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-register-tab" data-toggle="pill" href="#pills-register" role="tab" aria-controls="pills-register" aria-selected="false">@localizer["Register"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-guest-tab" data-toggle="pill" href="#pills-guest" role="tab" aria-controls="pills-guest" aria-selected="false">@localizer["ContinueAsGuest"]</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                                Login Form...
                            </div>
                            <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
                                Register Form..
                            </div>
                            <div class="tab-pane fade" id="pills-guest" role="tabpanel" aria-labelledby="pills-guest-tab">
                                Guest....
                            </div>
                        </div>

                    </div>

                    <div class="loading">..loading</div>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("PreScripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
