﻿@model StandartOperationResult
@{ Layout = null; }

@if (Model!=null && Model.ResultDescription.Any())
{
    var errorClass = Model.Status ? "alert-success" : "alert-danger";

    <p class="alert @errorClass">
        @foreach (var item in Model.ResultDescription)
        {
            @Html.Raw(item) <br />
        }
    </p>
}


