﻿@model CheckoutVM
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
@{
    Layout = null;
}

@if (Model != null)
{
    if (Model.Coupons != null && Model.Coupons.Any())
    {
        <h6 class="mt-25">@localizer["Coupons"]</h6>

        <div class="row" id="CouponOperations">
            <div class="col-sm-3">
                @localizer["Tutar"]
            </div>
            <div class="col-sm-4">@localizer["SonKullanimTarihi"]</div>
            <div class="col-sm-13">@localizer["Aciklama"]</div>
            <div class="col-sm-4">@localizer["Kullan"]</div>
        </div>

        @foreach (var item in Model.Coupons)
        {
            <div class="row CouponItem @(Model.CouponId == item.ID ? "added" : "")">
                <div class="col-sm-3 font-weight-bold">

                    @if (item.CalculationType == HesapLamaTuru.Yuzde)
                    {
                        <text>%</text> @item.Amount
                    }
                    else
                    {
                        <span>  @Model.CurrencySymbol@item.Amount </span>
                    }

                </div>
                <div class="col-sm-4">
                    @(item.EndDate != null ? Convert.ToDateTime(item.EndDate).ToString("dd.MM.yyyy") : "")
                </div>

                <div class="col-sm-13">
                    @Html.Raw(String.Format(localizer["VeUzeriAlisverislerde2"].Value, item.AmountLimit.ToString(), Model.CurrencyCode))
                </div>

                <div class="col-sm-4">
                    <button class="btn btn-sm btn-secondary" id="UseCoupon" data-code="@item.CouponCode" value="@item.ID">@localizer["Kullan"]</button>
                    <button class="btn btn-sm btn-danger" id="RemoveCoupon" data-code="@item.CouponCode" value="@item.ID">@localizer["Kaldir"]</button>
                </div>
            </div>
        }

    }
    else
    {
        <div id="BlankCoupons">
            @if (Model.UserId > 0)
            {
                <span>@localizer["HicKuponunuzBulunmuyor"]</span>
            }
            else
            {
                string registerLink = String.Concat("<a href='javascript:;' class='RegisterIcon'>", localizer["Login"], "</a>");
                string loginLink = String.Concat("<a href='javascript:;' class='LoginIcon'>", localizer["Register"], "</a>");

                <span class="NoCoupon RegisterForCoupon">@Html.Raw(String.Format(localizer["KuponlariniziGormekIcin"].Value, loginLink, registerLink))</span>
            }
        </div>
    }
}

