﻿@model Ecom.ViewModels.PageBaseVM
@*@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
    @inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedLayout> Htmllocalizer*@
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(Model != null ? Model.PageTitle : "")</title>
    @if (Model != null && !String.IsNullOrWhiteSpace(Model.PageKeywords))
    {
        <meta name="keywords" content="@Model.PageKeywords" />
    }

    @if (Model != null && !String.IsNullOrWhiteSpace(Model.PageDescription))
    {
        <meta name="description" content="@Model.PageDescription" />
    }
    <environment include="Development">
        <link rel="stylesheet" href="~/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    </environment>
    @if (Model != null)
    {
        <script>
            var controller = "@Model.ControllerName";
            var action = "@Model.ActionName";
            var langId = @Model.LangId;
            var langCode = "@Model.LangCode";
        </script>
    }
</head>
<body>

    <div id="BgBlack"></div>
    <div id="Header">

        <div id="LangDropdown">

            <div class="dropdown" style="float:right;">
                <button class="dropbtn">@Model.LangCode</button>
                <div class="dropdown-content">
                    <a href="/tr">TR</a>
                    <a href="/en">EN</a>
                </div>
            </div>

            <div class="dropdown" style="float:right;">
                <button class="dropbtn">@Model.CurrencySymbol</button>
                <div class="dropdown-content">
                    <a rel="nofollow" href="/@Model.LangCode/currency/set?id=1">€ Euro</a>
                    <a rel="nofollow" href="/@Model.LangCode/currency/set?id=2">$ Dollar</a>
                    <a rel="nofollow" href="/@Model.LangCode/currency/set?id=3">₺ British Pound</a>
                    <a rel="nofollow" href="/@Model.LangCode/currency/set?id=4">₺ Turkish Lira</a>
                </div>
            </div>

        </div>

        <div class="container">
            <!-- just use a number and class 'column' or 'columns' -->
            <div class="row">
                <div class="col-sm-3">
                    <a asp-controller="Home"
                       asp-route-lang="@Model.LangCode"
                       id="Logo"
                       data-pagetitle="@Model.PageTitle"
                       asp-action="Index">LOGO</a>
                </div>
                <div class="col-sm-10">

                    @if (Model != null && Model.Categories != null)
                    {
                        <nav>
                            <ul>
                                @foreach (var cat in Model.Categories)
                                {
                                    <li>
                                        <a href="@cat.Url">@cat.Name</a>

                                        @if (cat.SubCatalogs != null && cat.SubCatalogs.Count > 0)
                                        {

                                            <ul>
                                                @foreach (var subCat in cat.SubCatalogs)
                                                {
                                                    <li>
                                                        <a href="@subCat.Url">@subCat.Name</a>
                                                    </li>
                                                }
                                            </ul>

                                        }
                                    </li>

                                }
                            </ul>
                        </nav>
                    }


                </div>

                <div class="col-sm-4" id="Search">
                    <form action="/search" method="get">
                        <input name="q" type="text" placeholder="@localizer["TypeForSearch"]" />
                        <button type="submit">
                            <img src="~/images/Default/search-icon.svg" />
                        </button>
                    </form>
                </div>

                <div class="col-sm-4 @(Model.User!=null?"LoggedIn":"")" id="LoginRegister">

                    @if (Model.User != null)
                    {
                        <p id="LoggedInUser">
                            <a href="/@Model.LangCode/account" id="AccountLink">@(Model.User?.ShortenedName())</a>
                            <a href="/@Model.LangCode/logout" id="LogOut">@localizer["LogOut"]</a>
                        </p>
                    }
                    else
                    {
                        <a href="/@Model.LangCode/login" id="Login">@localizer["Login"]</a>
                        <a href="/@Model.LangCode/register" id="Register">@localizer["Register"]</a>
                    }

                </div>


                <div class="col-sm-3" id="CartButtonContainer">
                    <button id="CartButton" href="/@(Model?.LangCode)/checkout">
                        <img src="~/images/Default/cart-icon.svg" alt="" />
                        @localizer["Cart"] <span data-text="Cart" id="CartItemCount">(@(String.IsNullOrWhiteSpace(Model.CartCount) ? "0" : Model.CartCount))</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    @RenderSection("Banners", required: false)

    <div class="container" id="MainContent">
        @RenderBody()
    </div>

    <div id="Footer">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 columns">

                    <p>ABOUT US</p>
                    <ul>
                        <li>
                            <a href="/">CEKET</a>
                        </li>

                        <li>
                            <a href="/">KAZAK</a>
                        </li>

                        <li>
                            <a href="/">GÖMLEK</a>
                        </li>

                        <li>
                            <a href="/">PANTOLON</a>
                        </li>
                        <li>
                            <a href="/">AYAKKABI</a>
                        </li>
                    </ul>

                </div>
                <div class="col-sm-6 columns">

                    <p>ABOUT US</p>
                    <ul>
                        <li>
                            <a href="/">CEKET</a>
                        </li>

                        <li>
                            <a href="/">KAZAK</a>
                        </li>

                        <li>
                            <a href="/">GÖMLEK</a>
                        </li>

                        <li>
                            <a href="/">PANTOLON</a>
                        </li>
                        <li>
                            <a href="/">AYAKKABI</a>
                        </li>
                    </ul>

                </div>
                <div class="col-sm-6 columns">

                    <p>ABOUT US</p>
                    <ul>
                        <li>
                            <a href="/">CEKET</a>
                        </li>

                        <li>
                            <a href="/">KAZAK</a>
                        </li>

                        <li>
                            <a href="/">GÖMLEK</a>
                        </li>

                        <li>
                            <a href="/">PANTOLON</a>
                        </li>
                        <li>
                            <a href="/">AYAKKABI</a>
                        </li>
                    </ul>

                </div>
                <div class="col-sm-6 columns" id="NewsLetter">

                    <p class="NewsletterFormHead">@localizer["BasinBulteni"]</p>
                    <span class="NewsletterFormHead">@localizer["BasinBulteniMetni"]</span>

                    <div class="hidden alert alert-success NewsLetterResult"></div>

                    <div id="FormContainer">
                        <form action="/@(Model?.LangCode ?? "en")/NewsLetter/Add" id="NewsLetterForm">
                            <input name="Email" type="email" placeholder="@localizer["EmailAdresiniz"]" />
                            <button type="submit">@localizer["KayitOl"]</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="CartModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" data-text="@localizer["Cart"]">@localizer["Cart"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="loading">..loading</div>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("PreScripts", required: false)

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
