﻿@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

    <form action="ValidateCreditCart" method="post" id="CardForm" autocomplete="false">


        <div class="CardHeader">
            @localizer["KartNumarasi"]
            <img title="@localizer["OnYuzdekiOnAltiHane"]" src="/Images/default/question_icon.jpg" />
        </div>

        <div id="CardNumbers">

            <input type="text" class="form-control cardno" autocomplete="false" name="CardNumber" id="CardNumber" maxlength="19" />

        </div>

        <div class="CardHeader CardOwnerHeader">
            @localizer["KartSahibi"]
            <img title="@localizer["KartiSahibininAdiSoyadi"]" src="/Images/Default/question_icon.jpg" />

            <span class="MoveInfo">yanlış yere mi yazdınız? <a class="MoveToCardno" href="javascript:;">doğru yere taşı</a> </span>
        </div>

        <div class="CardOwnerCon">
            <input type="text" class="form-control" autocomplete="false" name="CardOwner" id="CardOwner" />
        </div>

        <div style="clear:both;"></div>

        <div class="CardHeader">@localizer["SonKullanimTarihi"] <img title="@localizer["OnYuzdekiSonKullanimTarihi"]" src="/Images/default/question_icon.jpg" /> </div>

        <div class="row">

            <div class="col-sm-11">

                <select id="" class="form-control ExpiresMonth" name="ExpiresMonth">
                    <option value="" selected="selected">@localizer["PleaseSelect"]</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>

            </div>

            <div class="col-sm-12 offset-1">

                <select id="" class="form-control ExpiresYear" name="ExpiresYear">
                    <option value="" selected="selected">@localizer["Seciniz"]</option>

                    @for (int i = DateTime.Now.Year; i < DateTime.Now.AddYears(15).Year; i++)
                    {
                        <option value="@i.ToString().Substring(2,2)">@i</option>
                    }

                </select>

            </div>

        </div>

        <div class="CardHeader">@localizer["CVC"] <img title="@localizer["ArkaYuzdekiUcHane"]" src="/Images/default/question_icon.jpg" /> </div>

        <div>
            <input type="text" class="form-control cvc" autocomplete="off" name="CardCvc" maxlength="3" />
            <img title="@localizer["ArkaYuzdekiUcHane"]" src="/Images/default/cvc_ico.png" />

        </div>


    </form>
