﻿@model CheckoutVM
@{
    Layout = null;
}

@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
@if (Model != null)
{
    var cart = Model.Cart;
    <div>
        <h2>@localizer["OrderSummary"]</h2>

        @if (Model.Step != "cart")
        {
            <div id="Cart">

                @if (cart != null && cart.Products.Any())
                {
                    <div id="CartProducts">

                        @foreach (var item in cart.Products)
                        {
                            <div class="row CartItem">
                                <div class="col-sm-4">
                                    <img src="@item.ImagePath" alt="" />

                                </div>
                                <div class="col-sm-13 offset-sm-1">

                                    <p class="Name">@item.ProductName</p>
                                    <p class="Code">@item.ProductCode</p>

                                    <p class="SizeAndColor">
                                        <span class="Cros">@localizer["Qty"]</span>
                                        <span class="Quantity">@item.Quantity</span>
                                        <span class="Cros">@localizer["Size"]</span>
                                        <span class="Size">@item.SizeName</span>
                                        <span class="Cros">@localizer["Color"]</span>
                                        <span class="Color">@item.ColorName</span>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <div class="Price">

                                        @if (item.Amount != item.SubTotal)
                                        {
                                            if (item.AmountOld.HasValue && item.AmountOld > item.Amount)
                                            {
                                                <span class="old">@item.CurrencySymbol @item.SubTotalOld</span>
                                            }
                                            @item.CurrencySymbol @item.SubTotal
                                        }
                                        else
                                        {
                                            if (item.AmountOld.HasValue && item.AmountOld > item.Amount)
                                            {
                                                <span class="old">@item.CurrencySymbol @item.Amount</span>
                                            }
                                            @item.CurrencySymbol @item.Amount
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                }

            </div>
        }

        @if (Model.Step != "cart")
        {

            <div id="CargoSum" class="row">
                @if (Model.SelectedCargoPrice != null)
                {
                    var cargoAmount = Model.CargoAmount();
                    var isFreeShippingLimit = cargoAmount == 0 && Model.SelectedCargoPrice.Amount > 0;

                    <div class="col-sm-6 text-center">
                        <img src="@Model.SelectedCargoPrice.LogoPath" alt="" />
                    </div>
                    <div class="col-sm-12">
                        <p class="Name">
                            @Model.SelectedCargoPrice.CargoCompany

                            @if (isFreeShippingLimit)
                            {
                                <span id="FreeShippingText">@localizer["FreeShippingFrom"]  @Model.CurrencySymbol@Model.SelectedCargoPrice.FreeShippingLimit </span>
                            }
                        </p>


                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="Price">

                            @if (isFreeShippingLimit)
                            {
                                <p>@localizer["Free"]</p>
                            }
                            else
                            {
                                @Model.CurrencySymbol @Model.SelectedCargoPrice.Amount
                            }
                        </div>
                    </div>
                }
            </div>
        }

        @if (Model.Step != "cart")
        {
            <div id="AddressSum">
                <div>
                    @if (Model.SelectedBillingAddress != null && Model.SelectedShippingAddress != null)
                    {
                        if (Model.SelectedShippingAddress.Id == Model.SelectedBillingAddress.Id)
                        {
                            <div class="AddresItem">
                                <span>@localizer["ShipAndBillTo"] : </span>
                                @Model.SelectedShippingAddress.Detail <br />
                                @Model.SelectedShippingAddress.TownName /  @Model.SelectedShippingAddress.CityName / @Model.SelectedShippingAddress.CountryName<br />
                            </div>
                        }
                        else
                        {


                            <div class="AddresItem">
                                <span>@localizer["ShipTo"] : </span>
                                @Model.SelectedShippingAddress.Detail <br />
                                @Model.SelectedShippingAddress.TownName /  @Model.SelectedShippingAddress.CityName / @Model.SelectedShippingAddress.CountryName<br />
                            </div>


                            <div class="AddresItem">
                                <span>@localizer["BillTo"] : </span>
                                @Model.SelectedBillingAddress.Detail <br />
                                @Model.SelectedBillingAddress.TownName /  @Model.SelectedBillingAddress.CityName / @Model.SelectedBillingAddress.CountryName<br />
                            </div>
                        }
                    }
                </div>
            </div>
        }



        @if (Model.SelectedCoupon != null)
        {
            <div id="SelectedCoupon" class="row">

                <div class="col-sm-12">
                    <p id="CouponText">
                        @localizer["Kupon"]
                        @if (Model.Step != "payment")
                        {
                            <a class="RemoveCoupon" href="javascript:;">@localizer["Kaldir"]</a>
                        }
                    </p>
                </div>
                <div class="col-sm-12 text-right">
                    <p id="CouponAmount">
                        <span>@Model.CouponAmount.ToString("n2") @Model.CurrencyCode</span>

                    </p>
                </div>
                @if (Model.Step != "payment" && Model.CouponWarnings != null && Model.CouponWarnings.Any())
                {
                    <div class="col-sm-24">
                        <p class="alert block alert-warning">
                            @foreach (var item in Model.CouponWarnings)
                            {
                                @localizer[item]<br />
                            }
                        </p>
                    </div>
                }

            </div>
        }

        @if (Model.SelectedWebPosInstallment != null)
        {
            <div id="SelectedPayment">
                @Model.SelectedWebPosInstallment.PaymentType

                @if (Model.SelectedWebPosInstallment.Quantity > 1)
                {
                    <span>(@Model.SelectedWebPosInstallment.PosName)</span>
                    @Model.SelectedWebPosInstallment.Quantity <text> Installments</text>
                }
                else if (Model.SelectedWebPosInstallment.PaymentType == PaymentType.KrediKarti)
                {
                    <span>Tek Çekim</span>
                }
                else if (Model.SelectedWebPosInstallment.PaymentType == PaymentType.Havale && Model.SelectedBank != null)
                {
                    <span>TO : @Model.SelectedBank.Name</span>
                }
            </div>
        }
        <div id="Total" class="row">

            <div class="col-sm-12">
                <p class="TotalAmount">@localizer["GeneralTotal"]</p>
                <p class="ItemsCount"><span id="ItemCount">@(cart?.TotalItem ?? 0)</span> @localizer["Items"]</p>
            </div>

            <div class="col-sm-12">
                <p class="TotalAmountValue">
                    @(Model?.CurrencySymbol ?? Model?.CurrencyCode ?? "") @Model.TotalAmount().ToString("n2")
                </p>
                <p class="Vat">@localizer["VATIncluded"]</p>
            </div>
        </div>

    </div>

}


