﻿@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
@model AccountPageVM
@*<div class="ToggleAccountMenu">
        <span></span>
        @localizer["Hesabim"]
    </div>*@

<div id="AccountMenu">


    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <a class="nav-link  @(Model.ControllerName =="Account" && Model.ActionName == "Index"?"active":"")" href="/@Model.LangCode/account" role="tab">
            @localizer["Hesabim"]
        </a>
        <a class="nav-link @(Model.ControllerName =="Orders" && Model.OrderType != PaymentType.Havale?"active":"")" href="/@Model.LangCode/orders">@localizer["Siparislerim"]</a>

        <a class="nav-link @(Model.ControllerName =="Account" && Model.ActionName=="Update" ?"active":"")" href="/@Model.LangCode/account/update">@localizer["Profile"]</a>
        <a class="nav-link @(Model.ActionName =="ChangePassword" ?"active":"")" href="/@Model.LangCode/account/changepassword">@localizer["ChangePassword"]</a>
        <a class="nav-link" href="/@Model.LangCode/checkout">@localizer["Sepetim"]</a>

        <a class="nav-link @(Model.ControllerName =="Orders" && Model.OrderType== PaymentType.Havale?"active":"")" href="/@Model.LangCode/orders?orderType=Havale">@localizer["HavalaBildirimi"]</a>
        <a class="nav-link" href="/@Model.LangCode/User/Coupon">@localizer["Coupons"]</a>
        <a class="nav-link @(Model.ControllerName =="Address"?"active":"")" href="/@Model.LangCode/address">@localizer["Address"]</a>
        <a class="nav-link  @(Model.ControllerName =="Banks" ?"active":"")" href="/@Model.LangCode/banks">@localizer["Bankalar"]</a>
        <a class="nav-link" href="/@Model.LangCode/logout">@localizer["LogOut"]</a>
    </div>

</div>