﻿@model Ecom.ViewModels.HomeVM
@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<h2>Admin Home Index</h2>

<h1>
    @Model.WelcomeMessage
</h1>

<h2>
    @Localizer["HomeMessage"]
</h2>

@if (Model != null)
{
    <script>
            var controller = "@Model.ControllerName";
            var action = "@Model.ActionName";
            var langId = @Model.LangId;
            var langCode = "@Model.LangCode";
    </script>
}