﻿@model SearchVM
@{
    ViewData["Title"] = "Index";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

@if (Model != null && Model.TotalItem>0 && Model.ShowPages && Model.TotalPage>1)
{
        <div class="Pages row">
            <div class="col-sm-8">
                TotalItem : @Model.TotalItem pages: @Model.page@("/")@Model.TotalPage
            </div>

            <div class="col-sm-16 text-right">
                @for (int i = 1; i <= Model.TotalPage; i++)
                {
                    <a href="?page=@i&q=@Model.SearchKeyword" class="@(Model.page==i?"active":"")">@i</a>
                }
            </div>
        </div>

}
