﻿@model SearchVM
@{
    ViewData["Title"] = "Index";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

@if (Model != null && Model.Products != null && Model.Products.Any())
{
 
    @Html.Partial("_Pages")

    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-sm-@Model.Grid">
                <div data-id="@item.ProductID" class="ProductItem">
                    <a href="@item.Url">
                        <img class="ProductImage" src="@item.ImagePath" alt="@item.ProductLocalName" />
                    </a>

                    <div class="Colors">
                        @if (item.ColorVariants != null)
                        {
                            foreach (var colorItem in item.ColorVariants)
                            {
                                <div class="@(item.ColorID == colorItem.ColorID?"active":"")" data-color="@colorItem.ColorID" style="background-color:#@(colorItem.ColorHex?.Replace("#",""))" data-img1="@colorItem.ImagePath" data-img2="@colorItem.ImagePath2" title="@colorItem.ColorName">
                                    <span style="@(!String.IsNullOrWhiteSpace(colorItem.ColorHex)?" background-color:"+colorItem.ColorHex:"")">
                                        @if (!String.IsNullOrWhiteSpace(colorItem.ColorHexPath))
                                        {
                                            <img data-qazy="true" src="@colorItem.ColorHexPath" alt="@colorItem.ColorName">
                                        }
                                    </span>
                                </div>
                            }
                        }
                    </div>

                    <a href="@item.Url">

                        <span class="Name">
                            @item.ProductLocalName
                        </span>

                        <p class="prices">
                            @if (item.AmountOld.HasValue && item.AmountOld.Value > item.Amount)
                            {
                                <span class="old-price">
                                    @item.CurrencySymbol
                                    @item.AmountOld
                                </span>
                            }
                            <span class="price">
                                @item.CurrencySymbol
                                @item.Amount
                            </span>

                        </p>
                    </a>
                </div>
            </div>
        }
    </div>

    @Html.Partial("_Pages")

}
