﻿@model SearchVM
@{
    ViewData["Title"] = "Index";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

<script>
    if (!document.getElementById('Header')) { window.location.reload(); }
</script>
@if (Model != null)
{
    <div id="Catalog">
        <h1>@Model.TotalItem items have been found for : <b>"@Model.SearchKeyword"</b></h1>
    </div>

    @if (Model.Products.Any())
    {
        <div class="row">
            @*<div id="Filters" class="col-md-5">
                @Html.Partial("_Filters")
            </div>*@

            <div id="Products" class="col-md-24 Search">
                @Html.Partial("_Products")
            </div>

            <div id="CatalogEnded" class="col-md-19 offset-sm-5">
                <p class="alert alert-warning block">
                    All items have been shown
                </p>
            </div>

        </div>

    }
}
else
{
    <p>No Products have been found for <b>"@Model.SearchKeyword"</b> </p>
}
