﻿@model AccountPageVM

@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer
@if (Model.IsPartial)
{
    @Html.Raw("<div id=\"Content\">")
}

<div id="Account">

    <div id="Errors">

    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("UserLeftMenus")
        </div>

        <div class="col-md-17 offset-sm-1">


            <button class="btn btn-dark" id="NewAddress" data-id="0">+ @localizer["AddNewAddress"]</button>

            <div id="AddressFormArea">
                @if (!Model.addresses.Any())
                {
                    @Html.Partial("_AddressPartial", Model)
                }
            </div>

            <div id="AddressList">
                @if (Model.addresses.Any())
                {
                    @foreach (var item in Model.addresses)
                    {
                        <div class="row AddressItem">
                            <div class="col-sm-14">
                                @item.Name <br />
                                @item.Detail <br />
                                @item.TownName /  @item.CityName / @item.CountryName<br />
                                @item.Phone
                            </div>
                            <div class="col-sm-8 text-center">
                                <button data-id="@item.Id" class="btn btn-primary btn-xs btn-sm EditAddress">@localizer["Edit"]</button>
                                <button data-id="@item.Id" class="btn btn-danger btn-xs btn-sm DeleteAddress">@localizer["Delete"]</button>
                            </div>
                        </div>
                    }

                }
                else
                {
                    <div class="BlankContent">
                        There is no address currently
                    </div>
                }
            </div>
        </div>
    </div>

</div>

@if (Model.IsPartial)
{
    @Html.Raw("</div>")
}
