﻿@model AccountPageVM
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

@if (Model != null)
{
    @if (Model.User != null)
    {

        <div id="Account">

            <div class="row">
                <div class="col-md-6">
                    @Html.Partial("UserLeftMenus")
                </div>

                <div class="col-md-17 offset-md-1 text-center">
                    @Html.Partial("_BanksPartial", Model.Banks)
                </div>
            </div>

        </div>

    }
    else
    {
        Model.PageTitle = localizer["Banks"].Value;

        <div id="Account">
            <h1 class="text-center">@localizer["Banks"]</h1>
            @Html.Partial("_BanksPartial", Model.Banks)
        </div>
    }

}

