﻿body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
}


*:focus {
    box-shadow: none !important;
    outline: none !important;
}

.FormStandard {
    input, select, button {
        margin-bottom: 15px;
    }
}
.blocklevel, block-level, .block {
    display: block;
    width: 100%;
}

.hide, .hidden {
    display: none;
}

.btn.btn-xs {
    font-size: 13px;
    padding: 2px 4px;
}

.btn.btn-long {
    padding: .375rem 2.75rem;
}

.btn.btn-toolong {
    padding: .375rem 3.75rem;
}


.blankcontent {
    padding: 20px;
    border: 1px dashed #808080;
    text-align: center;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}
