﻿#Footer {
    border-top: 1px solid #e3e3e3;
    background-color: #f0f0f0;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 20px;

    p {
        font-weight: bold;
        margin-bottom: 0;
    }

    ul {
        padding-top: 10px;
        margin-bottom: 0;
        padding-left: 0;
        line-height: 15px;

        li {
            list-style: none;

            a {
                padding: 5px 0 5px 0px;
                text-decoration: none;
                color: #5f5f5f;
                font-size: 13px;
            }
        }
    }

    #NewsLetter {
        form {
            input, button {
                display: block;
                height: 45px;
                padding: 4px;
                margin: 0;
                float: left;
                border-radius: 0;
            }

            input {
                width: 150px;
                padding-left:12px;
            }

            button {
                width:90px;
            }
        }
    }
}
