﻿@import "pages/menu";

#Header {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;

    #LangDropdown {
        position: absolute;
        right: 20px;
        top: 10px;

        .dropbtn {
            color: #5f5f5f;
            background-color: white;
            padding: 5px 10px;
            font-size: 14px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 5px 8px;
            text-decoration: none;
            display: block;
            font-size: 14px;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e84b9;
            color: #fff;
        }
    }

    #Logo {
        color: #000000;
        display: inline-block;
        text-decoration: none !important;
        font-size: 30px;
        font-weight: bold;
        padding: 4px 0 0 0px;
    }

    #Search {
        form {
            max-width: 100%;
            margin: 9px 0 0 0;
            position: relative;
            width: 250px;
            display: block;

            input {
                max-width: 100%;
                padding-left: 20px;
                width: 100%;
                height: 38px;
                border-radius: 22px;
                border: 1px solid #e0e0e0;
                outline: none !important;
                box-shadow: none;

                &:focus {
                    border-color: #c4c4c4;
                }
            }

            button {
                border: none;
                color: #333;
                position: absolute;
                top: 3px;
                right: 3px;
                font-size: 11px;
                font-weight: normal;
                padding: 0 7px 0 7px;
                height: 32px;
                background: none;
                line-height: normal;

                img {
                    width: 20px;
                    opacity: 0.5;
                }

                &:hover {
                    /*background-color: #000;*/
                    /*color: #fff;*/
                }
            }
        }
    }

    #LoginRegister, #CartButtonContainer {
        text-align: right;

        & > a#Guest {
            display: none;

            &:hover {
                background-color: white;
                cursor: default;
                color: #5f5f5f;
            }
        }

        #AccountLink{
            color:black;
        }
        
        #LogOut {
            margin-left:5px;
        }

        &.Guest {
            a#Guest {
                display: inline-block;
            }
        }

        &.LoggedIn {
            text-align: center;

            a#Login, a#Register {
                display: none;
            }

            #LoggedInUser {
                display: inline-block;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
                font-size: 14px;
            }

            a#Guest {
                display: none !important;
            }
        }

        & > a, & > button, & > #LoggedInUser, & > p {
            padding: 16px 15px;
            margin: 0 0 0 0;
            display: inline-block;
            text-decoration: none;
            border: none;
            border-radius: 2px;
            background: none;
            outline: none;
            color: #5f5f5f;

            &:hover {
                background-color: #eaeaea;
                color: #000;
            }
        }

        #LoggedInUser {
            display: none;

            &:hover {
                background-color: white;
                cursor: default;
                color: #5f5f5f;
            }
        }

        #CartButton {
            position: relative;
            padding-left: 50px;

            img {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 16px;
                left: 17px;
            }
        }
    }

    #CartButtonContainer {
        text-align: left;
    }
}
