﻿body {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
}
*:focus {
  box-shadow: none !important;
  outline: none !important;
}
.FormStandard input,
.FormStandard select,
.FormStandard button {
  margin-bottom: 15px;
}
.blocklevel,
block-level,
.block {
  display: block;
  width: 100%;
}
.hide,
.hidden {
  display: none;
}
.btn.btn-xs {
  font-size: 13px;
  padding: 2px 4px;
}
.btn.btn-long {
  padding: 0.375rem 2.75rem;
}
.btn.btn-toolong {
  padding: 0.375rem 3.75rem;
}
.blankcontent {
  padding: 20px;
  border: 1px dashed #808080;
  text-align: center;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav li {
  color: #fff;
  background: white;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
nav li a {
  color: #5f5f5f;
}
nav li:hover {
  cursor: pointer;
}
nav ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  z-index: 999;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
  min-width: 200px;
  border: 1px solid #ccc;
  border-top: none;
}
nav ul li:hover > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
nav ul li ul li {
  clear: both;
  width: 100%;
  border-bottom: 1px solid #ccc;
  /*background-color: #f3f3f3;*/
}
nav ul li ul :last-child {
  border: none;
}
#Header {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}
#Header #LangDropdown {
  position: absolute;
  right: 20px;
  top: 10px;
}
#Header #LangDropdown .dropbtn {
  color: #5f5f5f;
  background-color: white;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
#Header #LangDropdown .dropdown {
  position: relative;
  display: inline-block;
}
#Header #LangDropdown .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#Header #LangDropdown .dropdown-content a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
#Header #LangDropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}
#Header #LangDropdown .dropdown:hover .dropdown-content {
  display: block;
}
#Header #LangDropdown .dropdown:hover .dropbtn {
  background-color: #3e84b9;
  color: #fff;
}
#Header #Logo {
  color: #000000;
  display: inline-block;
  text-decoration: none !important;
  font-size: 30px;
  font-weight: bold;
  padding: 4px 0 0 0px;
}
#Header #Search form {
  max-width: 100%;
  margin: 9px 0 0 0;
  position: relative;
  width: 250px;
  display: block;
}
#Header #Search form input {
  max-width: 100%;
  padding-left: 20px;
  width: 100%;
  height: 38px;
  border-radius: 22px;
  border: 1px solid #e0e0e0;
  outline: none !important;
  box-shadow: none;
}
#Header #Search form input:focus {
  border-color: #c4c4c4;
}
#Header #Search form button {
  border: none;
  color: #333;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 11px;
  font-weight: normal;
  padding: 0 7px 0 7px;
  height: 32px;
  background: none;
  line-height: normal;
}
#Header #Search form button img {
  width: 20px;
  opacity: 0.5;
}
#Header #Search form button:hover {
  /*background-color: #000;*/
  /*color: #fff;*/
}
#Header #LoginRegister,
#Header #CartButtonContainer {
  text-align: right;
}
#Header #LoginRegister > a#Guest,
#Header #CartButtonContainer > a#Guest {
  display: none;
}
#Header #LoginRegister > a#Guest:hover,
#Header #CartButtonContainer > a#Guest:hover {
  background-color: white;
  cursor: default;
  color: #5f5f5f;
}
#Header #LoginRegister #AccountLink,
#Header #CartButtonContainer #AccountLink {
  color: black;
}
#Header #LoginRegister #LogOut,
#Header #CartButtonContainer #LogOut {
  margin-left: 5px;
}
#Header #LoginRegister.Guest a#Guest,
#Header #CartButtonContainer.Guest a#Guest {
  display: inline-block;
}
#Header #LoginRegister.LoggedIn,
#Header #CartButtonContainer.LoggedIn {
  text-align: center;
}
#Header #LoginRegister.LoggedIn a#Login,
#Header #CartButtonContainer.LoggedIn a#Login,
#Header #LoginRegister.LoggedIn a#Register,
#Header #CartButtonContainer.LoggedIn a#Register {
  display: none;
}
#Header #LoginRegister.LoggedIn #LoggedInUser,
#Header #CartButtonContainer.LoggedIn #LoggedInUser {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  font-size: 14px;
}
#Header #LoginRegister.LoggedIn a#Guest,
#Header #CartButtonContainer.LoggedIn a#Guest {
  display: none !important;
}
#Header #LoginRegister > a,
#Header #CartButtonContainer > a,
#Header #LoginRegister > button,
#Header #CartButtonContainer > button,
#Header #LoginRegister > #LoggedInUser,
#Header #CartButtonContainer > #LoggedInUser,
#Header #LoginRegister > p,
#Header #CartButtonContainer > p {
  padding: 16px 15px;
  margin: 0 0 0 0;
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  background: none;
  outline: none;
  color: #5f5f5f;
}
#Header #LoginRegister > a:hover,
#Header #CartButtonContainer > a:hover,
#Header #LoginRegister > button:hover,
#Header #CartButtonContainer > button:hover,
#Header #LoginRegister > #LoggedInUser:hover,
#Header #CartButtonContainer > #LoggedInUser:hover,
#Header #LoginRegister > p:hover,
#Header #CartButtonContainer > p:hover {
  background-color: #eaeaea;
  color: #000;
}
#Header #LoginRegister #LoggedInUser,
#Header #CartButtonContainer #LoggedInUser {
  display: none;
}
#Header #LoginRegister #LoggedInUser:hover,
#Header #CartButtonContainer #LoggedInUser:hover {
  background-color: white;
  cursor: default;
  color: #5f5f5f;
}
#Header #LoginRegister #CartButton,
#Header #CartButtonContainer #CartButton {
  position: relative;
  padding-left: 50px;
}
#Header #LoginRegister #CartButton img,
#Header #CartButtonContainer #CartButton img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  left: 17px;
}
#Header #CartButtonContainer {
  text-align: left;
}
body {
  background-color: white;
}
.Banners img {
  max-width: 100%;
}
#MiddleBanners .Banners {
  padding: 5px;
}
#Catalog h1 {
  font-size: 24px;
}
#Products .ProductItem img.ProductImage {
  max-width: 100%;
}
#Products div.ProductItem {
  padding: 3px;
}
#Products .Pages {
  margin-bottom: 5px;
}
#Products .Pages a {
  display: inline-block;
  padding: 3px 11px;
  border: 1px solid #ccc;
  text-decoration: none;
}
#Products .Pages a:hover,
#Products .Pages a.active {
  background-color: #000;
  color: #fff;
}
#Products a,
#Products a:visited {
  display: block;
  font-weight: 500;
  color: #4d4d4d;
  text-align: center;
  -webkit-text-stroke: 0.3px transparent;
}
#Products .old-price {
  text-decoration: line-through;
  color: #be2d2d;
}
#Products > div > div > a > img {
  max-width: 100%;
}
#Products .Colors {
  padding: 5px 0;
  overflow: hidden;
  min-height: 43px;
  margin: 0 auto;
  display: table;
}
#Products .Colors > div {
  width: 22px;
  height: 22px;
  margin: 2px;
  float: left;
  border: 1px solid #dcdcdc;
  box-sizing: content-box;
  border-radius: 32px;
  display: table-cell;
  cursor: pointer;
}
#Products .Colors > div:hover,
#Products .Colors > div.active {
  border-color: #333;
}
#Products .Colors > div > span {
  margin: 1px;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 32px;
  overflow: hidden;
  box-sizing: content-box;
}
/*.Pages{
    display:none;
}*/
.Search .Pages {
  display: flex;
}
#CatalogEnded {
  display: none;
}
#Filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
  margin-right: 15px;
}
#Filters ul li:not(.header) {
  display: inline-block;
}
#Filters ul li:not(.header) input {
  /*display: none;*/
}
#Filters ul li:not(.header) label {
  border: 1px solid #ccc;
  padding: 5px 10px;
  height: 36px;
  min-width: 56px;
  text-align: center;
  display: inline-block;
  margin: 2px 2px 4px 2px;
}
#Filters ul li.header {
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #7d7d7d;
  padding-left: 8px;
}
#Filters ul li input {
  display: none;
}
#Filters ul.cl li input:checked + label {
  border: 2px solid #1a1a1a;
}
#Filters ul.cl li label {
  border: 2px solid #efefef;
  content: none;
  color: #fff;
  text-shadow: 2px 2px 3px #969696;
  width: 35px;
  height: 35px;
  min-width: 35px;
}
#Filters ul.cl li label span {
  display: none;
}
#Filters ul.sz li input:checked + label,
#Filters ul.g li input:checked + label,
#Filters ul.d li input:checked + label,
#Filters ul.s li input:checked + label {
  color: #fff;
  background-color: #000;
}
#Filters ul.sz li label:hover,
#Filters ul.g li label:hover,
#Filters ul.d li label:hover,
#Filters ul.s li label:hover {
  /*color: #fff;*/
  background-color: #ccc;
}
#Filters ul.sz li label,
#Filters ul.g li label,
#Filters ul.d li label,
#Filters ul.s li label {
  background-color: #000;
  background-color: #fff;
}
#Filters ul.g li label {
  background-position: center;
  background-size: 45px 45px;
  min-width: 50px;
  min-height: 50px;
  background-repeat: no-repeat;
  display: inline-block;
  border: none;
}
#Filters ul.g li input:checked + label {
  color: #333;
  background-color: #ccc;
}
#Filters ul.g span {
  display: none;
}
#Filters ul.g li:nth-child(2) label {
  background-image: url(/images/Default/grid4.svg);
}
#Filters ul.g li:nth-child(3) label {
  background-image: url(/images/Default/grid2.svg);
}
#Filters ul.g li:nth-child(4) label {
  background-image: url(/images/Default/grid1.svg);
}
#Filters ul.d li,
#Filters ul.s li {
  display: block;
  width: 95%;
}
#Filters ul.d li input:checked + label,
#Filters ul.s li input:checked + label {
  color: #000;
  background: none;
}
#Filters ul.d li label:hover,
#Filters ul.s li label:hover {
  background-color: #e6e6e6;
}
#Filters ul.d li input,
#Filters ul.s li input {
  /*display:inline-block;*/
  position: absolute;
  opacity: 0;
}
#Filters ul.d li input + label,
#Filters ul.s li input + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
#Filters ul.d li input + label:before,
#Filters ul.s li input + label:before {
  content: '';
  margin-right: 10px;
  margin-left: 9px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #ebebeb;
}
#Filters ul.d li input:hover + label:before,
#Filters ul.s li input:hover + label:before {
  background: #1b1b1b;
}
#Filters ul.d li input:focus + label:before,
#Filters ul.s li input:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
#Filters ul.d li input:checked + label:before,
#Filters ul.s li input:checked + label:before {
  background: #1b1b1b;
}
#Filters ul.d li input:disabled + label,
#Filters ul.s li input:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
#Filters ul.d li input:disabled + label:before,
#Filters ul.s li input:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
#Filters ul.d li input:checked + label:after,
#Filters ul.s li input:checked + label:after {
  content: '';
  position: absolute;
  left: 14px;
  top: 16px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
#Filters ul.d li label,
#Filters ul.s li label {
  width: 100%;
  display: block;
  border: none;
  /*border-bottom: 1px solid #e8e8e8;*/
  text-align: left;
  padding-left: 30px;
  margin: 0;
  color: #585858;
}
#Filters ul.d li label span,
#Filters ul.s li label span {
  position: absolute;
  top: 4px;
}
#BgBlack {
  background: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9990;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  zoom: 1;
  display: none;
}
.ShowBlackBg #BgBlack {
  display: block;
}
.ShowBlackBg #Sizes {
  padding: 5px;
  z-index: 9999;
}
.ShowBlackBg #AddToCart {
  position: relative;
  z-index: 9999;
  background-color: #d21616 !important;
  letter-spacing: 2px !important;
}
#ProductDetails #Thumbs > div {
  padding: 5px;
}
#ProductDetails #Thumbs img {
  max-width: 100%;
  margin-bottom: 10px;
}
#ProductDetails #Images > div {
  padding: 5px 15px 5px 5px;
}
#ProductDetails #Images img {
  max-width: 100%;
}
#ProductDetails h1 {
  font-size: 25px;
  margin-top: 10px;
}
#ProductDetails #ProductCode {
  color: #5b5b5b;
}
#ProductDetails #Price {
  font-size: 20px;
}
#ProductDetails #Price .old {
  text-decoration: line-through;
  color: #d94646;
}
#ProductDetails #Colors {
  padding: 5px 0;
  overflow: hidden;
  min-height: 43px;
  margin: 0 auto;
}
#ProductDetails #Colors > div {
  width: 37px;
  height: 37px;
  margin: 2px;
  float: left;
  border: 1px solid #dcdcdc;
  box-sizing: content-box;
  border-radius: 47px;
  display: table-cell;
  cursor: pointer;
}
#ProductDetails #Colors > div:hover,
#ProductDetails #Colors > div.active {
  border-color: #333;
}
#ProductDetails #Colors > div > span {
  margin: 1px;
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 35px;
  overflow: hidden;
  box-sizing: content-box;
}
#ProductDetails #Sizes {
  margin-top: 5px;
  position: relative;
  background-color: white;
}
#ProductDetails #Sizes > div {
  display: inline-block;
  width: auto;
  padding: 10px 15px;
  min-width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}
#ProductDetails #Sizes > div:hover,
#ProductDetails #Sizes > div.active {
  background-color: #333;
  color: #fff;
}
#ProductDetails #Sizes > div.outofstock,
#ProductDetails #Sizes > div.outofstock:hover {
  border-color: #c8c8c8;
  color: #bababa;
  text-decoration: line-through;
  background-color: #fff;
  cursor: default;
}
#ProductDetails #AddToCart {
  margin: 15px 0 15px 0;
  border-radius: 0;
  background-color: #393939;
  padding: 15px 30px;
  font-size: 20px;
  letter-spacing: 2px;
  outline: none !important;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
  transition: all 1s;
}
#ProductDetails #AddToCart:hover {
  background-color: #000;
  letter-spacing: 3px;
  transition: all 1s;
}
#ProductDetails .nav-pills .nav-link {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-radius: 0;
  padding: 0.6rem 1.6rem;
  border-color: #ededed;
  color: #808080;
}
#ProductDetails .nav-pills .nav-link.active,
#ProductDetails .nav-pills .show > .nav-link {
  color: #000;
  background-color: #fff;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-radius: 0;
}
#Cart #BlankCartBody {
  padding: 25px 5px 25px 5px;
  margin: 5px;
  border: 1px dashed #ccc;
  text-align: center;
}
#Cart #CartProducts {
  border-bottom: 1px solid #efefef;
  padding-bottom: 15px;
  font-size: 14px;
  max-height: 500px;
  overflow: auto;
}
#Cart #CartProducts .quantity-btn {
  background-color: #e4e4e4;
  padding: 0px;
  margin: 3px 5px;
  width: 20px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  color: #5a5a5a;
}
#Cart #CartProducts .quantity-btn:hover {
  background-color: #bbbbbb;
}
#Cart #CartProducts .CartItem {
  margin-bottom: 5px;
}
#Cart #CartProducts .CartItem .old {
  text-decoration: line-through;
  color: #be2d2d;
}
#Cart #CartProducts .CartItem img {
  max-width: 100%;
}
#Cart #CartProducts .CartItem p {
  margin-bottom: 0.1rem;
}
#Cart #CartProducts .CartItem .Name {
  font-weight: 500;
  margin-top: 15px;
  display: block;
}
#Cart #CartProducts .CartItem .Code {
  color: #4f4f4f;
  font-size: 14px;
  display: block;
}
#Cart #CartProducts .CartItem .SizeAndColor {
  font-weight: 500;
}
#Cart #CartProducts .CartItem .Cros,
#Cart #CartProducts .CartItem .Slash {
  color: #808080;
  font-weight: normal;
}
#Cart #CartProducts .CartItem #Price {
  text-align: right;
  padding-right: 15px;
  padding-top: 40px;
  color: #4f4f4f;
}
#Cart #CartProducts .CartItem #Price .bold {
  font-weight: 500;
  color: #333;
}
#Cart #CartProducts .CartItem .DeleteCartItem {
  margin-top: 40px;
  font-size: 13px;
  padding: 2px 4px;
}
#Cart #CartBottom #Total {
  margin: 15px;
}
#Cart #CartBottom #Total p {
  margin: 0;
}
#Cart #CartBottom #Total .TotalAmountValue {
  font-weight: 500;
  text-align: right;
  font-size: 26px;
}
#Cart #CartBottom #Total .Vat {
  color: #808080;
  text-align: right;
}
#Cart #CartBottom #Total .ItemsCount {
  color: #808080;
}
#Cart #CartBottom #Total div {
  padding: 5px;
}
/*LOGIN REGISTER BEGINS*/
/*#LoginRegisterPage {
    background-color: #1da16a;
}*/
#LoginRegisterCon {
  min-height: 480px;
  width: 1000px;
  color: #5a5a5a;
  margin-top: 70px;
}
#LoginRegisterCon * {
  line-height: normal;
}
#LoginRegisterCon a,
#LoginRegisterCon a:visited {
  color: #5a5a5a;
  text-decoration: underline;
}
#LoginRegisterCon a:hover {
  color: #2b2b2b;
}
#LoginRegisterCon p {
  padding: 20px 0 20px 0;
}
#LoginRegisterCon #LoginRegisterForm {
  width: 70%;
}
#LoginRegisterCon h1 {
  color: #5a5a5a;
  font-size: 22px;
  letter-spacing: 2px;
  padding-left: 10px;
}
#LoginRegisterCon select,
#LoginRegisterCon input[type=text],
#LoginRegisterCon input[type=password],
#LoginRegisterCon button[type=submit] {
  color: #333;
  padding: 8px 25px;
  border: 1px solid #a2b5be;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 15px;
  font-size: 20px;
  outline: 0;
  display: block;
  width: 100%;
}
#LoginRegisterCon input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bebebe;
  opacity: 1;
  /* Firefox */
}
#LoginRegisterCon input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bebebe;
}
#LoginRegisterCon input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bebebe;
}
#LoginRegisterCon input:focus {
  border: 1px solid #0099dc;
}
#LoginRegisterCon button[type=submit] {
  border: none;
  color: #f1f1f1;
  background-image: linear-gradient(to top, #e30d0d, #f5003b, #ff0064, #ff008e, #f600b9);
  max-width: 220px;
}
#LoginRegisterCon button[type=submit]:hover {
  border: none;
  color: #fff;
  background-image: linear-gradient(to top, #f20000, #fc002e, #ff004d, #ff0069, #ff0085);
}
#LoginRegisterCon .checkbox {
  margin-top: 10px;
}
#LoginRegisterCon #RegisterLoginNow {
  display: inline-block;
  color: #5a5a5a;
  padding: 13px 35px;
  border: 1px solid #bebebe;
  border-radius: 28px;
  text-decoration: none;
  margin-top: 15px;
  font-size: 18px;
  margin-top: 90px;
  letter-spacing: 2px;
}
#LoginRegisterCon #RegisterLoginNow.LoginNow {
  margin-top: 150px;
}
#LoginRegisterCon #RegisterLoginNow:hover {
  border: 1px solid #fc002e;
  color: white;
  background-image: linear-gradient(to top, #f20000, #fc002e, #ff004d, #ff0069, #ff0085);
}
/*LOGIN REGISTER ENDS*/
#Checkout #Footer {
  padding-top: 20px;
  padding-bottom: 25px;
  color: #808080;
  font-size: 13px;
}
#Checkout #Steps {
  padding: 10px 25px;
  text-align: center;
}
#Checkout #Steps > div {
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 38px;
  display: inline-block;
  text-transform: uppercase;
}
#Checkout #Steps > div > div {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 15px 40px;
  border-radius: 5px;
  border-radius: 38px;
  cursor: default;
  color: #808080;
  cursor: pointer;
}
#Checkout #Steps > div > div:hover {
  color: #000;
}
#Checkout #Steps > div > div.active,
#Checkout #Steps > div > div.passed {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
}
#Checkout.cart #Nav #Prev {
  display: none;
}
#Checkout #Nav {
  margin-top: 20px;
}
#Checkout #Nav #Prev,
#Checkout #Nav #Next {
  outline: none !important;
  box-shadow: none !important;
}
#LoginRegisterModal .nav-pills .nav-link {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-radius: 0;
  padding: 0.4rem 1.4rem;
  border-color: #ededed;
  color: #808080;
}
#LoginRegisterModal .nav-pills .nav-link.active,
#LoginRegisterModal .nav-pills .show > .nav-link {
  color: #000;
  background-color: #fff;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-radius: 0;
}
#Checkout #Summary > div {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  background: #fbfbfb;
  border-radius: 10px;
  padding-bottom: 20px;
}
#Checkout #Summary > div h2 {
  font-weight: normal;
  color: #808080;
  text-align: center;
  font-size: 24px;
  padding: 7px 0 5px 0;
}
#Checkout #Summary > div img {
  max-width: 100%;
  width: auto;
}
#Checkout #Summary #SelectedPayment {
  padding-left: 15px;
  color: #808080;
}
#Checkout #Summary #Total {
  color: #808080;
  margin-top: 10px;
}
#Checkout #Summary #Total p {
  margin-bottom: 5px;
}
#Checkout #Summary #Total .TotalAmount,
#Checkout #Summary #Total .ItemsCount {
  padding-left: 15px;
}
#Checkout #Summary #Total .TotalAmountValue,
#Checkout #Summary #Total .Vat {
  text-align: right;
  padding-right: 15px;
}
#Checkout #Summary #Total .TotalAmountValue {
  font-size: 24px;
  color: #333;
}
#Checkout #Summary #Cart {
  max-height: 350px;
  overflow: auto;
}
#Checkout #Summary #Cart #CartProducts {
  padding-bottom: 0;
}
#Checkout #Summary #Cart .CartItem {
  color: #808080;
  font-size: 13px;
}
#Checkout #Summary #Cart .CartItem img {
  max-width: 100%;
}
#Checkout #Summary #Cart .CartItem .Name {
  margin-top: 10px;
}
#Checkout #Summary #Cart .CartItem .Code {
  color: #adadad;
  margin: 0;
}
#Checkout #Summary #Cart .CartItem .Price {
  font-size: 14px;
  padding-right: 15px;
  padding-top: 20px;
  text-align: right;
  font-weight: 500;
  color: #333;
}
#Checkout #Summary #SelectedCoupon #CouponText {
  padding-left: 15px;
}
#Checkout #Summary #SelectedCoupon #CouponAmount {
  padding-right: 15px;
}
#Checkout #Summary #CargoSum img {
  max-width: 40px;
  margin: 20px 10px 10px 10px;
}
#Checkout #Summary #CargoSum .Name {
  margin-top: 20px;
}
#Checkout #Summary #CargoSum #FreeShippingText {
  display: block;
  color: #808080;
  font-size: 13px;
}
#Checkout #Summary #CargoSum .Price {
  padding-right: 15px;
  padding-top: 20px;
  text-align: right;
  font-weight: 500;
  color: #333;
}
#Checkout #Summary #AddressSum .AddresItem {
  font-size: 14px;
  border-bottom: 1px solid #efefef;
  padding: 10px 10px 10px 15px;
  margin-bottom: 5px;
}
#Checkout #Summary #AddressSum .AddresItem span {
  color: #808080;
}
#Checkout #BlankAddress {
  padding: 25px 5px 25px 5px;
  margin: 5px;
  border: 1px dashed #ccc;
  text-align: center;
}
#Checkout #AddressFormArea {
  margin: 30px 80px;
}
#Checkout .AddresOperations {
  font-size: 15px;
}
#Checkout .BankItem,
#Checkout .AddressItem,
#Checkout .CargoItem,
#Checkout #Poses {
  font-size: 15px;
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 20px;
}
#Checkout .BankItem button,
#Checkout .AddressItem button,
#Checkout .CargoItem button,
#Checkout #Poses button,
#Checkout .BankItem input,
#Checkout .AddressItem input,
#Checkout .CargoItem input,
#Checkout #Poses input {
  margin-top: 40px;
}
#Checkout .BankItem [type="radio"]:checked,
#Checkout .AddressItem [type="radio"]:checked,
#Checkout .CargoItem [type="radio"]:checked,
#Checkout #Poses [type="radio"]:checked,
#Checkout .BankItem [type="radio"]:not(:checked),
#Checkout .AddressItem [type="radio"]:not(:checked),
#Checkout .CargoItem [type="radio"]:not(:checked),
#Checkout #Poses [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
#Checkout .BankItem [type="radio"]:checked + label,
#Checkout .AddressItem [type="radio"]:checked + label,
#Checkout .CargoItem [type="radio"]:checked + label,
#Checkout #Poses [type="radio"]:checked + label,
#Checkout .BankItem [type="radio"]:not(:checked) + label,
#Checkout .AddressItem [type="radio"]:not(:checked) + label,
#Checkout .CargoItem [type="radio"]:not(:checked) + label,
#Checkout #Poses [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
#Checkout .BankItem [type="radio"]:checked + label:before,
#Checkout .AddressItem [type="radio"]:checked + label:before,
#Checkout .CargoItem [type="radio"]:checked + label:before,
#Checkout #Poses [type="radio"]:checked + label:before,
#Checkout .BankItem [type="radio"]:not(:checked) + label:before,
#Checkout .AddressItem [type="radio"]:not(:checked) + label:before,
#Checkout .CargoItem [type="radio"]:not(:checked) + label:before,
#Checkout #Poses [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 29px;
  width: 26px;
  height: 26px;
  border: 1px solid #b5b5b5;
  border-radius: 100%;
  background: #fff;
}
#Checkout .BankItem [type="radio"]:checked + label:after,
#Checkout .AddressItem [type="radio"]:checked + label:after,
#Checkout .CargoItem [type="radio"]:checked + label:after,
#Checkout #Poses [type="radio"]:checked + label:after,
#Checkout .BankItem [type="radio"]:not(:checked) + label:after,
#Checkout .AddressItem [type="radio"]:not(:checked) + label:after,
#Checkout .CargoItem [type="radio"]:not(:checked) + label:after,
#Checkout #Poses [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 18px;
  height: 18px;
  background: #343a40;
  position: absolute;
  top: 33px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#Checkout .BankItem [type="radio"]:not(:checked) + label:after,
#Checkout .AddressItem [type="radio"]:not(:checked) + label:after,
#Checkout .CargoItem [type="radio"]:not(:checked) + label:after,
#Checkout #Poses [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
#Checkout .BankItem [type="radio"]:checked + label:after,
#Checkout .AddressItem [type="radio"]:checked + label:after,
#Checkout .CargoItem [type="radio"]:checked + label:after,
#Checkout #Poses [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#Checkout .CargoItem {
  font-size: 15px;
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 15px;
  padding-top: 15px;
  min-height: 97px;
}
#Checkout .CargoItem .CargoPrice p {
  padding-top: 15px;
}
#Checkout .CargoItem img {
  max-width: 100%;
  width: 40px;
}
#Checkout .CargoItem button,
#Checkout .CargoItem input {
  margin-top: 20px;
}
#Checkout .CargoItem [type="radio"]:checked + label:before,
#Checkout .CargoItem [type="radio"]:not(:checked) + label:before {
  left: 0;
  top: 9px;
}
#Checkout .CargoItem [type="radio"]:checked + label:after,
#Checkout .CargoItem [type="radio"]:not(:checked) + label:after {
  top: 13px;
}
#Checkout #Cart #HiddenSummary {
  display: none;
}
#Checkout #Cart .CartItem {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
}
#Checkout #Cart .CartItem:last-child {
  border-bottom: none;
}
#Checkout #Cart .CartItem .Name {
  margin-top: 25px;
}
#Checkout #Cart .CartItem img {
  max-width: 77px;
}
#Checkout #Cart .CartItem .Code {
  margin-top: 5px;
  margin-bottom: 10px;
}
#Checkout #Cart .CartItem #Price {
  text-align: center;
}
#Checkout #Cart #CouponForm button,
#Checkout #Cart #CouponForm input {
  padding: 5px 12px;
  height: 40px;
  font-size: 18px;
  border-radius: 0;
}
#Checkout #Cart #CouponForm button {
  background-color: #4e4e4e;
  color: #dcdcdc;
  padding: 5px 16px;
}
#Checkout #Cart #CouponForm button:hover {
  color: white;
  background-color: black;
}
#Checkout #Cart #Coupons #BlankCoupons {
  padding: 20px;
  text-align: center;
  border: 1px dashed #ccc;
  margin-top: 20px;
}
#Checkout #Cart #Coupons .CouponItem {
  padding: 10px 0 10px 0;
  border-bottom: 1px dashed #808080;
}
#Checkout #Cart #Coupons #CouponOperations {
  color: #808080;
  font-size: 15px;
  border-bottom: 1px solid #e8e8e8;
}
#Checkout #Cart #Coupons #RemoveCoupon {
  display: none;
}
#Checkout #Cart #Coupons .added #RemoveCoupon {
  display: inline-block;
}
#Checkout #Cart #Coupons .added #UseCoupon {
  display: none;
}
#Checkout .PaymentDetail {
  /*padding: 20px;*/
  /*min-height: 200px;*/
  /*border: 1px dashed;*/
  /*text-align: center;*/
  margin-bottom: 10px;
}
#Checkout #Banks .BankItem {
  cursor: pointer;
  font-size: 14px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
  padding: 10px;
  color: #636363;
}
#Checkout #Banks .BankItem:hover,
#Checkout #Banks .BankItem.active {
  border-color: #80bdff;
  background-color: rgba(128, 189, 255, 0.2);
  color: #000;
}
#Checkout #Banks .BankItem img {
  max-width: 100px;
  display: block;
}
#Checkout #Banks .BankItem button,
#Checkout #Banks .BankItem input {
  margin-top: 40px;
}
#Checkout #Banks .BankItem [type="radio"]:checked + label,
#Checkout #Banks .BankItem [type="radio"]:not(:checked) + label {
  position: unset;
}
#Checkout #Banks .BankItem [type="radio"]:checked + label:before,
#Checkout #Banks .BankItem [type="radio"]:not(:checked) + label:before {
  right: 15px;
  top: 9px;
  left: auto;
}
#Checkout #Banks .BankItem [type="radio"]:checked + label:after,
#Checkout #Banks .BankItem [type="radio"]:not(:checked) + label:after {
  top: 13px;
  right: 19px;
  left: auto;
}
#Checkout #PaymentGroups {
  min-height: 50px;
  margin-top: 20px;
}
#Checkout #PaymentGroups label {
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: none;
  border-top: none;
  margin-right: 0;
  float: left;
  background-color: #ececec;
  cursor: pointer;
}
#Checkout #PaymentGroups label:first-child {
  border-left: 1px solid #fff;
}
#Checkout #PaymentGroups label.active:first-child {
  border-left: 1px solid #ccc;
}
#Checkout #PaymentGroups label.active {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  background-color: white;
  color: #000;
}
#Checkout #PaymentGroups label:last-child {
  border-right: 1px solid #ccc;
}
#Checkout #PaymentGroups label:hover {
  background-color: white;
  color: #000;
}
#Checkout #CardForm {
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
}
#Checkout #CardForm input,
#Checkout #CardForm select {
  border: 1px solid #c3c3c3;
  border-radius: 0;
}
#Checkout #CardForm input:focus,
#Checkout #CardForm select:focus {
  border-color: #80bdff;
}
#Checkout #CardForm .MoveInfo {
  display: none;
}
#Checkout #CardForm .NotValid {
  border: 1px solid #ca0000 !important;
  color: #ca0000 !important;
}
#Checkout #CardForm .CardHeader {
  padding-top: 10px;
  padding-bottom: 6px;
  font-weight: 500;
  color: #000;
  font-size: 13px;
}
#Checkout #CardForm .CardHeader .CardTooltip {
  margin-left: 10px;
}
#Checkout #CardForm .CardHeader img {
  opacity: 0.4;
}
#Checkout #CardForm .cvc {
  width: 75px;
  display: inline-block;
  margin-right: 10px;
}
#Checkout #Poses {
  margin-top: 20px;
}
#Checkout #Poses .PosItem {
  display: none;
}
#Checkout #Poses .PosHeader {
  background-color: #ececec;
}
#Checkout #Poses .PosHeader p {
  padding: 10px 0 0 0;
}
#Checkout #Poses .PosHeader img {
  max-width: 100px;
  margin-top: 10px;
  margin-left: 8px;
}
#Checkout #Poses .ins {
  height: 32px;
  padding-top: 2px;
  cursor: pointer;
}
#Checkout #Poses .ins label {
  cursor: pointer;
  padding: 0;
  margin: 0;
}
#Checkout #Poses .ins:hover {
  background-color: #f1eaca;
}
#Checkout #Poses [type="radio"]:checked + label:before,
#Checkout #Poses [type="radio"]:not(:checked) + label:before {
  left: 15px;
  top: 0;
}
#Checkout #Poses [type="radio"]:checked + label,
#Checkout #Poses [type="radio"]:not(:checked) + label {
  position: unset;
}
#Checkout #Poses [type="radio"]:checked + label:after,
#Checkout #Poses [type="radio"]:not(:checked) + label:after {
  top: 4px;
  left: 19px;
}
#Account #AccountMenu img {
  width: 25px;
  display: inline-block;
  color: white;
  fill: red;
}
#Account #NewAddress {
  margin: 10px 0 10px 0;
}
#Account #Banks .BankItem {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0 10px 0;
}
#Account #Banks .BankItem p {
  line-height: normal;
  margin: 0;
  font-size: 14px;
}
#Account #AddressList #BlankAddress {
  padding: 25px 5px 25px 5px;
  margin: 5px;
  border: 1px dashed #ccc;
  text-align: center;
}
#Account #AddressList #AddressFormArea {
  margin: 30px 80px;
}
#Account #AddressList .AddresOperations {
  font-size: 15px;
}
#Account #AddressList .AddressItem {
  font-size: 15px;
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 20px;
}
#Account #AddressList .AddressItem button,
#Account #AddressList .AddressItem input {
  margin-top: 40px;
}
#Footer {
  border-top: 1px solid #e3e3e3;
  background-color: #f0f0f0;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-top: 20px;
}
#Footer p {
  font-weight: bold;
  margin-bottom: 0;
}
#Footer ul {
  padding-top: 10px;
  margin-bottom: 0;
  padding-left: 0;
  line-height: 15px;
}
#Footer ul li {
  list-style: none;
}
#Footer ul li a {
  padding: 5px 0 5px 0px;
  text-decoration: none;
  color: #5f5f5f;
  font-size: 13px;
}
#Footer #NewsLetter form input,
#Footer #NewsLetter form button {
  display: block;
  height: 45px;
  padding: 4px;
  margin: 0;
  float: left;
  border-radius: 0;
}
#Footer #NewsLetter form input {
  width: 150px;
  padding-left: 12px;
}
#Footer #NewsLetter form button {
  width: 90px;
}