﻿@model Ecom.ViewModels.PageBaseVM
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedLayout> HtmlSharedLocalizer


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(Model != null ? Model.PageTitle : "")</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    </environment>
    @if (Model != null)
    {
        <script>
            var controller = "@Model.ControllerName";
            var action = "@Model.ActionName";
            var langId = @Model.LangId;
            var langCode = "@Model.LangCode";
            var currencyId = "@Model.CurrencyId";
        </script>
    }
</head>
<body id="Top">

    <div id="Header"> 
        <div>

            <!-- just use a number and class 'column' or 'columns' -->
            <div class="row">
                <div class="three columns">
                    <a asp-controller="Home" id="Logo"
                       asp-action="Index">
                        <img src="~/images/SHOPIX-IO-logo.svg" alt="Shopix IO logo" />
                    </a>
                </div>
                <div class="six columns">

                    <ul id="Menu">
                        <li>
                            <a href="#Top">HOME</a>
                        </li>

                        <li>
                            <a href="#Pricing">PRICING</a>
                        </li>

                        <li>
                            <a href="#ShopDetails">FEATURES</a>
                        </li>

                        <li>
                            <a href="#About">ABOUT</a>
                        </li>
                        <li>
                            <a href="#Contact">CONTACT</a>
                        </li>
                    </ul>

                </div>

                <div class="three columns" id="LoginRegister">

                    <a class="GetStarted" asp-controller="User" asp-action="Register">GET STARTED</a>
                    <a class="SignIn" asp-controller="User" asp-action="Login">SIGN IN</a>
                </div>
            </div>

        </div>
    </div>


    @RenderSection("Banners", required: false)

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container">
        @RenderBody()
    </div>

    <div id="Footer">
         
            <div class="row">
                <div class="four columns">

                    <a asp-controller="Home" id="Logo"
                       asp-action="Index">
                        <img src="~/images/SHOPIX-logo-inverted.svg" alt="Convertion IO logo" />
                    </a>

                </div>
                <div class="four columns" id="Rights">
                    All rights reserved Shopix.io (c) @DateTime.Now.Year ltd
                </div>
                <div class="four columns">

                    <ul id="FooterMenu">
                        <li>
                            <a href="#Top">HOME</a>
                        </li>

                        <li>
                            <a href="#Pricing">PRICING</a>
                        </li>

                        <li>
                            <a href="#ShopDetails">FEATURES</a>
                        </li>


                        <li>
                            <a href="#About">ABOUT</a>
                        </li>
                        <li>
                            <a href="#Contact">CONTACT</a>
                        </li>
                    </ul>

                </div> 
            </div> 

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
