﻿@model CatalogVM
@{
    ViewData["Title"] = "Index";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

@if (Model != null && Model.CurCatalog != null && Model.FilterGroups != null)
{

    <input type="hidden" value="@Model.TotalPage" id="totalPage"/>
    <form id="FilterForm">
        <input type="hidden" name="c" value="@Model.CurCatalog.ID" />
        <input type="hidden" name="p" id="p" value="@Model.page" />
        @*<input type="hidden" name="LangId" value="@Model.LangId" />*@
        @foreach (var fgroup in Model.FilterGroups)
        {
            if (fgroup.Items.Any())
            {<ul class="FilterGroup  @fgroup.FilterType">
                    <li class="header">@fgroup.Name</li>
                    @foreach (var item in fgroup.Items)
                    {
                        <li>
                            <input @(item.IsSelected ? "checked=checked" : "") name="@fgroup.FilterType" type="@(fgroup.FilterType=="g"?"radio":"checkbox")" id="@fgroup.FilterType-@item.Id" value="@item.Id">
                            <label style="@(!String.IsNullOrWhiteSpace(item.ColorHex) ? " background-color:" + item.ColorHex : "")" class="label_check " for="@fgroup.FilterType-@item.Id">
                                <span>@item.Name</span>
                            </label>
                        </li>
                    }
                </ul>
            }

        }
    </form>

}
