﻿@model CatalogVM
@{
    ViewData["Title"] = "Index";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

<script>
    if (!document.getElementById('Header')) { window.location.reload(); }
</script>
@if (Model != null && Model.CurCatalog != null)
{
    <div id="Catalog">
        <h1>@Model.CurCatalog.Name</h1>
        <p>@Model.CurCatalog.Summary</p>
    </div>

    @if (Model.Products.Any())
    {
        <div class="row">
            <div id="Filters" class="col-md-5">
                @Html.Partial("_Filters")
            </div>
            <div id="Products" class="col-md-19">
                @Html.Partial("_Products")
            </div>
            <div id="CatalogEnded" class="col-md-19 offset-sm-5">
                <p class="alert alert-warning block">
                    All items have been shown
                </p>
            </div>
        </div>

    }
}
else
{
    <p>Category is not Found</p>
}
