﻿@model Ecom.ViewModels.PageBaseVM
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedAdminLayout> HtmlSharedLocalizer

@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>AREA @Model.PageTitle</title>
</head>
<body>

    @RenderBody()


    @HtmlSharedLocalizer["AdminFooter2"]

</body>
</html>*@
 

@*@using SimpleShopNt.ViewModels
@{
    UserAuthViewModel usr = ViewBag.User;
   

    if (usr == null)
    {
        // Response.Redirect("/Panel/AdminLogin");
    }
    else
    {
        RoleNames = usr.Role.Split(',');
    }

}*@

@if (Model.User != null)
{
     string[] RoleNames = "Admin".Split(',');

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Panel</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="" name="description" />
        <meta content="" name="author" />

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="/Panel/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/Panel/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/Panel/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/Panel/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="/Panel/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->

        @RenderSection("JQueryUICss", required: false)

        <!-- BEGIN THEME STYLES -->
        <link href="/Panel/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
        <link href="/Panel/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
        <link href="/Panel/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
        <link id="style_color" href="/Panel/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
        <link href="/Panel/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
        <!-- END THEME STYLES -->

        <link rel="shortcut icon" href="favicon.ico" /> 
        <link rel="stylesheet" type="text/css" href="/Panel/assets/global/plugins/bootstrap-toastr/toastr.min.css" />

        @RenderSection("CssFiles", required: false)
         
        <link href="~/Panel/Content/Panel.css" rel="stylesheet" />

    </head>
    <body class="page-header-fixed page-quick-sidebar-over-content ">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="/Panel">
                        <img src="~/Panel/Content/pureshop_logo.png" alt="logo" style="max-height:18px;" class="logo-default" />
                    </a>
               
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                @*<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                </a>*@
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">

                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="/Panel/assets/admin/layout/img/avatar3_small.jpg" />
                                <span class="username username-hide-on-mobile">
                                    @Model.User.Name
                                </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                @*<li>
                                        <a href="extra_profile.html">
                                            <i class="icon-user"></i> My Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_calendar.html">
                                            <i class="icon-calendar"></i> My Calendar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="inbox.html">
                                            <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
                                                3
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_todo.html">
                                            <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
                                                7
                                            </span>
                                        </a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="extra_lock.html">
                                            <i class="icon-lock"></i> Lock Screen
                                        </a>
                                    </li>*@
                                <li>
                                    <a href="/Panel/AdminHome/LogOut">
                                        <i class="icon-key"></i> 
                                        @HtmlSharedLocalizer["CikisYap"]
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        @*<li class="dropdown dropdown-quick-sidebar-toggler">
                                <a href="javascript:;" class="dropdown-toggle" title="Çıkış">
                                    <i class="icon-logout"></i>
                                </a>
                            </li>*@
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <div class="clearfix">
        </div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                        @*<li class="sidebar-toggler-wrapper">
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <div class="sidebar-toggler">
                            </div>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                        </li>*@
                        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                        @*<li class="sidebar-search-wrapper">
                                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                                <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                                <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                                <form class="sidebar-search " action="extra_search.html" method="POST">
                                    <a href="javascript:;" class="remove">
                                        <i class="icon-close"></i>
                                    </a>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                                        </span>
                                    </div>
                                </form>
                                <!-- END RESPONSIVE QUICK SEARCH FORM -->
                            </li>*@



                        @*<li>
                                <a href="/SPanel/AdminHome/Index">
                                    <i class="Dashboard glyphicon glyphicon-home"></i> Yönetim Paneli
                                    <span class="selected"></span>
                                </a>
                            </li>*@

                        @if ((RoleNames != null) && (RoleNames.Contains("HepsiniGor") || RoleNames.Contains("Admin") || RoleNames.Contains("HepsiniGor") || RoleNames.Contains("SiparisDuzenle") || RoleNames.Contains("SiparisGor")))
                        {
                            <li>
                                <a href="javascript:;" class="">
                                    <i class="fa fa-bookmark-o "></i>

                                    @HtmlSharedLocalizer["Siparisler"]

                                    <span class="arrow open"></span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="Order1"><a href="/SPanel/Order?searchKeyword=&PaymentStatus=1&PaymentStatus=2&BeginDate=&EndDate=&name=Ara"><i class="fa fa-warning"></i> @HtmlSharedLocalizer["OnayBekleyen"]</a></li>
                                    <li class="Order2"><a href="/SPanel/Order?searchKeyword=&PaymentStatus=4&PaymentStatus=10&BeginDate=&EndDate=&name=Ara"><i class="fa fa-check"></i> @HtmlSharedLocalizer["Onaylanan"] </a></li>
                                    <li class="Order3"><a href="/SPanel/Order?searchKeyword=&PaymentStatus=5&PaymentStatus=6&PaymentStatus=7&BeginDate=&EndDate=&name=Ara"><i class="fa fa-truck"></i> @HtmlSharedLocalizer["TeslimEdilen"]</a></li>
                                    <li class="Order5"><a href="/SPanel/Order?searchKeyword=&PaymentStatus=8&PaymentStatus=9&BeginDate=&EndDate=&name=Ara"><i class="fa fa-exclamation "></i> @HtmlSharedLocalizer["IptalEdilen"]</a></li>
                                    <li class="Order"><a href="@Url.Action("Index", "Order")"><i class="glyphicon glyphicon-star"></i> @HtmlSharedLocalizer["Tumu"]</a></li>
                                    <li class="MoneyTransferInfo"><a href="@Url.Action("Index", "MoneyTransferInfo")"><i class="fa fa-bell-o"></i> @HtmlSharedLocalizer["HavaleBildirimleri"]</a></li>


                                </ul>
                            </li>

                        }

                        @if ((RoleNames != null) && (RoleNames.Contains("Admin") || RoleNames.Contains("HepsiniGor") || RoleNames.Contains("UrunDuzenle") || RoleNames.Contains("UrunGor")))
                        {
                            <li>
                                <a href="javascript:;" class="">
                                    <i class="fa fa-bookmark-o "></i> @HtmlSharedLocalizer["UrunYonetimi"] 
                                    <span class="arrow open"></span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="Brand"><a href="@Url.Action("Index", "Brand")"><i class="fa fa-star"></i> @HtmlSharedLocalizer["Markalar"]  </a></li>
                                    <li class="Product Stock StockImage"><a href="@Url.Action("Index", "Product")"><i class="fa fa-tint "></i>  @HtmlSharedLocalizer["Urunler"]</a></li>
                                     <li class="Season"><a href="@Url.Action("Index", "Season")"><i class="fa fa-sitemap"></i> @HtmlSharedLocalizer["Sezonlar"]</a></li>
                                    <li class="Catalog"><a href="@Url.Action("Index", "Catalog")"><i class="fa fa-sitemap"></i> @HtmlSharedLocalizer["Kataloglar"]</a></li>
                                    <li class="Policy"><a href="@Url.Action("Index", "Policy")"><i class="glyphicon glyphicon-share-alt"></i> @HtmlSharedLocalizer["KargoPolitikalari"]</a></li>

                                    <li class="Catalog"><a href="@Url.Action("SortProductInCatalogs", "Product")"><i class="fa fa-sort-amount-desc"></i> Katalog Sıralama</a></li>
                                    <li class="ProductDepartment"><a href="@Url.Action("Index", "ProductDepartment")"><i class="glyphicon glyphicon-asterisk"></i> @HtmlSharedLocalizer["UrunDepartmanlari"]</a></li>
                                    <li class="ProductStyle"><a href="@Url.Action("Index", "ProductStyle")"><i class="glyphicon glyphicon-asterisk"></i> @HtmlSharedLocalizer["UrunStilleri"]</a></li>

                                </ul>
                            </li>
                        }

                        @*@if ((RoleNames != null) && (RoleNames.Contains("Admin") || RoleNames.Contains("HepsiniGor") || RoleNames.Contains("UrunGor") || RoleNames.Contains("UrunDuzenle")))
                            {
                                <li>
                                    <a href="javascript:;" class="">
                                        <i class="fa fa-bookmark-o "></i> İade & Kargo Polit.
                                        <span class="arrow open"></span>
                                        <span class="selected"></span>
                                    </a>
                                    <ul class="sub-menu">

                                        <li class="ReturnPolicyType"><a href="@Url.Action("Index", "Policy")"><i class="glyphicon glyphicon-share-alt"></i> Kargo/İade Politikaları</a></li>
                                        <li class="ReturnPolicy"><a href="@Url.Action("Index", "ReturnPolicy")"><i class="glyphicon glyphicon-share"></i> İade Politikaları</a></li>
                                        <li class="PolicyType"><a href="@Url.Action("Index", "PolicyType")"><i class="glyphicon glyphicon-gift"></i> Kargo Politikası Tipleri</a></li>
                                        <li class="Policy"><a href="@Url.Action("Index", "Policy")"><i class="glyphicon glyphicon-gift"></i> Kargo Politikaları</a></li>

                                    </ul>
                                </li>
                            }*@

                        @if ((RoleNames != null) && (RoleNames.Contains("Admin") || RoleNames.Contains("HepsiniGor") || RoleNames.Contains("UrunGor") || RoleNames.Contains("UrunDuzenle")))
                            {
                                <li>
                                    <a href="javascript:;" class="">
                                        <i class="fa fa-bookmark-o "></i>  @HtmlSharedLocalizer["RenkBedenTanimlari"]
                                        <span class="arrow open"></span>
                                        <span class="selected"></span>
                                    </a>
                                    <ul class="sub-menu">

                                        <li class="Size"><a href="@Url.Action("Index", "Size")"><i class="glyphicon glyphicon-barcode"></i> 
                                            @HtmlSharedLocalizer["BedenTanimlari"]
                                            </a></li>
                                        <li class="ColorGlobal"><a href="@Url.Action("Index", "ColorGlobal")"><i class="glyphicon glyphicon-globe"></i>  @HtmlSharedLocalizer["GlobalRenkler"]</a></li>
                                        <li class="Color"><a href="@Url.Action("Index", "Color")"><i class="glyphicon glyphicon-barcode"></i> @HtmlSharedLocalizer["Renkler"] </a></li>

                                    </ul>
                                </li>
                            }

                        @if ((RoleNames != null) && (RoleNames.Contains("Admin") || RoleNames.Contains("HepsiniGor") || RoleNames.Contains("KampanyaGor") || RoleNames.Contains("KampanyaDuzenle")))
                            {

                                <li>
                                    <a href="javascript:;" class="">
                                        <i class="fa fa-bookmark-o "></i>  @HtmlSharedLocalizer["KampanyaKupon"]
                                        <span class="arrow open"></span>
                                        <span class="selected"></span>
                                    </a>
                                    <ul class="sub-menu">

                                        <li class="Campaign"><a href="@Url.Action("Index", "Campaign")"><i class="glyphicon glyphicon-cut"></i>  @HtmlSharedLocalizer["Kampanyalar"]</a></li>
                                        <li class="Coupon"><a href="@Url.Action("Index", "Coupon")"><i class="glyphicon glyphicon-user"></i>  @HtmlSharedLocalizer["Kuponlar"]</a></li>

                                    </ul>


                                </li>


                            }

                        @if ((RoleNames != null) && (RoleNames.Contains("Admin") || RoleNames.Contains("HepsiniGor") || RoleNames.Contains("BankaGor") || RoleNames.Contains("BankaDuzenle")))
                        {

                            <li>
                                <a href="javascript:;" class="">
                                    <i class="glyphicon glyphicon-credit-card"></i> @HtmlSharedLocalizer["OdemePos"]
                                    <span class="arrow open"></span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="Payment"><a href="@Url.Action("Index", "Payment")"><i class="glyphicon glyphicon-briefcase"></i>  @HtmlSharedLocalizer["OdemeTipleri"]</a></li>
                                    <li class="Bank"><a href="@Url.Action("Index", "Bank")"><i class="glyphicon glyphicon-briefcase"></i>  @HtmlSharedLocalizer["BankaTanimlari"]</a></li>
                                    <li class="WebPos"><a href="@Url.Action("Index", "WebPos")"><i class="glyphicon glyphicon-credit-card"></i>   @HtmlSharedLocalizer["SanalPosTanimlari"]</a></li>
                                    <li class="BinNumber"><a href="@Url.Action("Index", "BinNumber")"><i class="glyphicon glyphicon-credit-card"></i> @HtmlSharedLocalizer["BinNumaralari"]</a></li>
                                </ul>
                            </li>

                        }

                        @if ((RoleNames != null) && (RoleNames.Contains("Admin") || RoleNames.Contains("HepsiniGor") || RoleNames.Contains("IcerikGor") || RoleNames.Contains("IcerikDuzenle") || RoleNames.Contains("BannerDuzenle")))
                        {

                            <li>
                                <a href="javascript:;" class="">
                                    <i class="fa fa-bookmark-o "></i> @HtmlSharedLocalizer["IcerikAyarlari"]
                                    <span class="arrow open"></span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="Banner"><a href="@Url.Action("Index", "Banner")"><i class="glyphicon glyphicon-globe"></i> 
                                        @HtmlSharedLocalizer["BannerYonetimi"]
                                        </a></li>
                                    <li class="ContentPage"><a href="@Url.Action("Index", "ContentPage")"><i class="glyphicon glyphicon-globe"></i>  @HtmlSharedLocalizer["IcerikSayfalari"] </a></li>
                                    <li class="EmailTemplate"><a href="@Url.Action("Index", "EmailTemplate")"><i class="glyphicon glyphicon-globe"></i> @HtmlSharedLocalizer["EmailSablonlari"]</a></li>

                                    @*@if ((RoleNames != null) && (RoleNames.Contains("Admin") || RoleNames.Contains("HepsiniGor") || RoleNames.Contains("IcerikGor") || RoleNames.Contains("IcerikDuzenle")))
                                        {
                                            <li class="ContentPage"><a href="@Url.Action("Index", "ContentPage")"><i class="glyphicon glyphicon-globe"></i> İçerik Sayfaları</a></li>
                                            <li class="EmailTemplate"><a href="@Url.Action("Index", "EmailTemplate")"><i class="glyphicon glyphicon-globe"></i> Email Şablonları</a></li>
                                            <li class="BlogPost"><a href="@Url.Action("Index", "BlogPost")"><i class="glyphicon glyphicon-globe"></i> Blog</a></li>
                                            <li class="BlogCatalog"><a href="@Url.Action("Index", "BlogCatalog")"><i class="glyphicon glyphicon-globe"></i> Blog Kategorileri</a></li>
                                            <li class="Comment"><a href="@Url.Action("Index", "Comment")"><i class="glyphicon glyphicon-globe"></i> Blog Yorumları</a></li>
                                        }*@
                                </ul>
                            </li>

                        }

                        @if ((RoleNames != null) && (RoleNames.Contains("HepsiniGor") || RoleNames.Contains("Admin") || RoleNames.Contains("HepsiniGor") || RoleNames.Contains("RaporDuzenle") || RoleNames.Contains("RaporGör")))
                        {
                            <li>
                                <a href="javascript:;" class="">
                                    <i class="fa fa-bookmark-o "></i> @HtmlSharedLocalizer["Raporlar"]
                                    <span class="arrow open"></span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="sub-menu">

                                    <li class="AdminHome">
                                        <a href="/SPanel/AdminHome/DashBoard"><i class="glyphicon glyphicon-star"></i> @HtmlSharedLocalizer["Ozet"] </a>

                                        <ul class="sub-menu">

                                            <li class="AdminHome"><a href="/SPanel/AdminHome/DashBoard?DateRange=ThisWeek"><i class="glyphicon glyphicon-list"></i>  @HtmlSharedLocalizer["BuHafta"] </a></li>
                                            <li class="AdminHome"><a href="/SPanel/AdminHome/DashBoard?DateRange=LastWeek"><i class="glyphicon glyphicon-list"></i>  @HtmlSharedLocalizer["GecenHafta"] </a></li>
                                            <li class="AdminHome"><a href="/SPanel/AdminHome/DashBoard?DateRange=Today"><i class="glyphicon glyphicon-list"></i>  @HtmlSharedLocalizer["Bugun"] </a></li>
                                            <li class="AdminHome"><a href="/SPanel/AdminHome/DashBoard?DateRange=YesterDay"><i class="glyphicon glyphicon-list"></i>  @HtmlSharedLocalizer["Dun"] </a></li>
                                            <li class="AdminHome"><a href="/SPanel/AdminHome/DashBoard?DateRange=ThisMonth"><i class="glyphicon glyphicon-list"></i>  @HtmlSharedLocalizer["BuAy"] </a></li>
                                            <li class="AdminHome"><a href="/SPanel/AdminHome/DashBoard?DateRange=LastMonth"><i class="glyphicon glyphicon-list"></i>  @HtmlSharedLocalizer["GecenAy"] </a></li>
                                            <li class="AdminHome"><a href="/SPanel/AdminHome/DashBoard?DateRange=Last15"><i class="glyphicon glyphicon-list"></i>  @HtmlSharedLocalizer["Son15Gun"] </a></li>
                                            <li class="AdminHome"><a href="/SPanel/AdminHome/DashBoard?DateRange=Last30"><i class="glyphicon glyphicon-list"></i>  @HtmlSharedLocalizer["Son30Gün"] </a></li>

                                        </ul>

                                    </li>
                                    <li class="OrderRep"><a href="/SPanel/Report/OrderRep"><i class="glyphicon glyphicon-star"></i> @HtmlSharedLocalizer["SiparisRaporlari"]</a></li>
                                    <li class="UserRep"><a href="/SPanel/Report/UserRep"><i class="glyphicon glyphicon-star"></i> @HtmlSharedLocalizer["UyeRaporlari"]</a></li>
                                    <li class="RateRep"><a href="/SPanel/Report/RateRep"><i class="glyphicon glyphicon-star"></i> @HtmlSharedLocalizer["OylamaFavoriRaporlari"]</a></li>
                                        <li class="BasketRep"><a href="/SPanel/Report/BasketRep"><i class="glyphicon glyphicon-star"></i> @HtmlSharedLocalizer["SepetRaporlari"]</a></li>
                                        <li class="VisitorRep"><a href="/SPanel/Report/VisitorRep"><i class="glyphicon glyphicon-star"></i> @HtmlSharedLocalizer["ZiyaretciRaporlari"]</a></li>
                                        <li class="CampaignRep"><a href="/SPanel/Report/CampaignRep"><i class="glyphicon glyphicon-star"></i> @HtmlSharedLocalizer["KampanyaRaporlari"]</a></li>
                                        <li class="ActiveCouponRep"><a href="/SPanel/Report/ActiveCouponRep"><i class="glyphicon glyphicon-star"></i> @HtmlSharedLocalizer["KuponRaporlari"]</a></li>

                                </ul>
                            </li>

                        }


                        @if ((RoleNames != null) && (RoleNames.Contains("Admin") || RoleNames.Contains("HepsiniGor") || RoleNames.Contains("AyarGor") || RoleNames.Contains("AyarDuzenle")))
                        {
                            <li>

                                <a href="javascript:;" class="">
                                    <i class="fa fa-bookmark-o "></i> @HtmlSharedLocalizer["Uyeler"]
                                    <span class="arrow open"></span>
                                    <span class="selected"></span>
                                </a>

                                <ul class="sub-menu">
                                    <li class="AdminUser">  <a href="@Url.Action("Index", "AdminUser")"><i class="glyphicon glyphicon-user"></i>  @HtmlSharedLocalizer["UyeListesi"]</a></li>
                                    <li class="UserMessage">  <a href="@Url.Action("Index", "UserMessage" )"><i class="glyphicon glyphicon-user"></i>  @HtmlSharedLocalizer["UyeMesajlari"]</a></li>
                                    @*<li class="LiveChat"> <a href="@Url.Action("Index", "LiveChat" )"><i class="glyphicon glyphicon-user"></i> Canlı Destek</a></li>*@
                                </ul>

                            </li>

                            <li>
                                <a href="javascript:;" class="">
                                    <i class="fa fa-bookmark-o "></i>  @HtmlSharedLocalizer["DigerAyarlar"]
                                    <span class="arrow open"></span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="sub-menu">

                                    <li class="SiteSetting"><a href="@Url.Action("Index", "SiteSetting")"><i class="glyphicon glyphicon-globe"></i>  @HtmlSharedLocalizer["GenelAyarlar"]</a></li>
                                    <li class="SiteSetting"><a href="@Url.Action("Index", "Domain")"><i class="glyphicon glyphicon-globe"></i> @HtmlSharedLocalizer["DomainAyarlari"] </a></li>
                                     <li class="PriceCurrency"><a href="@Url.Action("Index", "PriceCurrency")"><i class="glyphicon glyphicon-globe"></i> @HtmlSharedLocalizer["ParaBirimi"]  </a></li>
                                    <li class="Lang"><a href="@Url.Action("Index", "Lang")"><i class="glyphicon glyphicon-globe"></i> @HtmlSharedLocalizer["DilTanimlari"]  </a></li>

                                    <li class="AdminUser1"><a href="@Url.Action("Index", "AdminUser", new { ps = 1 })"><i class="glyphicon glyphicon-user"></i> @HtmlSharedLocalizer["Kullanicilar"]</a></li>
                                    <li class="Role"><a href="@Url.Action("Index", "Role")"><i class="glyphicon glyphicon-user"></i> @HtmlSharedLocalizer["Yetkiler"]</a></li>

                                    <li class="Country City Town">
                                        <a href="@Url.Action("Index", "Store")"><i class="glyphicon glyphicon-globe"></i> @HtmlSharedLocalizer["UlkeSehirTanimlari"]</a>

                                        <ul class="sub-menu">
                                            <li class="Country"><a href="@Url.Action("Index", "Country")"><i class="glyphicon glyphicon-globe"></i> @HtmlSharedLocalizer["UlkeTanimlari"]</a></li>
                                            <li class="City"><a href="@Url.Action("Index", "City")"><i class="glyphicon glyphicon-globe"></i> @HtmlSharedLocalizer["SehirTanimlari"]</a></li>
                                            <li class="Town"><a href="@Url.Action("Index", "Town")"><i class="glyphicon glyphicon-globe"></i>@HtmlSharedLocalizer["IlceTanimlari"]</a></li>
                                        </ul>

                                    </li>

                                    <li class="Cargo"><a href="@Url.Action("Index", "Depot")"><i class="glyphicon glyphicon-gift"></i> Depo Tanımları</a></li>
                                    <li class="Cargo"><a href="@Url.Action("Index", "Cargo")"><i class="glyphicon glyphicon-gift"></i> @HtmlSharedLocalizer["KargoTanimlari"]</a></li>
                                    <li class="CargoPrice"><a href="@Url.Action("Index", "CargoPrice")"><i class="glyphicon glyphicon-gift"></i> @HtmlSharedLocalizer["KargoFiyatTanimlari"]</a></li>
                                    <li class="Cargo"><a href="@Url.Action("Index", "GiftPrice")"><i class="glyphicon glyphicon-gift"></i> @HtmlSharedLocalizer["HediyePaketiTanimlari"] </a></li>
                                    <li class="Store"><a href="@Url.Action("Index", "Store")"><i class="glyphicon glyphicon-shopping-cart"></i> @HtmlSharedLocalizer["MagazaTanimlari"] </a></li>

                                </ul>
                            </li>

                        }



                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">


                    <!-- BEGIN PAGE HEADER-->
                    @*@{
                        ViewBag.NavProperties = SimpleShopNt.Business.Web.Areas.Panel.Common.PanelOperations.GetPanelNavigationByName(ViewContext.RouteData.Values["Controller"].ToString(), Request.QueryString);
                    }*@
                     
                    @*@Html.Partial("AdminHeaderAndBreadCrumbNavigation")*@

                    <!-- END PAGE HEADER-->
                    <!-- BEGIN PAGE CONTENT-->
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>


                    <!-- END PAGE CONTENT-->
                </div>
            </div>
            <!-- END CONTENT -->


        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        @*<div class="page-footer">
                <div class="page-footer-inner">
                    2014 &copy; Metronic by keenthemes. <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>*@
        <!-- END FOOTER -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->
        <!--[if lt IE 9]>
        <script src="/Panel/assets/global/plugins/respond.min.js"></script>
        <script src="/Panel/assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->

        <script src="/Panel/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/Panel/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>

        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

        <script src="/Panel/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/Panel/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/Panel/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/Panel/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/Panel/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/Panel/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
        <script src="/Panel/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        @*<script src="/Panel/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>*@

        <!-- END CORE PLUGINS -->
        <script src="/Panel/assets/global/scripts/metronic.js" type="text/javascript"></script>
        <script src="/Panel/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
        <script src="/Panel/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
        @*<script src="/Panel/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>*@

        <script>
                jQuery(document).ready(function () {
                    // initiate layout and plugins
                    Metronic.init(); // init metronic core components
                    Layout.init(); // init current layout
                    QuickSidebar.init(); // init quick sidebar

                });
        </script>

        <script src="~/Panel/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>
        <script src="~/Panel/assets/global/plugins/jquery-form-malsup/jquery.form.js"></script>

        <script src="~/Panel/Scripts/Panel.js"></script>
        @RenderSection("JsFiles", required: false)

        <!-- END BODY -->
         

        <div class="modal fade in" id="myModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Emin Misiniz</h4>
                    </div>
                    <div class="modal-body">
                        <p>İçerik silinecek. Bu işlem geri alınamaz.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">İptal</button>
                        <button id="SilmeOnayla" class="btn btn-primary yellow"><i class="fa fa-ok"></i> Sil/Onayla</button>

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- Modal -->
        <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="myModalLabel">Önizleme</h3>
            </div>
            <div class="modal-body">
                <p>İçerik silinecek. Bu işlem geri alınamaz.</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Kapat</button>
            </div>
        </div>

        <input type="hidden" class="NavMenuActive gizle" value="@Model.ControllerName" />
        <input type="hidden" class="ControllerName" value="@Model.ControllerName" />
        <input type="hidden" class="NavMenuActiveAction gizle" value="@Model.ActionName" />

        @{

            string navMenuExt = "";

            //if (Request.QueryString["ps"] != null)
            //{
            //    navMenuExt = Request.QueryString["ps"].ToString();
            //}
        }
        <input type="hidden" class="NavMenuExt gizle" value="@navMenuExt" />



    </body>
</html>

}