﻿@model Ecom.ViewModels.ProductDetailVM

@{
    ViewData["Title"] = "Index";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedDataResource> localizer

@if (Model != null && Model.CurProduct != null)
{
    var prd = Model.CurProduct;

    @section PreScripts {

        <script>
            $stocks = @Html.Raw(prd.AllStocksStr);
            $images = @Html.Raw(prd.AllImagesStr);
            
            $detailImageWidth = 460;
            $thumbImageWidth = 129;

            //console.log($stocks, $images);
        </script>
    }

    @if (Model.IsPartial)
    {
        <script>
            $stocks = @Html.Raw(prd.AllStocksStr);
            $images = @Html.Raw(prd.AllImagesStr);
        </script>
    }
    <script>
        if (!document.getElementById('Header')) { window.location.reload(); }
    </script>
    <div id="ProductDetails" class="row" data-id="@prd.ProductID">
        <div id="BreadCrumb"></div>

        <div class="row">

            <div class="col-sm-3" id="Thumbs">
                <div>
                    @if (prd.CurrentImages != null)
                    {
                        foreach (var item in prd.CurrentImages)
                        {
                            <div>
                                <img src="@(item.ImagePath+"?width=129")" alt="@prd.ProductName" />
                            </div>
                        }
                    }
                </div>

            </div>

            <div class="col-sm-11" id="Images">
                <div>
                    @if (prd.CurrentImages != null)
                    {
                        foreach (var item in prd.CurrentImages.Take(1))
                        {
                            <div>
                                <img src="@item.ImagePath?width=460" alt="@prd.ProductName" />
                            </div>
                        }
                    }
                </div>

            </div>

            <div class="col-sm-10" id="Details">
                <h1>@prd.ProductName</h1>
                <p id="ProductCode">@prd.ProductCode</p>
                <div id="Price">

                    @if (prd.AmountOld.HasValue && prd.AmountOld.Value > prd.Amount)
                    {
                        <span class="old">
                            @prd.AmountOld
                        </span>
                    }

                    <span>
                        @prd.CurrencySymbol@prd.Amount
                    </span>

                </div>

                <div id="Colors">
                    @if (prd.ColorVariants != null)
                    {
                        foreach (var colorItem in prd.ColorVariants)
                        {
                            <div class="@colorItem.ClassName" data-color="@colorItem.ColorID" style="background-color:#@(colorItem.ColorHex?.Replace("#",""))" data-img1="@colorItem.ImagePath" data-img2="@colorItem.ImagePath2" title="@colorItem.ColorName">
                                <span>
                                    @if (!String.IsNullOrWhiteSpace(colorItem.ColorHexPath))
                                    {
                                        <img data-qazy="true" src="@colorItem.ColorHexPath" alt="@colorItem.ColorName">
                                    }
                                </span>
                            </div>
                        }
                    }
                </div>

                <div id="Sizes">

                    @if (prd.CurrentSizes != null)
                    {
                        foreach (var item in prd.CurrentSizes)
                        {
                            <div data-id="@item.SizeID" title="@(item.IsActive?"":"Out of stock")" class="@(item.IsActive?"":"outofstock")">@item.Name</div>
                        }
                    }

                </div>

                <div>
                    <button class="btn btn-primary" id="AddToCart" data-selectsizetext="@localizer["PleaseSelectASize"]" data-addingtext="@localizer["Adding"]...">
                        @(localizer["AddToCart"].Value.ToUpper())
                    </button>
                </div>

                <div id="DetailText">

                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-detail-tab" data-toggle="pill" href="#pills-detail" role="tab" aria-controls="pills-detail" aria-selected="true">
                                @(localizer["Details"].Value.ToUpper())
                                
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-cargo-tab" data-toggle="pill" href="#pills-cargo" role="tab" aria-controls="pills-cargo" aria-selected="false">
                                @(localizer["CargoPolicy"].Value.ToUpper())
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-return-tab" data-toggle="pill" href="#pills-return" role="tab" aria-controls="pills-return" aria-selected="false">
                                @(localizer["ReturnPolicy"].Value.ToUpper())
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-detail" role="tabpanel" aria-labelledby="pills-detail-tab">
                            @Html.Raw(prd.DetailHTML)
                        </div>
                        <div class="tab-pane fade" id="pills-cargo" role="tabpanel" aria-labelledby="pills-cargo-tab">
                            @Html.Raw(prd.CargoPolicyHTML)
                        </div>
                        <div class="tab-pane fade" id="pills-return" role="tabpanel" aria-labelledby="pills-return-tab">
                            @Html.Raw(prd.ReturnPolicyHTML)
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}
else
{
    <p>@localizer["ProductNotFound"]</p>
}