﻿@import "slides";

body {
    background-color: white;
}

#Banners {
    img {
        max-width: 100%;
    }
}

#ShopFeatures {
    margin-top: 20px;

    .FeatureItem {
        color: #3e4ba0;
        font-size: 16px;

        h2 {
            font-weight: bold;
            margin: 32px 0 5px 0;
            font-size: 20px;
            line-height: normal;
            display: inline-block;
            font-family: "Tourmaline Bold";
        }

        img, svg {
            float: left;
            margin-right: 20px;
            width: 150px;
        }
    }
}


#ShopDetails {
    text-align: center;
    margin: 40px 0 30px 0;
    padding-top: 40px;
    border-top: 1px solid #d2d2d2;

    h1 {
        color: #3e4ba0;
        font-family: "Tourmaline Bold";
        font-size: 30px;
    }

    p {
        color: #3a4857;
    }

    & > p {
        margin-bottom: 50px;
        font-size: 22px;
        display: block;
    }

    .DetailItem {
        margin-bottom: 50px;
        display: block;

        p {
            font-size: 14px;
            text-align: left;
            line-height: 1.9em;
        }

        h2 {
            font-weight: bold;
            margin: 5px 0 5px 0;
            font-size: 20px;
            line-height: normal;
            font-family: "Tourmaline Bold";
            text-align: left;
            color: #3e4ba0;
        }

        img, svg {
            float: left;
            margin-right: 20px;
            width: 150px;
            padding: 15px;
        }
    }
}



#Pricing {
    text-align: center;
    margin: 40px 0 30px 0;
    padding-top: 40px;
    border-top: 1px solid #d2d2d2;

    h2 {
        color: #3e4ba0;
        font-family: "Tourmaline Bold";
        font-size: 30px;
    }

    p {
        color: #3a4857;
    }

    & > p {
        margin-bottom: 50px;
        font-size: 22px;
        display: block;
    }

    #PricingItems {
        margin-bottom: 30px;
        padding-bottom: 30px;

        &.container {
            max-width: 1280px;
        }

        .PricingItem {
            border-radius: 20px;
            background-color: white;
            padding-bottom: 30px;

            p {
                text-align: left;
                padding-left: 45px;
            }

            h2 {
                color: #4e4e4e;
                font-size: 24px;
                margin: 0 20px 20px 20px;
                padding: 20px;
                border-bottom: 1px solid #d2d2d2;
                font-family: "Tourmaline Bold";
                letter-spacing: 1px;
            }

            .price {
                background-image: url(/images/price-slice.png);
                background-repeat: no-repeat;
                background-position: 139px 0;
                display: block;

                .first {
                    color: #3e4ba0;
                    font-weight: bold;
                    font-family: "Tourmaline Bold";
                    font-size: 25px;
                }

                .second {
                    line-height: 35px;
                    color: #808080;
                }
            }
        }
    }
}


#About {
    text-align: center;
    margin: 40px 0 30px 0;
    padding-top: 40px;
    border-top: 1px solid #d2d2d2;

    h2 {
        color: #3e4ba0;
        font-family: "Tourmaline Bold";
        font-size: 30px;
    }
      
    & > p {
        margin-bottom: 50px;
        font-size: 22px;
        display: block;
    }
}




#Contact {
    text-align: center;
    margin: 40px 0 30px 0;
    padding-top: 40px;
    border-top: 1px solid #d2d2d2;

    h2 {
        color: #3e4ba0;
        font-family: "Tourmaline Bold";
        font-size: 30px;
    }

    & > p {
        margin-bottom: 50px;
        font-size: 22px;
        display: block;
    }
}

#Pricing h2, #ShopDetails h1, #About h2, #Contact h2{
    transition: all 4s;
}

h1.activeHeader, #Pricing h2.activeHeader, #ShopDetails h1.activeHeader, #About h2.activeHeader, #Contact h2.activeHeader {
    color: #0030ff;
    transition: all 4s;
}