﻿
/*LOGIN REGISTER BEGINS*/
/*#LoginRegisterPage {
    background-color: #1da16a;
}*/
#LoginRegisterCon {
    min-height: 480px;
    width: 1000px;
    color: #5a5a5a;
    margin-top: 70px;

    * {
        line-height: normal;
    }
}

#StoreNamePreview {
    padding: 5px;
    font-size:18px;
    span{
        color:#a1a1a1;
    }
}

#LoginRegisterCon a, #LoginRegisterCon a:visited {
    color: #5a5a5a;
    text-decoration: underline;
}

#LoginRegisterCon a:hover {
    color: #2b2b2b;
}


#LoginRegisterCon p {
    padding: 20px 0 20px 0;
}


#LoginRegisterCon h2 {
    font-size: 22px;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
}


#LoginRegisterCon #LoginRegisterForm {
    width: 90%;
    padding: 50px;
    background: #f1f1f1;
    box-shadow: 3px 5px 4px -5px rgba(0, 0, 0, 0.28);
}

#LoginRegisterCon h1 {
    color: #5a5a5a;
    font-size: 22px;
    letter-spacing: 2px;
    padding-left: 10px;
}

#LoginRegisterCon select, #LoginRegisterCon input[type=email], input[type=text], #LoginRegisterCon input[type=password], #LoginRegisterCon button[type=submit] {
    color: #333;
    padding: 8px 25px;
    border: 1px solid #a2b5be;
    border-radius: 0;
    text-decoration: none;
    margin-top: 15px;
    font-size: 25px;
    outline: 0;
    display: block;
    width: 100%;
    height: auto;
}

#LoginRegisterCon input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bebebe;
    opacity: 1; /* Firefox */
}

#LoginRegisterCon input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bebebe;
}

#LoginRegisterCon input::-ms-input-placeholder { /* Microsoft Edge */
    color: #bebebe;
}

#LoginRegisterCon input:focus {
    border: 1px solid #0099dc;
}

#LoginRegisterCon button[type=submit] {
    border: none;
    color: #f1f1f1;
    /*background-image: linear-gradient(to top, #e30d0d, #f5003b, #ff0064, #ff008e, #f600b9);*/
    max-width: 220px;
    background-color: #ff0090;
    //color: white;
    font-size: 25px;
    font-family: "Tourmaline Bold";
    padding: 7px 25px;
    margin: 7px 5px 0 0;
    display: inline-block;
    text-decoration: none;
    /* border: 1px solid #e7e7e7; */
    border-radius: 25px;
}

#LoginRegisterCon button[type=submit]:hover {
    border: none;
    color: #fff;
    background-image: linear-gradient(to top, #ff0090, #fc002e, #ff004d, #ff0069, #ff0085);
}

#LoginRegisterCon .checkbox {
    margin-top: 10px;

    label, a {
        display: inline-block;
    }
}

#LoginRegisterCon #RegisterLoginNow {
    display: inline-block;
    color: #5a5a5a;
    padding: 13px 35px;
    border: 1px solid #bebebe;
    border-radius: 28px;
    text-decoration: none;
    margin-top: 15px;
    font-size: 18px;
    margin-top: 40%;
    letter-spacing: 2px;
}

#LoginRegisterCon #RegisterLoginNow.LoginNow {
    margin-top: 200px;

}

#LoginRegisterCon #RegisterLoginNow:hover {
    border: 1px solid #fc002e;
    color: white;
    background-image: linear-gradient(to top, #f20000, #fc002e, #ff004d, #ff0069, #ff0085);
}

/*LOGIN REGISTER ENDS*/
