﻿#Menu {
    padding-top: 20px;
    margin-bottom: 0;
    text-align: center;

    li {
        list-style: none;
        display: inline-block;

        a {
            padding: 5px 10px;
            letter-spacing: 1px;
            text-decoration: none;
            color: #5f5f5f;

            &:hover, &:active, &:focus, &:target {
                color: #0030ff !important;
            }

            @media screen and (max-width:1570px) {
                padding: 3px 5px;
                letter-spacing: 0;
            }

            @media screen and (max-width:1080px) {
                padding: 3px 2px;
            }

            @media screen and (max-width:980px) {
                padding: 3px 1px;
                font-size:13px;
            }
        }
    }

    @media screen and (min-width:1800px) {
        padding-right: 115px;
    }

    @media screen and (max-width:1570px) {
        padding-top: 16px;
    }
}
