﻿
input.set {
    display: none;
}

#slide1:checked ~ .mask .overflow {
    margin-left: 0;
}

#slide2:checked ~ .mask .overflow {
    margin-left: -100%;
}

#slide3:checked ~ .mask .overflow {
    margin-left: -200%;
}

#slide4:checked ~ .mask .overflow {
    margin-left: -300%;
}

#slides {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom:20px;
}

#slides .mask {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#slides .SlideHeader {
    font-family: "Tourmaline Bold";
    font-size: 36px;
    margin-bottom: 15px;
    padding-top:130px;
}

#slides p {
    font-size: 32px;
}

#slides .SlideButton {
    display: block;
    margin: 10px;
    padding: 11px 35px;
    margin: 7px 5px 0 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 35px;
    background-color: #ff0090;
    color: white;
    font-size: 36px;
    font-family: "Tourmaline Bold";

    &:hover {
        background-color: #ff0085;
        color: white;
    }
}

#slides .overflow {
    width: 400%;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#slides .slide {
    background: #fff none repeat scroll 0 0;
    float: left;
    height: 639px;
    line-height: normal;
    padding: 1%;
    width: 23%;
    color:white;
}

#slides .slide.slide1 {
    background-image: url(/images/Banners/b1.jpg);
    background-repeat: no-repeat;
}

#slides .slide.slide2 {
    background-image: url(/images/Banners/b2.jpg);
    background-repeat: no-repeat;
}

#slides .slide {
    /*line-height: 25px;*/
}

#controls {
    width: 100%;
}

#controls label {
    display: none;
    width: 5%;
    height: 60px;
    /*opacity: 0.3;*/
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    /*background: #000;*/
    /*width:15px;
    height:24px;*/ 
}

#controls label:hover {
    opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4) {
    right: 0;
    display: block;

    img {
        transform: rotate(-180deg);
    }
}

#slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2), #slide4:checked ~ #controls label:nth-child(3) {
    left: 0;
    display: block;
}
