﻿#Account {
    #AccountMenu {
        img {
            width: 25px;
            display: inline-block;
            color: white;
            fill: red;
        }
    }

    #NewAddress {
        margin: 10px 0 10px 0;
    }
    #Banks{
        .BankItem{
            border-bottom:1px solid #e0e0e0;
            padding:10px 0 10px 0;
            p{
                line-height:normal;
                margin:0;
                font-size:14px;
            }
        }
        
    }

    #AddressList {

        #BlankAddress {
            padding: 25px 5px 25px 5px;
            margin: 5px;
            border: 1px dashed #ccc;
            text-align: center;
        }

        #AddressFormArea {
            margin: 30px 80px;
        }

        .AddresOperations {
            font-size: 15px;
        }

        .AddressItem {
            font-size: 15px;
            border-bottom: 1px dashed #e5e5e5;
            padding-bottom: 20px;

            button, input {
                margin-top: 40px;
            }
        }
    }
}
