﻿#Cart {

    #BlankCartBody {
        padding: 25px 5px 25px 5px;
        margin: 5px;
        border: 1px dashed #ccc;
        text-align: center;
    }

    #CartProducts {
        border-bottom: 1px solid #efefef;
        padding-bottom: 15px;
        font-size: 14px;

        .quantity-btn {
            background-color: #e4e4e4;
            padding: 0px;
            margin: 3px 5px;
            width: 20px;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            border-radius: 3px;
            color: #5a5a5a;

            &:hover {
                background-color: #bbbbbb;
            }
        }

        .CartItem {

            .old{
                text-decoration:line-through;
                color:#be2d2d;
            }

            margin-bottom: 5px;

            img {
                max-width: 100%;
            }

            p {
                margin-bottom: 0.1rem;
            }

            .Name {
                font-weight: 500;
                margin-top: 15px;
                display: block;
            }

            .Code {
                color: #4f4f4f;
                font-size: 14px;
                display: block;
            }

            .SizeAndColor {
                font-weight: 500;
            }

            .Cros, .Slash {
                color: #808080;
                font-weight: normal;
            }

            #Price {
                text-align: right;
                padding-right: 15px;
                padding-top: 40px;
                color: #4f4f4f;

                .bold {
                    font-weight: 500;
                    color: #333;
                }
            }

            .DeleteCartItem {
                margin-top: 40px;
                font-size: 13px;
                padding: 2px 4px;
            }
        }

        max-height: 500px;
        overflow: auto;
    }

    #CartBottom {
        #Total {
            margin: 15px;

            p {
                margin: 0;
            }

            .TotalAmount {
            }

            .TotalAmountValue {
                font-weight: 500;
                text-align: right;
                font-size: 26px;
            }

            .Vat {
                color: #808080;
                text-align: right;
            }

            .ItemsCount {
                color: #808080;
            }

            div {
                padding: 5px;
            }
        }
    }
}
