﻿#Checkout {

    #Summary {

        & > div {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 15px;
            background: #fbfbfb;
            border-radius: 10px;
            padding-bottom: 20px;


            h2 {
                font-weight: normal;
                color: #808080;
                text-align: center;
                font-size: 24px;
                padding: 7px 0 5px 0;
            }

            img {
                max-width: 100%;
                width: auto;
            }
        }


        #SelectedPayment {
            padding-left: 15px;
            color: #808080;
        }

        #Total {
            color: #808080;
            margin-top: 10px;


            p {
                margin-bottom: 5px;
            }


            .TotalAmount, .ItemsCount {
                padding-left: 15px;
            }

            .TotalAmountValue, .Vat {
                text-align: right;
                padding-right: 15px;
            }

            .TotalAmountValue {
                font-size: 24px;
                color: #333;
            }
        }


        #Cart {
            max-height: 350px;
            overflow: auto;

            #CartProducts {
                padding-bottom: 0;
            }

            .CartItem {
                color: #808080;
                font-size: 13px;

                img {
                    max-width: 100%;
                }

                .Name {
                    margin-top: 10px;
                }

                .Code {
                    color: #adadad;
                    margin: 0;
                }

                .Price {
                    font-size: 14px;
                    padding-right: 15px;
                    padding-top: 20px;
                    text-align: right;
                    font-weight: 500;
                    color: #333;
                }
            }
        }

        #SelectedCoupon {
            #CouponText {
                padding-left: 15px;
            }

            #CouponAmount {
                padding-right: 15px;
            }
        }

        #CargoSum {
            img {
                max-width: 40px;
                margin: 20px 10px 10px 10px;
            }

            .Name {
                margin-top: 20px;
            }

            #FreeShippingText {
                display: block;
                color: #808080;
                font-size: 13px;
            }

            .Price {
                padding-right: 15px;
                padding-top: 20px;
                text-align: right;
                font-weight: 500;
                color: #333;
            }
        }

        #AddressSum {
            .AddresItem {
                font-size: 14px;
                border-bottom: 1px solid #efefef;
                padding: 10px 10px 10px 15px;
                margin-bottom: 5px;

                span {
                    color: #808080;
                }
            }
        }
    }
}
