﻿#Checkout {
    #BlankAddress {
        padding: 25px 5px 25px 5px;
        margin: 5px;
        border: 1px dashed #ccc;
        text-align: center;
    }

    #AddressFormArea {
        margin: 30px 80px;
    }

    .AddresOperations {
        font-size: 15px;
    }

   .BankItem, .AddressItem, .CargoItem, #Poses {
        font-size: 15px;
        border-bottom: 1px dashed #e5e5e5;
        padding-bottom: 20px;

        button, input {
            margin-top: 40px;
        }


        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
        }

        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 29px;
            width: 26px;
            height: 26px;
            border: 1px solid #b5b5b5;
            border-radius: 100%;
            background: #fff;
        }

        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 18px;
            height: 18px;
            background: #343a40;
            position: absolute;
            top: 33px;
            left: 4px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }


    .CargoItem {
        font-size: 15px;
        border-bottom: 1px dashed #e5e5e5;
        padding-bottom: 15px;
        padding-top: 15px;
        min-height: 97px;

        .CargoPrice p {
            padding-top: 15px;
        }

        img {
            max-width: 100%;
            width: 40px;
        }

        button, input {
            margin-top: 20px;
        }


        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            left: 0;
            top: 9px;
        }

        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            top: 13px;
        }
    }
}
