﻿#Checkout {
    #Cart {

        #HiddenSummary {
            display: none;
        }

        .CartItem {
            border-bottom: 1px solid #e8e8e8;
            padding-bottom: 10px;

            &:last-child {
                border-bottom: none;
            }

            .Name {
                margin-top: 25px;
            }

            img {
                max-width: 77px;
            }

            .Code {
                margin-top: 5px;
                margin-bottom: 10px;
            }

            #Price {
                text-align: center;
            }
        }


        #CouponForm {


            button, input {
                padding: 5px 12px;
                height: 40px;
                font-size: 18px;
                border-radius: 0;
            }

            button {
                background-color: #4e4e4e;
                color: #dcdcdc;
                padding: 5px 16px;

                &:hover {
                    color: white;
                    background-color: black;
                }
            }
        }


        #Coupons {

            #BlankCoupons {
                padding: 20px;
                text-align: center;
                border: 1px dashed #ccc;
                margin-top: 20px;
            }

            .CouponItem {
                padding: 10px 0 10px 0;
                border-bottom: 1px dashed #808080;
            }

            #CouponOperations {
                color: #808080;
                font-size: 15px;
                border-bottom: 1px solid #e8e8e8;
            }

            #RemoveCoupon {
                display: none;
            }

            .added {
                #RemoveCoupon {
                    display: inline-block;
                }

                #UseCoupon {
                    display: none;
                }
            }
        }
    }
}
