﻿#Checkout {
    .PaymentDetail {
        /*padding: 20px;*/
        /*min-height: 200px;*/
        /*border: 1px dashed;*/
        /*text-align: center;*/
        margin-bottom: 10px;
    }

    #Banks {
        .BankItem {
            cursor: pointer;
            font-size: 14px;
            border: 2px solid #ccc;
            margin-bottom: 5px;
            padding: 10px;
            color: #636363;

            &:hover, &.active {
                border-color: #80bdff;
                background-color: rgba(128, 189, 255, 0.20);
                color: #000;
            }

            img {
                max-width: 100px;
                display: block;
            }


            button, input {
                margin-top: 40px;
            }

            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label {
                position: unset;
            }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                right: 15px;
                top: 9px;
                left: auto;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                top: 13px;
                right: 19px;
                left:auto;
            }
        }
    }


    #PaymentGroups {
        min-height: 50px;
        margin-top: 20px;

        label {
            padding: 5px 15px;
            border: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-right: none;
            border-top: none;
            margin-right: 0;
            float: left;
            background-color: #ececec;
            cursor: pointer;
        }


        label:first-child {
            border-left: 1px solid #fff;
        }


        label.active:first-child {
            border-left: 1px solid #ccc;
        }

        label.active {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #fff;
            background-color: white;
            color: #000;
        }

        label:last-child {
            border-right: 1px solid #ccc;
        }

        label:hover {
            background-color: white;
            color: #000;
        }
    }




    #CardForm {
        padding-bottom: 0;
        margin-bottom: 0;
        display: block;

        input, select {
            border: 1px solid #c3c3c3;
            border-radius: 0;

            &:focus {
                border-color: #80bdff;
            }
        }

        .MoveInfo {
            display: none;
        }

        .NotValid {
            border: 1px solid #ca0000 !important;
            color: #ca0000 !important;
        }

        .CardHeader {
            padding-top: 10px;
            padding-bottom: 6px;
            font-weight: 500;
            color: #000;
            font-size: 13px
        }

        .CardHeader .CardTooltip {
            margin-left: 10px
        }

        .CardHeader img {
            opacity: .4
        }

        .cvc {
            width: 75px;
            display: inline-block;
            margin-right: 10px
        }
    }

    #Poses {
        margin-top: 20px;

        .PosItem {
            display: none;
        }

        .PosHeader {
            background-color: #ececec;

            p {
                padding: 10px 0 0 0;
            }

            img {
                max-width: 100px;
                margin-top: 10px;
                margin-left: 8px;
            }
        }

        .ins {
            height: 32px;
            padding-top: 2px;
            cursor: pointer;

            label {
                cursor: pointer;
                padding: 0;
                margin: 0;
            }

            &:hover {
                background-color: #f1eaca;
            }
        }


        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            left: 15px;
            top: 0;
        }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: unset;
        }

        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            top: 4px;
            left: 19px;
        }
    }
}
