﻿#Checkout {

    #Footer {
        padding-top: 20px;
        padding-bottom: 25px;
        color: #808080;
        font-size: 13px;
    }

    #Steps {
        padding: 10px 25px;
        text-align: center;

        & > div {
            padding: 5px;
            border: 1px solid #cccccc;
            border-radius: 38px;
            display: inline-block;
            text-transform: uppercase;
        }

        & > div > div {
            display: inline-block;
            background-color: #fff;
            color: #333;
            padding: 15px 40px;
            border-radius: 5px;
            border-radius: 38px;
            cursor: default;
            color: #808080;
            cursor: pointer;

            &:hover {
                color: #000;
            }

            &.active, &.passed {
                background-color: #333;
                border: 1px solid #333;
                color: #fff;
            }
        }
    }

    &.cart {
        #Nav {
            #Prev {
                display: none;
            }
        }
    }

    #Nav {
        margin-top: 20px;

        #Prev, #Next {
            outline: none !important;
            box-shadow: none !important;
        }
    }
}

#LoginRegisterModal {

    .nav-pills .nav-link {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-radius: 0;
        padding: .4rem 1.4rem;
        border-color: #ededed;
        color: #808080;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #000;
        background-color: #fff;
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-radius: 0;
    }
}
