﻿#Filters {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid #ededed;
        padding-bottom: 10px;
        margin-right: 15px;

        li:not(.header) {
            input {
                /*display: none;*/
            }

            display: inline-block;

            label {
                border: 1px solid #ccc;
                padding: 5px 10px;
                height: 36px;
                min-width: 56px;
                text-align: center;
                display: inline-block;
                margin: 2px 2px 4px 2px;
            }
        }

        li {
            &.header {
                font-weight: normal;
                margin-bottom: 10px;
                margin-top: 10px;
                color: #7d7d7d;
                padding-left: 8px;
            }

            input {
                display: none;
            }
        }


        &.cl {
            li {

                input:checked + label {
                    border: 2px solid #1a1a1a;
                }

                label {
                    border: 2px solid #efefef;
                    content: none;
                    color: #fff;
                    text-shadow: 2px 2px 3px #969696;
                    width: 35px;
                    height: 35px;
                    min-width: 35px;

                    span {
                        display: none;
                    }
                }
            }
        }


        &.sz, &.g, &.d, &.s {
            li {

                input:checked + label {
                    color: #fff;
                    background-color: #000;
                }

                & label:hover {
                    /*color: #fff;*/
                    background-color: #ccc;
                }

                label {
                    background-color: #000;
                    background-color: #fff;
                }
            }
        }

        &.g {
            li {

                label {
                    background-position: center;
                    background-size: 45px 45px;
                    min-width: 50px;
                    min-height: 50px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    border: none;
                }

                input:checked + label {
                    color: #333;
                    background-color: #ccc;
                }
            }

            span {
                display: none;
            }


            li:nth-child(2) label {
                background-image: url(/images/Default/grid4.svg);
            }

            li:nth-child(3) label {
                background-image: url(/images/Default/grid2.svg);
            }

            li:nth-child(4) label {
                background-image: url(/images/Default/grid1.svg);
            }
        }


        &.d, &.s {
            li {
                display: block;
                width: 95%;

                input:checked + label {
                    color: #000;
                    background: none;
                }

                & label:hover {
                    background-color: #e6e6e6;
                }

                input {
                    /*display:inline-block;*/
                    position: absolute; // take it out of document flow
                    opacity: 0; // hide it
                    & + label {
                        position: relative;
                        cursor: pointer;
                        padding: 0;
                    }
                    // Box.
                    & + label:before {
                        content: '';
                        margin-right: 10px;
                        margin-left: 9px;
                        margin-top: 6px;
                        display: inline-block;
                        vertical-align: text-top;
                        width: 20px;
                        height: 20px;
                        background: #ebebeb;
                    }
                    // Box hover
                    &:hover + label:before {
                        background: #1b1b1b;
                    }
                    // Box focus
                    &:focus + label:before {
                        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                    }
                    // Box checked
                    &:checked + label:before {
                        background: #1b1b1b;
                    }
                    // Disabled state label.
                    &:disabled + label {
                        color: #b8b8b8;
                        cursor: auto;
                    }
                    // Disabled box.
                    &:disabled + label:before {
                        box-shadow: none;
                        background: #ddd;
                    }
                    // Checkmark. Could be replaced with an image
                    //&:hover + label:after,
                    &:checked + label:after {
                        content: '';
                        position: absolute;
                        left: 14px;
                        top: 16px;
                        background: white;
                        width: 2px;
                        height: 2px;
                        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
                        transform: rotate(45deg);
                    }
                }

                label {
                    width: 100%;
                    display: block;
                    border: none;
                    /*border-bottom: 1px solid #e8e8e8;*/
                    text-align: left;
                    padding-left: 30px;
                    margin: 0;
                    color: #585858;

                    span {
                        position: absolute;
                        top: 4px;
                    }
                }
            }
        }
    }
}
