﻿
/*LOGIN REGISTER BEGINS*/
/*#LoginRegisterPage {
    background-color: #1da16a;
}*/
#LoginRegisterCon {
    min-height: 480px;
    width: 1000px;
    color: #5a5a5a;
    margin-top: 70px;

    * {
        line-height: normal;
    }
}


#LoginRegisterCon a, #LoginRegisterCon a:visited {
    color: #5a5a5a;
    text-decoration: underline;
}

#LoginRegisterCon a:hover {
    color: #2b2b2b;
}


#LoginRegisterCon p {
    padding: 20px 0 20px 0;
}


#LoginRegisterCon #LoginRegisterForm {
    width: 70%;
}

#LoginRegisterCon h1 {
    color: #5a5a5a;
    font-size: 22px;
    letter-spacing: 2px;
    padding-left: 10px;
}

#LoginRegisterCon select, #LoginRegisterCon input[type=text], #LoginRegisterCon input[type=password], #LoginRegisterCon button[type=submit] {
    color: #333;
    padding: 8px 25px;
    border: 1px solid #a2b5be;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 15px;
    font-size: 20px;
    outline: 0;
    display: block;
    width: 100%;
}

#LoginRegisterCon input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bebebe;
    opacity: 1; /* Firefox */
}

#LoginRegisterCon input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bebebe;
}

#LoginRegisterCon input::-ms-input-placeholder { /* Microsoft Edge */
    color: #bebebe;
}

#LoginRegisterCon input:focus {
    border: 1px solid #0099dc;
}

#LoginRegisterCon button[type=submit] {
    border: none;
    color: #f1f1f1;
    background-image: linear-gradient(to top, #e30d0d, #f5003b, #ff0064, #ff008e, #f600b9);
    max-width: 220px;
}

#LoginRegisterCon button[type=submit]:hover {
    border: none;
    color: #fff;
    background-image: linear-gradient(to top, #f20000, #fc002e, #ff004d, #ff0069, #ff0085);
}

#LoginRegisterCon .checkbox {
    margin-top: 10px;
}

#LoginRegisterCon #RegisterLoginNow {
    display: inline-block;
    color: #5a5a5a;
    padding: 13px 35px;
    border: 1px solid #bebebe;
    border-radius: 28px;
    text-decoration: none;
    margin-top: 15px;
    font-size: 18px;
    margin-top: 90px;
    letter-spacing: 2px;
}

#LoginRegisterCon #RegisterLoginNow.LoginNow {
    margin-top: 150px;
}

#LoginRegisterCon #RegisterLoginNow:hover {
    border: 1px solid #fc002e;
    color: white;
    background-image: linear-gradient(to top, #f20000, #fc002e, #ff004d, #ff0069, #ff0085);
}

/*LOGIN REGISTER ENDS*/
