﻿nav {

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    li {
        color: #fff;
        background: white;
        display: block;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
    }

    li a {
        color: #5f5f5f;
    }

    li:hover {
        cursor: pointer;
    }

    ul li ul {
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        z-index:999;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
        min-width: 200px;
        border: 1px solid #ccc;
        border-top: none;
    }

    ul li:hover > ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    ul li ul li {
        clear: both;
        width: 100%;
        border-bottom: 1px solid #ccc;
        /*background-color: #f3f3f3;*/
    }

    ul li ul :last-child {
        border: none;
    }
}
