﻿#Products {

    .ProductItem {
        img.ProductImage {
            max-width: 100%;
        }
    }

    & div.ProductItem {
        padding: 3px;
    }

    .Pages {

        margin-bottom:5px;
        
        a {
            display: inline-block;
            padding: 3px 11px;
            border: 1px solid #ccc;
            text-decoration:none;
            &:hover, &.active{
                background-color:#000;
                color:#fff;
            }
        }
    }


    a, a:visited {
        display: block;
        font-weight: 500;
        color: #4d4d4d;
        text-align: center;
        -webkit-text-stroke: .3px transparent;
    }

    .old-price {
        text-decoration: line-through;
        color: #be2d2d;
    }

    & > div > div > a > img {
        max-width: 100%;
    }

    .Colors {
        padding: 5px 0;
        overflow: hidden;
        min-height: 43px;
        margin: 0 auto;
        display: table;

        & > div {
            width: 22px;
            height: 22px;
            margin: 2px;
            float: left;
            border: 1px solid #dcdcdc;
            box-sizing: content-box;
            border-radius: 32px;
            cursor: pointer;
            display: table-cell;
            cursor: pointer;

            &:hover, &.active {
                border-color: #333;
            }

            & > span {
                margin: 1px;
                width: 20px;
                height: 20px;
                display: block;
                border-radius: 32px;
                overflow: hidden;
                box-sizing: content-box;
            }
        }
    }
}

/*.Pages{
    display:none;
}*/

.Search .Pages{
    display:flex;
}

#CatalogEnded{
    display:none;
}