﻿#BgBlack {
    background: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9990;
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -khtml-opacity: .7;
    zoom: 1;
    display: none;
}

.ShowBlackBg {
    #BgBlack {
        display: block;
    }

    #Sizes {
        padding: 5px;
        z-index: 9999;
    }

    #AddToCart {
        position: relative;
        z-index: 9999;
        background-color: #d21616 !important;
        letter-spacing:2px !important;
    }
}

#ProductDetails {


    #Thumbs {
        & > div {
            padding: 5px;
        }

        img {
            max-width: 100%;
            margin-bottom: 10px;
        }
    }

    #Images {
        & > div {
            padding: 5px 15px 5px 5px;
        }

        img {
            max-width: 100%;
        }
    }

    h1 {
        font-size: 25px;
        margin-top: 10px;
    }

    #ProductCode {
        color: #5b5b5b;
    }

    #Price {
        font-size: 20px;

        .old {
            text-decoration: line-through;
            color: #d94646;
        }
    }

    #Colors {
        padding: 5px 0;
        overflow: hidden;
        min-height: 43px;
        margin: 0 auto;

        & > div {
            width: 37px;
            height: 37px;
            margin: 2px;
            float: left;
            border: 1px solid #dcdcdc;
            box-sizing: content-box;
            border-radius: 47px;
            cursor: pointer;
            display: table-cell;
            cursor: pointer;

            &:hover, &.active {
                border-color: #333;
            }

            & > span {
                margin: 1px;
                width: 35px;
                height: 35px;
                display: block;
                border-radius: 35px;
                overflow: hidden;
                box-sizing: content-box;
            }
        }
    }

   
    #Sizes {
        margin-top: 5px;
        position: relative;
        background-color: white;

        & > div {
            display: inline-block;
            width: auto;
            padding: 10px 15px;
            min-width: 50px;
            text-align: center;
            border: 1px solid #ccc;
            cursor: pointer;

            &:hover, &.active {
                background-color: #333;
                color: #fff;
            }

            &.outofstock, &.outofstock:hover {
                border-color: #c8c8c8;
                color: #bababa;
                text-decoration: line-through;
                background-color: #fff;
                cursor: default;
            }
        }
    }

    #AddToCart {
        margin: 15px 0 15px 0;
        border-radius: 0;
        background-color: #393939;
        border: none;
        padding: 15px 30px;
        font-size: 20px;
        letter-spacing: 2px;
        outline: none !important;
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -moz-transition: none;
        -webkit-transition: none;
        transition: all 1s;

        &:hover {
            background-color: #000;
            letter-spacing: 3px;
            transition: all 1s;
        }
    }

    .nav-pills .nav-link {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-radius: 0;
        padding: .6rem 1.6rem;
        border-color: #ededed;
        color: #808080;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #000;
        background-color: #fff;
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-radius: 0;
    }
}
