@import "resetbs.css";
@import "togglebutton.css";
@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

#MainArea {
    padding: 0;
}

#MainContainer {
    height: auto;
    overflow: hidden;
}

#MainContainer #Loader {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
}

#Sortable{
    height:auto;
    overflow:hidden;
}

.SortTableItem {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 150px;
    height: 310px;
    float: left;
    font-size: 12px;
    text-align: center;
    list-style: none;
    background-color: white;

}

    #CatalogSort > div > img, .SortTableItem img {
        max-width: 100%;
        margin: 10px 0 10px 0;
    }
    .SortTableItem b{
        display:block;
        margin-bottom:5px;
    }
    .SortTableItem .btn {
        margin-right: 3px;
        padding: 0.1rem 0.2rem;
        font-size: 0.775rem;
    }


#LeftNavContainer {
    width: 210px;
    float: left;
}

.AmountOld {
    text-decoration: line-through;
    color: grey;
    display: inline-block;
    margin-right: 5px;
}

#MainAreaContainer {
    float: none;
    /* not needed, just for clarification */
    /* background: #e8f6fe; */
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
    margin-left: 210px;
}

.WarningIcon {
    padding: 3px;
    display: inline-block;
    background-color: antiquewhite;
    font-size: 12px;
    color: #5f5241;
    border-radius: 3px;
}

#BreadCrumb {
    padding: 0 10px 11px 10px;
    background-color: #f3f3f3;
    color: rgb(92, 92, 92);
    font-size: 14px;
    min-height: 40px;
}

#BreadCrumbLeftCon {
    display: inline-block;
    margin: 10px 10px 0 10px;
}

#BreadCrumb #BreadCrumbLeftCon a {
    padding-top: 5px;
}

#BreadCrumb #BreadCrumbLeftCon a::after, #BreadCrumb #BreadCrumbLeftCon span::after {
    content: "›";
    margin: 0 8px 0 8px;
    display: inline-block;
}

#BreadCrumb #BreadCrumbLeftCon span:last-child::after {
    content: none;
    margin: 0;
    display: inline;
}

#BreadCrumb .lang-btn {
    padding: 3px 8px;
    font-size: 12px;
    margin: 6px 4px 0 0;
}

#BreadCrumb .lang-btn.btn-primary {
    background-color: #d5e2e8;
    border-color: #d5e2e8;
    color: #3a3a3a;
}

#BreadCrumb .lang-btn:hover {
    background-color: #57c6e6;
}

#BreadCrumb #UserContainer {
    padding: 3px 5px 0 5px;
}

#BreadCrumb #UserContainer span {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}

#BreadCrumb #SearchBox {
    display: block;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
}

#BreadCrumb #SearchBox input {
    padding: 1px 10px;
    border-radius: 15px;
}

#BreadCrumb #SearchBox #SubmitSearch {
    background: none;
    color: rgb(201, 201, 201);
    display: block;
    position: absolute;
    border: none;
    top: 3px;
    right: 3px;
}

#LogOutLink {
    padding: 3px 8px;
    margin-left: 10px;
    font-size: 12px;
    margin-top: -2px;
    margin-right: 0;
}

#LogOutLink:hover {
    background-color: #b1133d;
    color: white;
}

#MainListArea {
    padding: 20px;
}
#MainListArea > .btn{
    margin-right:3px;
}
footer {
    background: black;
    padding: 10px;
    color: grey;
}

.FormStandard {
    padding: 10px;
}

#FormHeader {
    border-bottom: 1px solid #d5e2e8;
    margin-bottom: 25px;
}

#FormHeader h1 {
    font-size: 22px;
    margin-left: 5px;
    padding-bottom: 5px;
}

.FormFieldError, .FormFieldWarning {
    display: block;
    padding: 4px 10px;
    background-color: #f8e2e2;
    color: #b1133d;
    font-size: 13px;
}

.FormFieldWarning {
    background-color: #ffefce;
    color: #925832;
}
.formFieldInfo {
    background-color: #efe7ba;
    color: #8c7553;
    padding: 5px 10px;
    display: block;
    font-size: 12px;
}

.desc {
    color: #aaaaaa;
    padding: 3px 5px;
    display: block;
    font-size: 13px;
}

.SubFormGroup {
    background-color: #f8f8f8;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 20px 0 10px 0;
}

.SubFormGroup input, .SubFormGroup select {
    max-width: 95%;
}

.CKEdit .ck-editor__editable {
    min-height: 500px;
}

.FormErrorRow input, .FormErrorRow select, .FormErrorRow textarea {
    border: 1px solid #d62e5b;
    color: #d62e5b;
}

.FormErrorRow input::placeholder, .FormErrorRow select::placeholder, .FormErrorRow textarea::placeholder {
    color: #d62e5b;
}

#FormActions {
    border-top: 1px solid #d5e2e8;
    margin-top: 10px;
    padding-top: 20px;
}

#FormActions #SaveButton {
    margin-right: 5px;
    padding: 10px 25px;
}

#FormActions #ResetButton {
    padding: 10px 25px;
}

.clearfix {
    float: none;
}

.ImageActions {
    margin-top: 10;
}

.ImageActions .btn {
    margin-right: 3px;
    padding: 0.1rem 0.2rem;
    font-size: 0.775rem;
}

.ImageEditModal img {
    width: 35%;
    margin: 10px;
}

.ImageEditModal .row {
    margin-bottom: 10px;
}

.FormStandard label {
    margin-top: 7px;
    padding-right: 25px;
    display: block;
    text-align: right;
    color: rgb(116, 116, 116);
}

.NoListItem {
    padding: 20px;
    border: 1px dashed #ccc;
    text-align: center;
    margin-top: 10px;
}

.ListingTable {
    margin-top: 20px;
}

.ListingTable .Operations {
    width: 170px;
}

.ListingTable .Operations>* {
    margin-right: 5px;
}

.ListingTable .Id {
    width: 120px;
    color: #9b9b9b;
}

.ListingTable .PStatus {
    width: 120px;
}

.ListingTable.table th, .ListingTable.table td {
    border: none;
}

.ListingTable.table th {
    font-weight: normal;
    color: grey;
}

.ListingTable.table th:first-child {
    border-radius: 10px 0 0 0;
}

.ListingTable.table th:last-child {
    border-radius: 0 10px 0 0;
}

.ListingTable.table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.ListingTable.table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.LoadMore {
    width: 300px;
}

.hidden, .hide {
    display: none;
}

.Status {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #aaaaaa;
    border: 1px solid #aaaaaa;
    display: inline-block;
    float: left;
    margin: 10px 5px 0 0;
}

.PrdImgContainer {
    float: left;
    width: 120px;
    height: 250px;
    padding: 5px;
    font-size: 12px;
    margin: 0 10px 10px 0;
    border: 1px solid #ccc;
    text-align: center;
}

.PrdImgContainer img {
    max-width: 100px;
}

#ProductColors {
    height: auto;
}

.PrdColorItem {
    padding: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 120px;
    text-align: center;
    margin: 5px;
    padding-top: 2px;
    font-size: 12px;
}

.PrdColorItem img {
    max-width: 100%;
    width: 100px;
    margin-top: 5px;
}

.PrdColorItem.checked {
    border-color: #79ee64;
    background: rgb(209, 253, 209);
}

.CatalogItem {
    border: 1px solid #ccc;
    padding: 3px 8px;
    margin-bottom: 5px;
}

.CatalogItem label {
    width: 100%;
}

.CatalogItem.checked, .CatalogItem:hover  {
    border-color: #79ee64;
    background: rgb(209, 253, 209);
}

.AddedCatalogItem {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.AddedCatalogItem button, #AddedCatalogs button {
    padding: 3px 5px;
    font-size: 11px;
    margin-left: 10px;
}

#AddSelected {
    margin: 10px;
}

.Status.Active {
    background-color: chartreuse;
    border: 1px solid rgb(100, 201, 0);
    box-shadow: 0px 0px 8px -2px rgba(64, 255, 0, 1);
}

.StatusText {
    display: inline-block;
    font-size: 13px;
    float: left;
    margin: 7px 0 0 0;
}

.ColorHex {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.percent5 {
    width: 5%;
}

.percent10 {
    width: 10%;
}

.percent15 {
    width: 15%;
}

.percent20 {
    width: 20%;
}

.percent25 {
    width: 20%;
}

.percent30 {
    width: 30%;
}

.percent35 {
    width: 35%;
}

.percent40 {
    width: 40%;
}

.percent45 {
    width: 45%;
}

.percent45 {
    width: 45%;
}

.percent50 {
    width: 50%;
}

.percent55 {
    width: 55%;
}

.percent60 {
    width: 60%;
}

.percent65 {
    width: 65%;
}

.percent70 {
    width: 70%;
}

.percent75 {
    width: 75%;
}

.percent80 {
    width: 80%;
}

.percent85 {
    width: 85%;
}

.percent90 {
    width: 90%;
}

.percent95 {
    width: 95%;
}

.percent100 {
    width: 100%;
}