/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    /*max-width: 960px;*/
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
    .column,
    .columns {
        margin-left: 4%;
    }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

@font-face {
  font-family: 'Tourmaline Bold';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/Tourmaline Bold'), url('fonts/Tourmaline-Bold.woff') format('woff');
}
body {
  padding: 0;
  margin: 0;
  background-color: #e9e9e9 !important;
}
.container {
  max-width: 1200px;
}
.text-center {
  text-align: center;
}
#GeneralPage {
  padding: 50px;
  word-break: break-all;
  text-align: center;
}
#GeneralPage h1 {
  margin: 10px;
  font-weight: bold;
  font-family: 'Tourmaline Bold';
  color: #333;
  font-size: 28px;
}
.warn,
.suc,
.dang {
  border-radius: 10px;
  display: block;
  padding: 12px 24px;
}
.warn {
  background-color: #faf6df;
  color: #6d5d29;
}
.suc {
  background-color: #e0f3d8;
  color: #345326;
}
.dang {
  background-color: #da115d;
  color: white;
}
#Menu {
  padding-top: 20px;
  margin-bottom: 0;
  text-align: center;
}
#Menu li {
  list-style: none;
  display: inline-block;
}
#Menu li a {
  padding: 5px 10px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #5f5f5f;
}
#Menu li a:hover,
#Menu li a:active,
#Menu li a:focus,
#Menu li a:target {
  color: #0030ff !important;
}
@media screen and (max-width: 1570px) {
  #Menu li a {
    padding: 3px 5px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 1080px) {
  #Menu li a {
    padding: 3px 2px;
  }
}
@media screen and (max-width: 980px) {
  #Menu li a {
    padding: 3px 1px;
    font-size: 13px;
  }
}
@media screen and (min-width: 1800px) {
  #Menu {
    padding-right: 115px;
  }
}
@media screen and (max-width: 1570px) {
  #Menu {
    padding-top: 16px;
  }
}
body.sticky {
  padding-top: 76px;
}
body.sticky #Header {
  position: fixed;
  z-index: 999;
  width: 100%;
  max-width: 100%;
  display: block;
  top: 0;
  box-shadow: -1px 3px 5px -3px rgba(0, 0, 0, 0.37);
}
#Header {
  /*border-bottom: 1px solid #ccc;*/
  background-color: white;
}
#Header > div {
  padding: 5px 30px;
}
#Header #Logo {
  color: #000000;
  display: inline-block;
  text-decoration: none !important;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 0 0px;
}
#Header #Logo img {
  height: 42px;
  width: 424px;
}
@media screen and (max-width: 1280px) {
  #Header #Logo img {
    height: auto;
    width: 324px;
    padding-top: 3px;
  }
}
@media screen and (max-width: 1080px) {
  #Header #Logo img {
    height: auto;
    width: 250px;
    padding-top: 3px;
  }
}
#Header #Search form {
  max-width: 100%;
  margin: 10px 0 0 0;
  position: relative;
  width: 250px;
  display: block;
}
#Header #Search form input {
  max-width: 100%;
  padding-left: 10px;
  width: 100%;
  height: 38px;
}
#Header #Search form button {
  border: 1px solid #ccc;
  color: #333;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 11px;
  font-weight: normal;
  padding: 0 7px 0 7px;
  height: 32px;
  background-color: #b6b6b6;
  line-height: normal;
}
#Header #Search form button:hover {
  background-color: #000;
  color: #fff;
}
#Header #LoginRegister {
  text-align: right;
}
#Header #LoginRegister a {
  padding: 3px 15px;
  margin: 10px 5px 0 0;
  display: inline-block;
  text-decoration: none;
  /*border: 1px solid #e7e7e7;*/
  border-radius: 20px;
}
#Header #LoginRegister a:last-child {
  margin-right: 0;
}
#Header #LoginRegister a.GetStarted {
  background-color: #0030ff;
  color: white;
  font-size: 24px;
  font-family: "Tourmaline Bold";
}
#Header #LoginRegister a.GetStarted:hover {
  background-color: #002be2;
}
#Header #LoginRegister a.SignIn {
  color: #adadad;
  font-size: 24px;
  font-family: "Tourmaline Bold";
}
#Header #LoginRegister a.SignIn:hover {
  background-color: #ccc;
  color: #0030ff;
}
@media screen and (max-width: 1460px) {
  #Header #LoginRegister a {
    padding: 2px 12px;
    margin: 12px 3px 0 0;
  }
  #Header #LoginRegister a.GetStarted {
    font-size: 22px;
  }
  #Header #LoginRegister a.SignIn {
    font-size: 22px;
  }
}
@media screen and (max-width: 1305px) {
  #Header #LoginRegister a {
    padding: 2px 7px;
    margin: 12px 5px 0 0;
    border-radius: 15px;
  }
  #Header #LoginRegister a.GetStarted {
    font-size: 17px;
  }
  #Header #LoginRegister a.SignIn {
    font-size: 17px;
  }
}
@media screen and (max-width: 1030px) {
  #Header #LoginRegister a {
    padding: 2px 7px;
    margin: 12px 2px 0 0;
    border-radius: 15px;
  }
  #Header #LoginRegister a.GetStarted {
    font-size: 14px;
  }
  #Header #LoginRegister a.SignIn {
    font-size: 14px;
  }
}
input.set {
  display: none;
}
#slide1:checked ~ .mask .overflow {
  margin-left: 0;
}
#slide2:checked ~ .mask .overflow {
  margin-left: -100%;
}
#slide3:checked ~ .mask .overflow {
  margin-left: -200%;
}
#slide4:checked ~ .mask .overflow {
  margin-left: -300%;
}
#slides {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
#slides .mask {
  width: 100%;
  overflow: hidden;
  margin: auto;
}
#slides .SlideHeader {
  font-family: "Tourmaline Bold";
  font-size: 36px;
  margin-bottom: 15px;
  padding-top: 130px;
}
#slides p {
  font-size: 32px;
}
#slides .SlideButton {
  display: block;
  margin: 10px;
  padding: 11px 35px;
  margin: 7px 5px 0 0;
  display: inline-block;
  text-decoration: none;
  border-radius: 35px;
  background-color: #ff0090;
  color: white;
  font-size: 36px;
  font-family: "Tourmaline Bold";
}
#slides .SlideButton:hover {
  background-color: #ff0085;
  color: white;
}
#slides .overflow {
  width: 400%;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#slides .slide {
  background: #fff none repeat scroll 0 0;
  float: left;
  height: 639px;
  line-height: normal;
  padding: 1%;
  width: 23%;
  color: white;
}
#slides .slide.slide1 {
  background-image: url(/images/Banners/b1.jpg);
  background-repeat: no-repeat;
}
#slides .slide.slide2 {
  background-image: url(/images/Banners/b2.jpg);
  background-repeat: no-repeat;
}
#slides .slide {
  /*line-height: 25px;*/
}
#controls {
  width: 100%;
}
#controls label {
  display: none;
  width: 5%;
  height: 60px;
  /*opacity: 0.3;*/
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  /*background: #000;*/
  /*width:15px;
    height:24px;*/
}
#controls label:hover {
  opacity: 0.8;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4) {
  right: 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-child(2) img,
#slide2:checked ~ #controls label:nth-child(3) img,
#slide3:checked ~ #controls label:nth-child(4) img {
  transform: rotate(-180deg);
}
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3) {
  left: 0;
  display: block;
}
body {
  background-color: white;
}
#Banners img {
  max-width: 100%;
}
#ShopFeatures {
  margin-top: 20px;
}
#ShopFeatures .FeatureItem {
  color: #3e4ba0;
  font-size: 16px;
}
#ShopFeatures .FeatureItem h2 {
  font-weight: bold;
  margin: 32px 0 5px 0;
  font-size: 20px;
  line-height: normal;
  display: inline-block;
  font-family: "Tourmaline Bold";
}
#ShopFeatures .FeatureItem img,
#ShopFeatures .FeatureItem svg {
  float: left;
  margin-right: 20px;
  width: 150px;
}
#ShopDetails {
  text-align: center;
  margin: 40px 0 30px 0;
  padding-top: 40px;
  border-top: 1px solid #d2d2d2;
}
#ShopDetails h1 {
  color: #3e4ba0;
  font-family: "Tourmaline Bold";
  font-size: 30px;
}
#ShopDetails p {
  color: #3a4857;
}
#ShopDetails > p {
  margin-bottom: 50px;
  font-size: 22px;
  display: block;
}
#ShopDetails .DetailItem {
  margin-bottom: 50px;
  display: block;
}
#ShopDetails .DetailItem p {
  font-size: 14px;
  text-align: left;
  line-height: 1.9em;
}
#ShopDetails .DetailItem h2 {
  font-weight: bold;
  margin: 5px 0 5px 0;
  font-size: 20px;
  line-height: normal;
  font-family: "Tourmaline Bold";
  text-align: left;
  color: #3e4ba0;
}
#ShopDetails .DetailItem img,
#ShopDetails .DetailItem svg {
  float: left;
  margin-right: 20px;
  width: 150px;
  padding: 15px;
}
#Pricing {
  text-align: center;
  margin: 40px 0 30px 0;
  padding-top: 40px;
  border-top: 1px solid #d2d2d2;
}
#Pricing h2 {
  color: #3e4ba0;
  font-family: "Tourmaline Bold";
  font-size: 30px;
}
#Pricing p {
  color: #3a4857;
}
#Pricing > p {
  margin-bottom: 50px;
  font-size: 22px;
  display: block;
}
#Pricing #PricingItems {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
#Pricing #PricingItems.container {
  max-width: 1280px;
}
#Pricing #PricingItems .PricingItem {
  border-radius: 20px;
  background-color: white;
  padding-bottom: 30px;
}
#Pricing #PricingItems .PricingItem p {
  text-align: left;
  padding-left: 45px;
}
#Pricing #PricingItems .PricingItem h2 {
  color: #4e4e4e;
  font-size: 24px;
  margin: 0 20px 20px 20px;
  padding: 20px;
  border-bottom: 1px solid #d2d2d2;
  font-family: "Tourmaline Bold";
  letter-spacing: 1px;
}
#Pricing #PricingItems .PricingItem .price {
  background-image: url(/images/price-slice.png);
  background-repeat: no-repeat;
  background-position: 139px 0;
  display: block;
}
#Pricing #PricingItems .PricingItem .price .first {
  color: #3e4ba0;
  font-weight: bold;
  font-family: "Tourmaline Bold";
  font-size: 25px;
}
#Pricing #PricingItems .PricingItem .price .second {
  line-height: 35px;
  color: #808080;
}
#About {
  text-align: center;
  margin: 40px 0 30px 0;
  padding-top: 40px;
  border-top: 1px solid #d2d2d2;
}
#About h2 {
  color: #3e4ba0;
  font-family: "Tourmaline Bold";
  font-size: 30px;
}
#About > p {
  margin-bottom: 50px;
  font-size: 22px;
  display: block;
}
#Contact {
  text-align: center;
  margin: 40px 0 30px 0;
  padding-top: 40px;
  border-top: 1px solid #d2d2d2;
}
#Contact h2 {
  color: #3e4ba0;
  font-family: "Tourmaline Bold";
  font-size: 30px;
}
#Contact > p {
  margin-bottom: 50px;
  font-size: 22px;
  display: block;
}
#Pricing h2,
#ShopDetails h1,
#About h2,
#Contact h2 {
  transition: all 4s;
}
h1.activeHeader,
#Pricing h2.activeHeader,
#ShopDetails h1.activeHeader,
#About h2.activeHeader,
#Contact h2.activeHeader {
  color: #0030ff;
  transition: all 4s;
}
/*LOGIN REGISTER BEGINS*/
/*#LoginRegisterPage {
    background-color: #1da16a;
}*/
#LoginRegisterCon {
  min-height: 480px;
  width: 1000px;
  color: #5a5a5a;
  margin-top: 70px;
}
#LoginRegisterCon * {
  line-height: normal;
}
#StoreNamePreview {
  padding: 5px;
  font-size: 18px;
}
#StoreNamePreview span {
  color: #a1a1a1;
}
#LoginRegisterCon a,
#LoginRegisterCon a:visited {
  color: #5a5a5a;
  text-decoration: underline;
}
#LoginRegisterCon a:hover {
  color: #2b2b2b;
}
#LoginRegisterCon p {
  padding: 20px 0 20px 0;
}
#LoginRegisterCon h2 {
  font-size: 22px;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}
#LoginRegisterCon #LoginRegisterForm {
  width: 90%;
  padding: 50px;
  background: #f1f1f1;
  box-shadow: 3px 5px 4px -5px rgba(0, 0, 0, 0.28);
}
#LoginRegisterCon h1 {
  color: #5a5a5a;
  font-size: 22px;
  letter-spacing: 2px;
  padding-left: 10px;
}
#LoginRegisterCon select,
#LoginRegisterCon input[type=email],
input[type=text],
#LoginRegisterCon input[type=password],
#LoginRegisterCon button[type=submit] {
  color: #333;
  padding: 8px 25px;
  border: 1px solid #a2b5be;
  border-radius: 0;
  text-decoration: none;
  margin-top: 15px;
  font-size: 25px;
  outline: 0;
  display: block;
  width: 100%;
  height: auto;
}
#LoginRegisterCon input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bebebe;
  opacity: 1;
  /* Firefox */
}
#LoginRegisterCon input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bebebe;
}
#LoginRegisterCon input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bebebe;
}
#LoginRegisterCon input:focus {
  border: 1px solid #0099dc;
}
#LoginRegisterCon button[type=submit] {
  border: none;
  color: #f1f1f1;
  /*background-image: linear-gradient(to top, #e30d0d, #f5003b, #ff0064, #ff008e, #f600b9);*/
  max-width: 220px;
  background-color: #ff0090;
  font-size: 25px;
  font-family: "Tourmaline Bold";
  padding: 7px 25px;
  margin: 7px 5px 0 0;
  display: inline-block;
  text-decoration: none;
  /* border: 1px solid #e7e7e7; */
  border-radius: 25px;
}
#LoginRegisterCon button[type=submit]:hover {
  border: none;
  color: #fff;
  background-image: linear-gradient(to top, #ff0090, #fc002e, #ff004d, #ff0069, #ff0085);
}
#LoginRegisterCon .checkbox {
  margin-top: 10px;
}
#LoginRegisterCon .checkbox label,
#LoginRegisterCon .checkbox a {
  display: inline-block;
}
#LoginRegisterCon #RegisterLoginNow {
  display: inline-block;
  color: #5a5a5a;
  padding: 13px 35px;
  border: 1px solid #bebebe;
  border-radius: 28px;
  text-decoration: none;
  margin-top: 15px;
  font-size: 18px;
  margin-top: 40%;
  letter-spacing: 2px;
}
#LoginRegisterCon #RegisterLoginNow.LoginNow {
  margin-top: 200px;
}
#LoginRegisterCon #RegisterLoginNow:hover {
  border: 1px solid #fc002e;
  color: white;
  background-image: linear-gradient(to top, #f20000, #fc002e, #ff004d, #ff0069, #ff0085);
}
/*LOGIN REGISTER ENDS*/
#Footer {
  border-top: 1px solid #e3e3e3;
  background-color: #0030ff;
  color: white;
  padding: 40px;
  margin-top: 20px;
  min-height: 200px;
  /*ul {
        padding-top: 10px;
        margin-bottom: 0;
        padding-left: 0;
        line-height: 15px;

        li {
            list-style: none;

            a {
                padding: 5px 0 5px 0px;
                text-decoration: none;
                color: #5f5f5f;
                font-size: 13px;
            }
        }
    }*/
}
#Footer p {
  font-weight: bold;
  margin-bottom: 0;
}
#Footer #FooterMenu {
  padding-top: 15px;
  margin-bottom: 0;
}
#Footer #FooterMenu li {
  list-style: none;
  display: inline-block;
}
#Footer #FooterMenu li a {
  padding: 5px 10px;
  text-decoration: none;
  color: #e6e6e6;
}
#Footer #FooterMenu li a:hover {
  color: white !important;
}
#Footer #Rights {
  text-align: center;
  color: #899ef5;
  line-height: 50px;
}