﻿@font-face {
    font-family: 'Tourmaline Bold';
    font-style: normal;
    font-weight: normal;
    src: local('fonts/Tourmaline Bold'), url('fonts/Tourmaline-Bold.woff') format('woff');
}


body {
    padding: 0;
    margin: 0;
    background-color: #e9e9e9 !important;
}

.container {
    max-width: 1200px;
}

.text-center
{
    text-align:center;
}

#GeneralPage {
    padding: 50px;
    word-break:break-all;
    text-align:center;
    h1 {
        margin: 10px;
        font-weight: bold;
        font-family: 'Tourmaline Bold';
        color: #333;
        font-size:28px;
    }
}


.warn, .suc, .dang {
    border-radius: 10px;
    display: block;
    padding: 12px 24px;
}

 .warn {
    background-color: #faf6df;
    color: #6d5d29;
}

 .suc {
    background-color: #e0f3d8;
    color: #345326;
}

.dang {
    background-color: #da115d;
    color: white;
}
