﻿#Footer {
    border-top: 1px solid #e3e3e3;
    background-color: #0030ff;
    color: white;
    padding: 40px;
    margin-top: 20px;
    min-height: 200px;

    p {
        font-weight: bold;
        margin-bottom: 0;
    }


    #FooterMenu {
        padding-top: 15px;
        margin-bottom: 0;

        li {
            list-style: none;
            display: inline-block;

            a {
                padding: 5px 10px;
                text-decoration: none;
                color: #e6e6e6;

                &:hover {
                    color: white !important;
                }
            }
        }
    }

    #Rights {
        text-align: center;
        color: #899ef5;
        line-height:50px;
    }

    /*ul {
        padding-top: 10px;
        margin-bottom: 0;
        padding-left: 0;
        line-height: 15px;

        li {
            list-style: none;

            a {
                padding: 5px 0 5px 0px;
                text-decoration: none;
                color: #5f5f5f;
                font-size: 13px;
            }
        }
    }*/
}
