﻿@import "pages/menu";

body.sticky {
    padding-top: 76px;

    #Header {
        position: fixed;
        z-index: 999;
        width: 100%;
        max-width: 100%;
        display: block;
        top: 0;
        box-shadow: -1px 3px 5px -3px rgba(0,0,0,0.37);
    }
}

#Header {
    /*border-bottom: 1px solid #ccc;*/
    background-color: white;

    & > div {
        padding: 5px 30px;
    }

    #Logo {
        color: #000000;
        display: inline-block;
        text-decoration: none !important;
        font-size: 30px;
        font-weight: bold;
        padding: 10px 0 0 0px;

        img {
            height: 42px;
            width: 424px;
        }

        @media screen and (max-width:1280px) {
            img {
                height: auto;
                width: 324px;
                padding-top: 3px;
            }
        }

        @media screen and (max-width:1080px) {
            img {
                height: auto;
                width: 250px;
                padding-top: 3px;
            }
        }
    }

    #Search {
        form {
            max-width: 100%;
            margin: 10px 0 0 0;
            position: relative;
            width: 250px;
            display: block;

            input {
                max-width: 100%;
                padding-left: 10px;
                width: 100%;
                height: 38px;
            }

            button {
                border: 1px solid #ccc;
                color: #333;
                position: absolute;
                top: 3px;
                right: 3px;
                font-size: 11px;
                font-weight: normal;
                padding: 0 7px 0 7px;
                height: 32px;
                background-color: #b6b6b6;
                line-height: normal;

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }

    #LoginRegister {
        text-align: right;

        a {
            padding: 3px 15px;
            margin: 10px 5px 0 0;
            display: inline-block;
            text-decoration: none;
            /*border: 1px solid #e7e7e7;*/
            border-radius: 20px;
        }

        a:last-child {
            margin-right: 0;
        }

        a.GetStarted {
            background-color: #0030ff;
            color: white;
            font-size: 24px;
            font-family: "Tourmaline Bold";

            &:hover {
                background-color: #002be2;
            }
        }

        a.SignIn {
            color: #adadad;
            font-size: 24px;
            font-family: "Tourmaline Bold";

            &:hover {
                background-color: #ccc;
                color: #0030ff;
            }
        }


        @media screen and (max-width:1460px) {

            a {
                padding: 2px 12px;
                margin: 12px 3px 0 0;
            }

            a.GetStarted {
                font-size: 22px;
            }

            a.SignIn {
                font-size: 22px;
            }
        }


        @media screen and (max-width:1305px) {

            a {
                padding: 2px 7px;
                margin: 12px 5px 0 0;
                border-radius: 15px;
            }

            a.GetStarted {
                font-size: 17px;
            }

            a.SignIn {
                font-size: 17px;
            }
        }



        @media screen and (max-width:1030px) {

            a {
                padding: 2px 7px;
                margin: 12px 2px 0 0;
                border-radius: 15px;
            }

            a.GetStarted {
                font-size: 14px;
            }

            a.SignIn {
                font-size: 14px;
            }
        }
    }
}
