﻿@font-face {
  font-family: 'Tourmaline Bold';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/Tourmaline Bold'), url('fonts/Tourmaline-Bold.woff') format('woff');
}
body {
  padding: 0;
  margin: 0;
  background-color: #e9e9e9 !important;
}
.container {
  max-width: 1200px;
}
.text-center {
  text-align: center;
}
#GeneralPage {
  padding: 50px;
  word-break: break-all;
  text-align: center;
}
#GeneralPage h1 {
  margin: 10px;
  font-weight: bold;
  font-family: 'Tourmaline Bold';
  color: #333;
  font-size: 28px;
}
.warn,
.suc,
.dang {
  border-radius: 10px;
  display: block;
  padding: 12px 24px;
}
.warn {
  background-color: #faf6df;
  color: #6d5d29;
}
.suc {
  background-color: #e0f3d8;
  color: #345326;
}
.dang {
  background-color: #da115d;
  color: white;
}
#Menu {
  padding-top: 20px;
  margin-bottom: 0;
  text-align: center;
}
#Menu li {
  list-style: none;
  display: inline-block;
}
#Menu li a {
  padding: 5px 10px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #5f5f5f;
}
#Menu li a:hover,
#Menu li a:active,
#Menu li a:focus,
#Menu li a:target {
  color: #0030ff !important;
}
@media screen and (max-width: 1570px) {
  #Menu li a {
    padding: 3px 5px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 1080px) {
  #Menu li a {
    padding: 3px 2px;
  }
}
@media screen and (max-width: 980px) {
  #Menu li a {
    padding: 3px 1px;
    font-size: 13px;
  }
}
@media screen and (min-width: 1800px) {
  #Menu {
    padding-right: 115px;
  }
}
@media screen and (max-width: 1570px) {
  #Menu {
    padding-top: 16px;
  }
}
body.sticky {
  padding-top: 76px;
}
body.sticky #Header {
  position: fixed;
  z-index: 999;
  width: 100%;
  max-width: 100%;
  display: block;
  top: 0;
  box-shadow: -1px 3px 5px -3px rgba(0, 0, 0, 0.37);
}
#Header {
  /*border-bottom: 1px solid #ccc;*/
  background-color: white;
}
#Header > div {
  padding: 5px 30px;
}
#Header #Logo {
  color: #000000;
  display: inline-block;
  text-decoration: none !important;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 0 0px;
}
#Header #Logo img {
  height: 42px;
  width: 424px;
}
@media screen and (max-width: 1280px) {
  #Header #Logo img {
    height: auto;
    width: 324px;
    padding-top: 3px;
  }
}
@media screen and (max-width: 1080px) {
  #Header #Logo img {
    height: auto;
    width: 250px;
    padding-top: 3px;
  }
}
#Header #Search form {
  max-width: 100%;
  margin: 10px 0 0 0;
  position: relative;
  width: 250px;
  display: block;
}
#Header #Search form input {
  max-width: 100%;
  padding-left: 10px;
  width: 100%;
  height: 38px;
}
#Header #Search form button {
  border: 1px solid #ccc;
  color: #333;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 11px;
  font-weight: normal;
  padding: 0 7px 0 7px;
  height: 32px;
  background-color: #b6b6b6;
  line-height: normal;
}
#Header #Search form button:hover {
  background-color: #000;
  color: #fff;
}
#Header #LoginRegister {
  text-align: right;
}
#Header #LoginRegister a {
  padding: 3px 15px;
  margin: 10px 5px 0 0;
  display: inline-block;
  text-decoration: none;
  /*border: 1px solid #e7e7e7;*/
  border-radius: 20px;
}
#Header #LoginRegister a:last-child {
  margin-right: 0;
}
#Header #LoginRegister a.GetStarted {
  background-color: #0030ff;
  color: white;
  font-size: 24px;
  font-family: "Tourmaline Bold";
}
#Header #LoginRegister a.GetStarted:hover {
  background-color: #002be2;
}
#Header #LoginRegister a.SignIn {
  color: #adadad;
  font-size: 24px;
  font-family: "Tourmaline Bold";
}
#Header #LoginRegister a.SignIn:hover {
  background-color: #ccc;
  color: #0030ff;
}
@media screen and (max-width: 1460px) {
  #Header #LoginRegister a {
    padding: 2px 12px;
    margin: 12px 3px 0 0;
  }
  #Header #LoginRegister a.GetStarted {
    font-size: 22px;
  }
  #Header #LoginRegister a.SignIn {
    font-size: 22px;
  }
}
@media screen and (max-width: 1305px) {
  #Header #LoginRegister a {
    padding: 2px 7px;
    margin: 12px 5px 0 0;
    border-radius: 15px;
  }
  #Header #LoginRegister a.GetStarted {
    font-size: 17px;
  }
  #Header #LoginRegister a.SignIn {
    font-size: 17px;
  }
}
@media screen and (max-width: 1030px) {
  #Header #LoginRegister a {
    padding: 2px 7px;
    margin: 12px 2px 0 0;
    border-radius: 15px;
  }
  #Header #LoginRegister a.GetStarted {
    font-size: 14px;
  }
  #Header #LoginRegister a.SignIn {
    font-size: 14px;
  }
}
input.set {
  display: none;
}
#slide1:checked ~ .mask .overflow {
  margin-left: 0;
}
#slide2:checked ~ .mask .overflow {
  margin-left: -100%;
}
#slide3:checked ~ .mask .overflow {
  margin-left: -200%;
}
#slide4:checked ~ .mask .overflow {
  margin-left: -300%;
}
#slides {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
#slides .mask {
  width: 100%;
  overflow: hidden;
  margin: auto;
}
#slides .SlideHeader {
  font-family: "Tourmaline Bold";
  font-size: 36px;
  margin-bottom: 15px;
  padding-top: 130px;
}
#slides p {
  font-size: 32px;
}
#slides .SlideButton {
  display: block;
  margin: 10px;
  padding: 11px 35px;
  margin: 7px 5px 0 0;
  display: inline-block;
  text-decoration: none;
  border-radius: 35px;
  background-color: #ff0090;
  color: white;
  font-size: 36px;
  font-family: "Tourmaline Bold";
}
#slides .SlideButton:hover {
  background-color: #ff0085;
  color: white;
}
#slides .overflow {
  width: 400%;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#slides .slide {
  background: #fff none repeat scroll 0 0;
  float: left;
  height: 639px;
  line-height: normal;
  padding: 1%;
  width: 23%;
  color: white;
}
#slides .slide.slide1 {
  background-image: url(/images/Banners/b1.jpg);
  background-repeat: no-repeat;
}
#slides .slide.slide2 {
  background-image: url(/images/Banners/b2.jpg);
  background-repeat: no-repeat;
}
#slides .slide {
  /*line-height: 25px;*/
}
#controls {
  width: 100%;
}
#controls label {
  display: none;
  width: 5%;
  height: 60px;
  /*opacity: 0.3;*/
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  /*background: #000;*/
  /*width:15px;
    height:24px;*/
}
#controls label:hover {
  opacity: 0.8;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4) {
  right: 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-child(2) img,
#slide2:checked ~ #controls label:nth-child(3) img,
#slide3:checked ~ #controls label:nth-child(4) img {
  transform: rotate(-180deg);
}
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3) {
  left: 0;
  display: block;
}
body {
  background-color: white;
}
#Banners img {
  max-width: 100%;
}
#ShopFeatures {
  margin-top: 20px;
}
#ShopFeatures .FeatureItem {
  color: #3e4ba0;
  font-size: 16px;
}
#ShopFeatures .FeatureItem h2 {
  font-weight: bold;
  margin: 32px 0 5px 0;
  font-size: 20px;
  line-height: normal;
  display: inline-block;
  font-family: "Tourmaline Bold";
}
#ShopFeatures .FeatureItem img,
#ShopFeatures .FeatureItem svg {
  float: left;
  margin-right: 20px;
  width: 150px;
}
#ShopDetails {
  text-align: center;
  margin: 40px 0 30px 0;
  padding-top: 40px;
  border-top: 1px solid #d2d2d2;
}
#ShopDetails h1 {
  color: #3e4ba0;
  font-family: "Tourmaline Bold";
  font-size: 30px;
}
#ShopDetails p {
  color: #3a4857;
}
#ShopDetails > p {
  margin-bottom: 50px;
  font-size: 22px;
  display: block;
}
#ShopDetails .DetailItem {
  margin-bottom: 50px;
  display: block;
}
#ShopDetails .DetailItem p {
  font-size: 14px;
  text-align: left;
  line-height: 1.9em;
}
#ShopDetails .DetailItem h2 {
  font-weight: bold;
  margin: 5px 0 5px 0;
  font-size: 20px;
  line-height: normal;
  font-family: "Tourmaline Bold";
  text-align: left;
  color: #3e4ba0;
}
#ShopDetails .DetailItem img,
#ShopDetails .DetailItem svg {
  float: left;
  margin-right: 20px;
  width: 150px;
  padding: 15px;
}
#Pricing {
  text-align: center;
  margin: 40px 0 30px 0;
  padding-top: 40px;
  border-top: 1px solid #d2d2d2;
}
#Pricing h2 {
  color: #3e4ba0;
  font-family: "Tourmaline Bold";
  font-size: 30px;
}
#Pricing p {
  color: #3a4857;
}
#Pricing > p {
  margin-bottom: 50px;
  font-size: 22px;
  display: block;
}
#Pricing #PricingItems {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
#Pricing #PricingItems.container {
  max-width: 1280px;
}
#Pricing #PricingItems .PricingItem {
  border-radius: 20px;
  background-color: white;
  padding-bottom: 30px;
}
#Pricing #PricingItems .PricingItem p {
  text-align: left;
  padding-left: 45px;
}
#Pricing #PricingItems .PricingItem h2 {
  color: #4e4e4e;
  font-size: 24px;
  margin: 0 20px 20px 20px;
  padding: 20px;
  border-bottom: 1px solid #d2d2d2;
  font-family: "Tourmaline Bold";
  letter-spacing: 1px;
}
#Pricing #PricingItems .PricingItem .price {
  background-image: url(/images/price-slice.png);
  background-repeat: no-repeat;
  background-position: 139px 0;
  display: block;
}
#Pricing #PricingItems .PricingItem .price .first {
  color: #3e4ba0;
  font-weight: bold;
  font-family: "Tourmaline Bold";
  font-size: 25px;
}
#Pricing #PricingItems .PricingItem .price .second {
  line-height: 35px;
  color: #808080;
}
#About {
  text-align: center;
  margin: 40px 0 30px 0;
  padding-top: 40px;
  border-top: 1px solid #d2d2d2;
}
#About h2 {
  color: #3e4ba0;
  font-family: "Tourmaline Bold";
  font-size: 30px;
}
#About > p {
  margin-bottom: 50px;
  font-size: 22px;
  display: block;
}
#Contact {
  text-align: center;
  margin: 40px 0 30px 0;
  padding-top: 40px;
  border-top: 1px solid #d2d2d2;
}
#Contact h2 {
  color: #3e4ba0;
  font-family: "Tourmaline Bold";
  font-size: 30px;
}
#Contact > p {
  margin-bottom: 50px;
  font-size: 22px;
  display: block;
}
#Pricing h2,
#ShopDetails h1,
#About h2,
#Contact h2 {
  transition: all 4s;
}
h1.activeHeader,
#Pricing h2.activeHeader,
#ShopDetails h1.activeHeader,
#About h2.activeHeader,
#Contact h2.activeHeader {
  color: #0030ff;
  transition: all 4s;
}
/*LOGIN REGISTER BEGINS*/
/*#LoginRegisterPage {
    background-color: #1da16a;
}*/
#LoginRegisterCon {
  min-height: 480px;
  width: 1000px;
  color: #5a5a5a;
  margin-top: 70px;
}
#LoginRegisterCon * {
  line-height: normal;
}
#StoreNamePreview {
  padding: 5px;
  font-size: 18px;
}
#StoreNamePreview span {
  color: #a1a1a1;
}
#LoginRegisterCon a,
#LoginRegisterCon a:visited {
  color: #5a5a5a;
  text-decoration: underline;
}
#LoginRegisterCon a:hover {
  color: #2b2b2b;
}
#LoginRegisterCon p {
  padding: 20px 0 20px 0;
}
#LoginRegisterCon h2 {
  font-size: 22px;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}
#LoginRegisterCon #LoginRegisterForm {
  width: 90%;
  padding: 50px;
  background: #f1f1f1;
  box-shadow: 3px 5px 4px -5px rgba(0, 0, 0, 0.28);
}
#LoginRegisterCon h1 {
  color: #5a5a5a;
  font-size: 22px;
  letter-spacing: 2px;
  padding-left: 10px;
}
#LoginRegisterCon select,
#LoginRegisterCon input[type=email],
input[type=text],
#LoginRegisterCon input[type=password],
#LoginRegisterCon button[type=submit] {
  color: #333;
  padding: 8px 25px;
  border: 1px solid #a2b5be;
  border-radius: 0;
  text-decoration: none;
  margin-top: 15px;
  font-size: 25px;
  outline: 0;
  display: block;
  width: 100%;
  height: auto;
}
#LoginRegisterCon input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bebebe;
  opacity: 1;
  /* Firefox */
}
#LoginRegisterCon input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bebebe;
}
#LoginRegisterCon input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bebebe;
}
#LoginRegisterCon input:focus {
  border: 1px solid #0099dc;
}
#LoginRegisterCon button[type=submit] {
  border: none;
  color: #f1f1f1;
  /*background-image: linear-gradient(to top, #e30d0d, #f5003b, #ff0064, #ff008e, #f600b9);*/
  max-width: 220px;
  background-color: #ff0090;
  font-size: 25px;
  font-family: "Tourmaline Bold";
  padding: 7px 25px;
  margin: 7px 5px 0 0;
  display: inline-block;
  text-decoration: none;
  /* border: 1px solid #e7e7e7; */
  border-radius: 25px;
}
#LoginRegisterCon button[type=submit]:hover {
  border: none;
  color: #fff;
  background-image: linear-gradient(to top, #ff0090, #fc002e, #ff004d, #ff0069, #ff0085);
}
#LoginRegisterCon .checkbox {
  margin-top: 10px;
}
#LoginRegisterCon .checkbox label,
#LoginRegisterCon .checkbox a {
  display: inline-block;
}
#LoginRegisterCon #RegisterLoginNow {
  display: inline-block;
  color: #5a5a5a;
  padding: 13px 35px;
  border: 1px solid #bebebe;
  border-radius: 28px;
  text-decoration: none;
  margin-top: 15px;
  font-size: 18px;
  margin-top: 40%;
  letter-spacing: 2px;
}
#LoginRegisterCon #RegisterLoginNow.LoginNow {
  margin-top: 200px;
}
#LoginRegisterCon #RegisterLoginNow:hover {
  border: 1px solid #fc002e;
  color: white;
  background-image: linear-gradient(to top, #f20000, #fc002e, #ff004d, #ff0069, #ff0085);
}
/*LOGIN REGISTER ENDS*/
#Footer {
  border-top: 1px solid #e3e3e3;
  background-color: #0030ff;
  color: white;
  padding: 40px;
  margin-top: 20px;
  min-height: 200px;
  /*ul {
        padding-top: 10px;
        margin-bottom: 0;
        padding-left: 0;
        line-height: 15px;

        li {
            list-style: none;

            a {
                padding: 5px 0 5px 0px;
                text-decoration: none;
                color: #5f5f5f;
                font-size: 13px;
            }
        }
    }*/
}
#Footer p {
  font-weight: bold;
  margin-bottom: 0;
}
#Footer #FooterMenu {
  padding-top: 15px;
  margin-bottom: 0;
}
#Footer #FooterMenu li {
  list-style: none;
  display: inline-block;
}
#Footer #FooterMenu li a {
  padding: 5px 10px;
  text-decoration: none;
  color: #e6e6e6;
}
#Footer #FooterMenu li a:hover {
  color: white !important;
}
#Footer #Rights {
  text-align: center;
  color: #899ef5;
  line-height: 50px;
}